<template>
  <div class="wrap">
    <Header />
    <LogoHeader />
    <MainMenu /> 
    <Nuxt />

    <Subscribe />

    <FooterBottom />
  </div>
</template>
<script>
export default {
  async mounted() {
    await this.$axios.get('/settings').then((response) => {
      this.$store.commit('settings/add', response.data)
    })
  },
}
</script>
