<template >
  <div>
    <b-form-group label="Answer">
      <summernote
        :name="'answer_name'"
        ref="answer_name"
        :model="answer.name"
        v-on:change="value => { answer.name = value }"
      />
    </b-form-group>
    <b-form-group>
      <b-checkbox v-model="answer.is_true" value="1" unchecked-value="0">Is True</b-checkbox>
    </b-form-group>
    <b-form-group label="Point">
      <b-input v-model="answer.point" type="number" placeholder="point"></b-input>
    </b-form-group>
    <b-form-group label="Col">
      <b-select v-model="answer.col">
        <option value="1">col1</option>
        <option value="2">col2</option>
      </b-select>
    </b-form-group>
    <b-form-group label="Correct Id" v-if="answer.col==2">
      <b-input v-model="answer.correct_id" type="number" placeholder="correct answer id"></b-input>
    </b-form-group>
    <b-button variant="primary" class="w-100" @click="update">Submit</b-button>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>is true</th>
            <th>point</th>
            <th>col</th>
            <th></th>
        </tr>
        <tr v-for="item in items" :key="item.id">
            <td>{{item.id}}</td>
            <td v-html="item.name"></td>
            <td>{{item.is_true}}</td>
            <td>{{item.point}}</td>
            <td>{{item.col}}</td>
            <td>
                <b-button variant="success" class="pr-1" @click="select_answer(item)">Edit</b-button>
                <b-button variant="warning" @click="remove_answer(item)">Del</b-button>
                </td>
        </tr>
    </table>
  </div>
</template>
<script>
import { API_URL } from "../store/api";
export default {
  props: ["qid"],
  watch: { 
      	qid: function(newVal, oldVal) { // watch it
          this.init()
        }
      },
  data() {
    return {
      answer: {},
      items: []
    };
  },
  mounted() {
      this.init()
  },
  methods: {
    init() {
        var el = this
      axios
        .get(API_URL + "get_list/o_question_answer", {
          params: {
              filter:{question_id:this.qid}
          }
        })
        .then(function(res) {
          el.items = res.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    select_answer(item) {
      this.answer = item;
      this.$refs.answer_name.run("code", this.answer.name);
    },
    update() {
      var el = this;
      console.log(this.answer)
      this.answer.question_id = this.qid;
      axios
        .post(API_URL + "add_or_update/o_question_answer", this.answer)
        .then(function(response) {
          el.init();
          el.answer = {};
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    remove_answer(item) {
      if (confirm("Are you sure?")) {
        var el = this;
        axios
          .post(API_URL + "destory/o_question_answer", item)
          .then(function(response) {
            el.init()
            el.answer = {}
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    }
  }
};
</script>