<template>
  <footer class="app-footer">
    <span><a href="http://nio.kz">Nio KZ</a> &copy; 2018 nio team.</span>
    <span class="ml-auto">Powered by <a href="http://nio.kz">NIO Team</a></span>
  </footer>
</template>
<script>
export default {
  name: 'c-footer'
}
</script>
