<template>
  <header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button" @click="mobileSidebarToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <b-link class="navbar-brand" to="#"></b-link>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" @click="sidebarToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--<b-navbar-nav class="d-md-down-none">-->
      <!--<b-nav-item class="px-3">Дашборд</b-nav-item>-->
      <!--<b-nav-item class="px-3"> <b-link to="/new-card">Шинэ захиалга үүсгэх</b-link></b-nav-item>-->
        <!--<b-nav-item class="px-3">Захиалгын зааврууд</b-nav-item>-->
    <!--</b-navbar-nav>-->
    <b-navbar-nav class="ml-auto">
      <b-nav-item class="d-md-down-none">
        <i class="fa fa-cart-arrow-down"></i>
        <b-badge pill variant="info">5</b-badge>
      </b-nav-item>
      <HeaderDropdown/>
    </b-navbar-nav>
    <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" @click="asideToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
  </header>
</template>
<script>
  import HeaderDropdown from './HeaderDropdown.vue'

  export default {
    name: 'c-header',
    components: {
      HeaderDropdown
    },
    methods: {
      sidebarToggle (e) {
        e.preventDefault();
        document.body.classList.toggle('sidebar-hidden')
      },
      sidebarMinimize (e) {
        e.preventDefault();
        document.body.classList.toggle('sidebar-minimized')
      },
      mobileSidebarToggle (e) {
        e.preventDefault();
        document.body.classList.toggle('sidebar-mobile-show')
      },
      asideToggle (e) {
        e.preventDefault();
        document.body.classList.toggle('aside-menu-hidden')
      }
    }
  }
</script>
