.nopad {
  padding-right: 0;
  padding-left: 0; }

.pad5 {
  padding-right: 5px;
  padding-left: 5px; }

.pad10 {
  padding-left: 10px;
  padding-right: 10px; }

.pad20 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.pad5left {
  padding-left: 5px;
  padding-right: 0; }

.pad5right {
  padding-left: 0;
  padding-right: 5px; }

.pad10left {
  padding-right: 0;
  padding-left: 10px; }

.pad10right {
  padding-left: 0;
  padding-right: 10px; }

.norow {
  margin: auto; }

.row5 {
  margin-left: -5px;
  margin-right: -5px; }

.row10 {
  margin-left: -10px;
  margin-right: -10px; }

.row20 {
  margin-left: -20px;
  margin-right: -20px; }

.row-left {
  margin-right: 0; }

.row-right {
  margin-left: 0; }

.img-responsive, .list-inline, .list-unstyled {
  margin: auto; }

.list-inline li {
  padding: 0; }

.v-mid:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: ''; }

.clr:after {
  clear: both;
  content: '';
  display: table; }

a:hover {
  text-decoration: none; }

.border-radius {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden; }

.form-control, .custom-select {
  border-radius: 20px;
  font-size: 0.85rem;
  height: 40px;
  padding: 5px 5px 5px 20px;
  border: none; }

textarea.form-control {
  padding: 10px 20px; }

.btn {
  padding: 10px 20px;
  line-height: 20px;
  font-size: 0.85rem;
  border-radius: 20px;
  border: none; }

.btn-secondary.btn-small {
  padding: 5px 10px; }

.btn-green {
  color: white;
  background-color: #8bc34a;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
  .btn-green:hover {
    background-color: white;
    color: #8bc34a;
    -webkit-box-shadow: inset 0 0 0 2px #8bc34a;
    -moz-box-shadow: inset 0 0 0 2px #8bc34a;
    -ms-box-shadow: inset 0 0 0 2px #8bc34a;
    -o-box-shadow: inset 0 0 0 2px #8bc34a;
    box-shadow: inset 0 0 0 2px #8bc34a; }
  .btn-green.btn-big {
    font-size: 1rem;
    padding: 10px 40px;
    -webkit-box-shadow: 0 0 0 3px white;
    -moz-box-shadow: 0 0 0 3px white;
    -ms-box-shadow: 0 0 0 3px white;
    -o-box-shadow: 0 0 0 3px white;
    box-shadow: 0 0 0 3px white;
    min-width: 200px; }
  .btn-green.btn-small {
    padding: 5px 10px; }

.btn-outline {
  color: white;
  -webkit-box-shadow: inset 0 0 0 3px white;
  -moz-box-shadow: inset 0 0 0 3px white;
  -ms-box-shadow: inset 0 0 0 3px white;
  -o-box-shadow: inset 0 0 0 3px white;
  box-shadow: inset 0 0 0 3px white; }
  .btn-outline:hover {
    background-color: white;
    color: #00bcd4;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); }

.btn-blue {
  color: white;
  background-color: #00bcd4;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
  .btn-blue:hover {
    background-color: white;
    color: #00bcd4;
    -webkit-box-shadow: inset 0 0 0 2px #00bcd4;
    -moz-box-shadow: inset 0 0 0 2px #00bcd4;
    -ms-box-shadow: inset 0 0 0 2px #00bcd4;
    -o-box-shadow: inset 0 0 0 2px #00bcd4;
    box-shadow: inset 0 0 0 2px #00bcd4; }

.btn-link {
  padding: 10px 0;
  color: #00bcd4;
  text-decoration: underline; }

.custom-control-label {
  color: white;
  margin-bottom: 20px;
  margin-left: 10px; }
  .custom-control-label:before {
    border-radius: 50% !important;
    border: none;
    top: 0; }
  .custom-control-label:after {
    top: 0; }

.btn-red {
  padding: 10px 15px;
  background-color: #f44336;
  color: white;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
  .btn-red:hover {
    color: #f44336;
    -webkit-box-shadow: inset 0 0 0 2px #f44336;
    -moz-box-shadow: inset 0 0 0 2px #f44336;
    -ms-box-shadow: inset 0 0 0 2px #f44336;
    -o-box-shadow: inset 0 0 0 2px #f44336;
    box-shadow: inset 0 0 0 2px #f44336;
    background-color: white; }

.btn-block + .btn-block {
  margin-top: 10px; }

h2 {
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.85rem;
  text-transform: uppercase;
  position: relative;
  padding: 10px 20px;
  margin: 10px auto; }
  h2 strong:before {
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 3px;
    border-radius: 2px;
    background-color: #00bcd4;
    content: '';
    width: 100px; }
  h2.center {
    text-align: center; }
    h2.center strong:before {
      left: 50%;
      margin-left: -50px; }
  h2.white {
    color: white; }
    h2.white strong:before {
      background-color: white; }
  h2 .timer {
    margin: 10px auto 0; }
    h2 .timer span {
      font-weight: 700;
      display: inline-block;
      background-color: #00bcd4;
      color: white;
      padding: 5px 10px;
      border-radius: 5px; }

h4.title {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 5px 10px;
  color: rgba(38, 50, 56, 0.7); }

.section {
  padding: 10px 0;
  margin-top: 20px; }
  .section.section-gray {
    background-color: rgba(38, 50, 56, 0.05); }
  .section.section-blue {
    background-color: #00bcd4; }

.uni-image {
  position: relative; }
  .uni-image:before {
    content: '';
    padding-bottom: 75%;
    display: block; }
  .uni-image span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.85rem; }

.top-container {
  background-color: #263238; }
  .top-container .top-links {
    font-size: 0.75rem; }
    .top-container .top-links a {
      display: block;
      line-height: 20px;
      padding: 5px 10px;
      color: white; }
    .top-container .top-links .phone-number a {
      padding: 5px 0 5px 10px; }
    .top-container .top-links .phone-number a + a {
      padding: 5px 10px; }
    .top-container .top-links span {
      margin-left: 3px; }
  .top-container .language-select a {
    display: block;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.7); }
  .top-container .language-select a:hover, .top-container .language-select .active a {
    background-color: white;
    color: #00bcd4; }
  .top-container .language-select img {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }

.logo-container {
  padding: 10px 0; }
  .logo-container .logo {
    height: 60px;
    display: inline-block; }
  .logo-container img {
    max-height: 100%; }

.menu-container {
  background-color: #00bcd4; }
  .menu-container .main-nav .active a, .menu-container .main-nav a:hover {
    background-color: #8bc34a;
    -webkit-box-shadow: 0 0 0 1px white;
    -moz-box-shadow: 0 0 0 1px white;
    -ms-box-shadow: 0 0 0 1px white;
    -o-box-shadow: 0 0 0 1px white;
    box-shadow: 0 0 0 1px white; }
  .menu-container .main-nav a {
    display: block;
    padding: 10px 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 700; }
  .menu-container .mobile-nav-top {
    display: none; }

.left-menu {
  margin: 20px auto;
  padding: 30px 20px 20px;
  background-color: #00bcd4; }
  .left-menu .form-group {
    margin-bottom: 10px; }
  .left-menu .social-login {
    border-top: 1px solid white;
    margin-top: 10px;
    padding-top: 10px; }
  .left-menu .forgot-password {
    color: white;
    text-decoration: underline;
    margin-top: 20px;
    display: block; }
  .left-menu .social-login li + li {
    margin-left: 5px; }
  .left-menu .social-login a {
    display: block;
    line-height: 40px;
    padding: 0 5px;
    width: 40px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 1px white;
    -moz-box-shadow: inset 0 0 0 1px white;
    -ms-box-shadow: inset 0 0 0 1px white;
    -o-box-shadow: inset 0 0 0 1px white;
    box-shadow: inset 0 0 0 1px white;
    font-size: 1rem;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out; }
    .left-menu .social-login a:hover {
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); }
  .left-menu .social-login .facebook a {
    background-color: #3b5999; }
    .left-menu .social-login .facebook a:hover {
      color: #3b5999;
      background-color: white; }
  .left-menu .social-login .mailru a {
    background-color: #168de2; }
    .left-menu .social-login .mailru a:hover {
      color: #168de2;
      background-color: white; }
  .left-menu .social-login .twitter a {
    background-color: #55acee; }
    .left-menu .social-login .twitter a:hover {
      color: #55acee;
      background-color: white; }
  .left-menu .social-login .vk a {
    background-color: #4c75a3; }
    .left-menu .social-login .vk a:hover {
      color: #4c75a3;
      background-color: white; }

.logged-left-menu {
  padding: 10px; }
  .logged-left-menu a {
    display: block;
    line-height: 20px;
    padding: 10px 10px 10px 20px;
    color: white;
    border-radius: 20px; }
  .logged-left-menu a:hover {
    -webkit-box-shadow: inset 0 0 0 3px white;
    -moz-box-shadow: inset 0 0 0 3px white;
    -ms-box-shadow: inset 0 0 0 3px white;
    -o-box-shadow: inset 0 0 0 3px white;
    box-shadow: inset 0 0 0 3px white; }
  .logged-left-menu .active a {
    background-color: white;
    color: rgba(38, 50, 56, 0.7); }
  .logged-left-menu li:first-child {
    margin-bottom: 9px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .logged-left-menu li:first-child a {
      font-size: 1rem; }
    .logged-left-menu li:first-child a:hover {
      -webkit-box-shadow: inset 0 0 0 3px transparent;
      -moz-box-shadow: inset 0 0 0 3px transparent;
      -ms-box-shadow: inset 0 0 0 3px transparent;
      -o-box-shadow: inset 0 0 0 3px transparent;
      box-shadow: inset 0 0 0 3px transparent; }
  .logged-left-menu li:last-child {
    margin: 10px auto;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 10px; }

.logged-top-buttons a + a {
  margin-left: 10px; }

.slide-container {
  padding-top: 20px;
  height: 100%;
  position: relative; }
  .slide-container .swiper-1 {
    height: 100%; }
  .slide-container .swiper-slide {
    position: relative; }
    .slide-container .swiper-slide .image {
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .slide-container .swiper-action {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-bottom: 10px; }
  .slide-container .swiper-button {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    left: auto;
    right: auto;
    background: no-repeat;
    font-size: 1.2rem;
    color: white;
    padding: 0 10px; }
  .slide-container .swiper-pagination {
    position: relative; }
    .slide-container .swiper-pagination .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background-color: white;
      border-radius: 50%;
      opacity: 0.5; }
    .slide-container .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
      margin-left: 5px; }
    .slide-container .swiper-pagination .swiper-pagination-bullet-active {
      background-color: white;
      position: relative;
      opacity: 1; }
      .slide-container .swiper-pagination .swiper-pagination-bullet-active:before {
        width: 9px;
        height: 9px;
        top: 3px;
        left: 3px;
        position: absolute;
        content: '';
        background-color: #263238;
        border-radius: 50%; }

.olympiad-score-container .single {
  text-align: center;
  background-color: white;
  margin: 10px auto;
  padding: 20px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out; }
  .olympiad-score-container .single img {
    max-height: 80px; }
  .olympiad-score-container .single .title {
    font-family: "Montserrat", sans-serif;
    margin: 10px auto;
    font-weight: 600;
    color: #263238; }
  .olympiad-score-container .single .text {
    font-size: 0.85rem;
    display: block;
    overflow: hidden;
    height: 60px;
    color: rgba(38, 50, 56, 0.9); }
  .olympiad-score-container .single:hover {
    background-color: #00bcd4; }
    .olympiad-score-container .single:hover .text, .olympiad-score-container .single:hover .title {
      color: white; }

.news-container .slide-container {
  padding: 0; }
  .news-container .slide-container .swiper-action {
    top: 10px;
    right: 10px;
    left: auto;
    bottom: auto;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .news-container .slide-container .swiper-slide:hover span:after {
    background: -webkit-linear-gradient(180deg, transparent, #00bcd4);
    background: -moz-linear-gradient(180deg, transparent, #00bcd4);
    background: -ms-linear-gradient(180deg, transparent, #00bcd4);
    background: -o-linear-gradient(180deg, transparent, #00bcd4);
    background: linear-gradient(180deg, transparent, #00bcd4); }
  .news-container .slide-container .swiper-slide span:after {
    content: '';
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 30%;
    background: -webkit-linear-gradient(180deg, transparent, rgba(38, 50, 56, 0.9));
    background: -moz-linear-gradient(180deg, transparent, rgba(38, 50, 56, 0.9));
    background: -ms-linear-gradient(180deg, transparent, rgba(38, 50, 56, 0.9));
    background: -o-linear-gradient(180deg, transparent, rgba(38, 50, 56, 0.9));
    background: linear-gradient(180deg, transparent, rgba(38, 50, 56, 0.9)); }
  .news-container .slide-container a {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    width: 100%;
    height: auto;
    color: white;
    padding: 20px; }
    .news-container .slide-container a p {
      margin: auto;
      font-size: 0.95rem; }
.news-container .single {
  position: relative;
  overflow: hidden;
  margin: 10px auto; }
  .news-container .single a {
    display: block; }
    .news-container .single a:hover:after {
      background: -webkit-linear-gradient(180deg, transparent, #00bcd4);
      background: -moz-linear-gradient(180deg, transparent, #00bcd4);
      background: -ms-linear-gradient(180deg, transparent, #00bcd4);
      background: -o-linear-gradient(180deg, transparent, #00bcd4);
      background: linear-gradient(180deg, transparent, #00bcd4); }
  .news-container .single a:before {
    content: '';
    padding-bottom: 75%;
    display: block; }
  .news-container .single a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: -webkit-linear-gradient(180deg, transparent, rgba(38, 50, 56, 0.9));
    background: -moz-linear-gradient(180deg, transparent, rgba(38, 50, 56, 0.9));
    background: -ms-linear-gradient(180deg, transparent, rgba(38, 50, 56, 0.9));
    background: -o-linear-gradient(180deg, transparent, rgba(38, 50, 56, 0.9));
    background: linear-gradient(180deg, transparent, rgba(38, 50, 56, 0.9));
    -webkit-transition: 0.2 ease-out;
    -moz-transition: 0.2 ease-out;
    -ms-transition: 0.2 ease-out;
    -o-transition: 0.2 ease-out;
    transition: 0.2 ease-out; }
  .news-container .single .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 10px;
    z-index: 1;
    color: white; }
    .news-container .single .text span {
      display: block;
      height: 40px;
      overflow: hidden; }
  .news-container .single.second-single {
    margin-top: 20px; }

.top-three li {
  padding: 5px 10px; }
.top-three .gold .medal h1 {
  -webkit-box-shadow: inset 0 0 0 5px #ffc107;
  -moz-box-shadow: inset 0 0 0 5px #ffc107;
  -ms-box-shadow: inset 0 0 0 5px #ffc107;
  -o-box-shadow: inset 0 0 0 5px #ffc107;
  box-shadow: inset 0 0 0 5px #ffc107; }
.top-three .gold .medal strong, .top-three .gold .medal small {
  color: #ffc107; }
.top-three .silver .medal h1 {
  -webkit-box-shadow: inset 0 0 0 5px #9e9e9e;
  -moz-box-shadow: inset 0 0 0 5px #9e9e9e;
  -ms-box-shadow: inset 0 0 0 5px #9e9e9e;
  -o-box-shadow: inset 0 0 0 5px #9e9e9e;
  box-shadow: inset 0 0 0 5px #9e9e9e; }
.top-three .silver .medal strong, .top-three .silver .medal small {
  color: #9e9e9e; }
.top-three .bronze .medal h1 {
  -webkit-box-shadow: inset 0 0 0 5px #e65100;
  -moz-box-shadow: inset 0 0 0 5px #e65100;
  -ms-box-shadow: inset 0 0 0 5px #e65100;
  -o-box-shadow: inset 0 0 0 5px #e65100;
  box-shadow: inset 0 0 0 5px #e65100; }
.top-three .bronze .medal strong, .top-three .bronze .medal small {
  color: #e65100; }
.top-three .medal h1 {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 5px #263238;
  -moz-box-shadow: inset 0 0 0 5px #263238;
  -ms-box-shadow: inset 0 0 0 5px #263238;
  -o-box-shadow: inset 0 0 0 5px #263238;
  box-shadow: inset 0 0 0 5px #263238;
  text-align: center; }
  .top-three .medal h1 strong, .top-three .medal h1 small {
    display: block;
    line-height: 1;
    font-family: "Montserrat", sans-serif; }
  .top-three .medal h1 strong {
    font-size: 2rem; }
  .top-three .medal h1 small {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px; }
.top-three .text {
  padding-left: 10px; }
  .top-three .text p {
    margin: auto; }
  .top-three .text small {
    font-weight: 700;
    text-transform: uppercase; }
  .top-three .text .score {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem; }

.testomonial-container .swiper-container {
  padding: 20px 0; }
.testomonial-container .swiper-button {
  background: none;
  font-size: 2rem;
  color: white; }
.testomonial-container .info {
  text-align: center;
  padding: 10px 0; }
  .testomonial-container .info p {
    margin: auto;
    color: white; }
  .testomonial-container .info .job {
    padding-top: 15px;
    font-size: .75rem;
    position: relative; }
    .testomonial-container .info .job:before {
      position: absolute;
      content: '';
      width: 50px;
      height: 3px;
      border-radius: 2px;
      background-color: white;
      top: 7px;
      left: 50%;
      margin-left: -25px; }
.testomonial-container .image {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
  -webkit-box-shadow: 0 0 0 3px white;
  -moz-box-shadow: 0 0 0 3px white;
  -ms-box-shadow: 0 0 0 3px white;
  -o-box-shadow: 0 0 0 3px white;
  box-shadow: 0 0 0 3px white; }
  .testomonial-container .image span {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
.testomonial-container .text {
  color: white;
  padding: 20px 60px;
  margin: auto;
  position: relative; }
  .testomonial-container .text:before, .testomonial-container .text:after {
    content: '';
    opacity: 0.5;
    color: white;
    position: absolute;
    font-size: 2rem;
    font-family: "FontAwesome"; }
  .testomonial-container .text:before {
    content: "\f10d";
    top: 0;
    left: 0; }
  .testomonial-container .text:after {
    content: "\f10e";
    bottom: 0;
    right: 0; }

.bottom-text {
  padding: 40px 0;
  background-color: rgba(38, 50, 56, 0.05);
  margin: auto; }
  .bottom-text .logo {
    height: 60px; }
    .bottom-text .logo img {
      max-height: 100%; }
  .bottom-text .text p {
    margin: auto; }

.footer {
  background-color: #263238;
  padding: 40px 0;
  margin: auto; }
  .footer p {
    color: rgba(255, 255, 255, 0.5);
    margin: auto; }
  .footer p + p {
    color: white;
    font-size: 1rem; }
  .footer .single + .single {
    margin-top: 10px; }
  .footer a {
    color: white;
    text-decoration: underline; }

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 0; }
  .footer-bottom p {
    color: rgba(255, 255, 255, 0.3);
    margin: auto;
    text-align: center;
    font-size: 0.75rem; }

.breadcrumb-container {
  background-color: rgba(38, 50, 56, 0.05);
  font-size: 0.75rem; }
  .breadcrumb-container a {
    display: block;
    color: #00bcd4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%; }
  .breadcrumb-container li {
    display: block;
    padding: 5px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px; }
  .breadcrumb-container li + li {
    position: relative; }
    .breadcrumb-container li + li:before {
      content: '/';
      position: absolute;
      top: 5px;
      left: -3px; }

.pagination-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  padding-top: 40px; }
  .pagination-container a {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7); }
  .pagination-container .active a, .pagination-container a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white; }
  .pagination-container li + li {
    margin-left: 5px; }
  .pagination-container li:first-child a, .pagination-container li:last-child a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #00bcd4;
    color: white;
    margin: 0 10px; }
  .pagination-container li:first-child .fa, .pagination-container li:last-child .fa {
    padding-top: 9px; }
  .pagination-container .disabled a {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.5) !important;
    opacity: 0.3; }

.news-list .news-list-padding {
  padding: 5px 20px 5px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }
.news-list .popular-list {
  padding: 5px 0; }
  .news-list .popular-list .single .info {
    margin-top: 10px;
    height: auto;
    padding-bottom: 20px; }
  .news-list .popular-list .single .text {
    display: none; }
.news-list .single {
  margin: 10px auto; }
  .news-list .single p {
    line-height: 20px;
    display: block;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.9); }
  .news-list .single .info {
    height: 140px;
    overflow: hidden;
    position: relative; }
  .news-list .single .date {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    display: block;
    width: 100%;
    height: 30px;
    margin: auto;
    padding-top: 10px;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.5); }
  .news-list .single .title, .news-list .single .uni-image {
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out; }
  .news-list .single:hover .title {
    color: #00bcd4; }
  .news-list .single:hover .uni-image {
    -webkit-box-shadow: 0 0 0 3px #00bcd4;
    -moz-box-shadow: 0 0 0 3px #00bcd4;
    -ms-box-shadow: 0 0 0 3px #00bcd4;
    -o-box-shadow: 0 0 0 3px #00bcd4;
    box-shadow: 0 0 0 3px #00bcd4; }

#login-modal .left-menu {
  margin: auto; }
  #login-modal .left-menu .forgot-password {
    margin: auto; }
  #login-modal .left-menu .custom-control-label {
    margin-bottom: 0; }
#login-modal .modal-body {
  padding: 0; }
#login-modal .modal-content {
  border: none; }
#login-modal .modal-footer {
  background-color: #00bcd4;
  border-top: 1px solid rgba(255, 255, 255, 0.3); }

.inner-content {
  padding: 0 10% 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .inner-content img {
    max-width: 100%;
    padding: 20px 0;
    margin: auto;
    display: block; }
  .inner-content ol, .inner-content ul, .inner-content p, .inner-content table {
    line-height: 1.6;
    font-size: 0.9rem; }
  .inner-content ul {
    list-style: none;
    padding-left: 30px; }
  .inner-content ul li:before {
    content: "\f105";
    font-family: "FontAwesome";
    margin-right: 5px; }
  .inner-content table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 100%;
    margin-bottom: 1rem; }
    .inner-content table td, .inner-content table th {
      padding: 5px;
      color: rgba(38, 50, 56, 0.9);
      border: 1px solid rgba(0, 0, 0, 0.1); }
    .inner-content table th {
      text-align: center; }
  .inner-content h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(38, 50, 56, 0.9);
    margin: 1.4rem auto 0.6rem; }

.register-form {
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgba(38, 50, 56, 0.05); }
  .register-form h2 {
    padding-left: 10px; }
    .register-form h2 strong:before {
      left: 10px; }
  .register-form h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 5px 10px;
    color: rgba(38, 50, 56, 0.7); }
  .register-form .custom-control-label {
    color: rgba(38, 50, 56, 0.9);
    font-size: 0.85rem;
    margin-top: 20px; }
    .register-form .custom-control-label a {
      color: #00bcd4;
      text-decoration: underline; }
  .register-form .custom-control-label:before {
    -webkit-box-shadow: inset 0 0 0 1px #00bcd4;
    -moz-box-shadow: inset 0 0 0 1px #00bcd4;
    -ms-box-shadow: inset 0 0 0 1px #00bcd4;
    -o-box-shadow: inset 0 0 0 1px #00bcd4;
    box-shadow: inset 0 0 0 1px #00bcd4; }
  .register-form .bottom-buttons {
    margin-top: 20px;
    padding: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .register-form .bottom-buttons .btn + .btn {
      margin-left: 10px; }
  .register-form .profile-image {
    padding: 10px 20px; }
    .register-form .profile-image .uni-image {
      max-width: 80%;
      margin-left: 10%;
      margin-bottom: 10px; }
    .register-form .profile-image .btn + .btn {
      margin-left: 10px; }
  .register-form .check-image {
    padding: 0 20px 10px; }
    .register-form .check-image .uni-image {
      max-width: 200px;
      margin: 0 auto 10px; }
  .register-form .cheque-text {
    font-size: 0.75rem;
    color: rgba(38, 50, 56, 0.7);
    margin: 10px auto 0; }
  .register-form .header-image {
    margin: -20px -20px 20px; }

.nio-tab {
  margin: 20px auto; }
  .nio-tab .nav-item + .nav-item {
    margin-left: 5px; }
  .nio-tab .nav-link {
    background-color: white;
    height: 120px;
    position: relative;
    border-radius: 20px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out; }
    .nio-tab .nav-link img {
      opacity: 0.7; }
    .nio-tab .nav-link strong {
      color: rgba(38, 50, 56, 0.7);
      font-family: "Montserrat", sans-serif; }
    .nio-tab .nav-link:hover {
      -webkit-box-shadow: inset 0 0 0 3px #00bcd4;
      -moz-box-shadow: inset 0 0 0 3px #00bcd4;
      -ms-box-shadow: inset 0 0 0 3px #00bcd4;
      -o-box-shadow: inset 0 0 0 3px #00bcd4;
      box-shadow: inset 0 0 0 3px #00bcd4; }
    .nio-tab .nav-link:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #00bcd4;
      visibility: hidden;
      bottom: -5px;
      -webkit-transition: 0.2s ease-out;
      -moz-transition: 0.2s ease-out;
      -ms-transition: 0.2s ease-out;
      -o-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
      opacity: 0; }
  .nio-tab .nav-link.active {
    padding: 20px 10px;
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 3px #00bcd4;
    -moz-box-shadow: inset 0 0 0 3px #00bcd4;
    -ms-box-shadow: inset 0 0 0 3px #00bcd4;
    -o-box-shadow: inset 0 0 0 3px #00bcd4;
    box-shadow: inset 0 0 0 3px #00bcd4; }
    .nio-tab .nav-link.active img {
      opacity: 1; }
    .nio-tab .nav-link.active strong {
      color: #00bcd4; }
    .nio-tab .nav-link.active:before {
      opacity: 1;
      visibility: visible;
      bottom: -10px; }
  .nio-tab img {
    max-width: 110px;
    max-height: 50px;
    margin-bottom: 10px; }

.payment-content .info-message {
  padding: 20px; }
  .payment-content .info-message p {
    margin: 0;
    color: rgba(38, 50, 56, 0.7); }
.payment-content .header-message {
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: inset 0 0 0 3px #00bcd4;
  -moz-box-shadow: inset 0 0 0 3px #00bcd4;
  -ms-box-shadow: inset 0 0 0 3px #00bcd4;
  -o-box-shadow: inset 0 0 0 3px #00bcd4;
  box-shadow: inset 0 0 0 3px #00bcd4; }
  .payment-content .header-message img {
    max-width: 80px;
    margin-right: 20px; }
.payment-content .payment-message {
  background-color: #00bcd4;
  border-bottom-right-radius: 20px;
  padding: 20px; }
  .payment-content .payment-message span {
    display: block;
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 0.75rem;
    color: white; }
  .payment-content .payment-message img {
    -webkit-box-shadow: 0 0 0 3px white;
    -moz-box-shadow: 0 0 0 3px white;
    -ms-box-shadow: 0 0 0 3px white;
    -o-box-shadow: 0 0 0 3px white;
    box-shadow: 0 0 0 3px white;
    border-radius: 50%; }
.payment-content .warning-message {
  margin: 20px auto; }
  .payment-content .warning-message p {
    display: inline-block;
    padding: 20px 30px;
    border-radius: 40px;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 20px;
    color: #f44336;
    background-color: white;
    margin: auto;
    -webkit-box-shadow: inset 0 0 0 3px #f44336;
    -moz-box-shadow: inset 0 0 0 3px #f44336;
    -ms-box-shadow: inset 0 0 0 3px #f44336;
    -o-box-shadow: inset 0 0 0 3px #f44336;
    box-shadow: inset 0 0 0 3px #f44336; }
.payment-content .swiper-container {
  padding: 0; }
  .payment-content .swiper-container .swiper-slide {
    text-align: center; }
  .payment-content .swiper-container img {
    border-radius: 20px;
    max-width: 100%; }
  .payment-content .swiper-container .swiper-button {
    background: none;
    font-size: 1.4rem;
    text-align: center;
    width: 44px;
    height: 44px;
    padding: 0;
    line-height: 44px;
    border-radius: 50%;
    color: white;
    background-color: #00bcd4; }
    .payment-content .swiper-container .swiper-button .fa {
      padding-top: 12px; }
  .payment-content .swiper-container .swiper-pagination {
    position: relative;
    margin-top: 20px; }
    .payment-content .swiper-container .swiper-pagination .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      opacity: 0.5;
      background-color: #00bcd4; }
    .payment-content .swiper-container .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
      margin-left: 5px; }
    .payment-content .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
      background-color: #00bcd4;
      position: relative;
      opacity: 1; }
      .payment-content .swiper-container .swiper-pagination .swiper-pagination-bullet-active:before {
        width: 9px;
        height: 9px;
        top: 3px;
        left: 3px;
        position: absolute;
        content: '';
        background-color: white;
        border-radius: 50%; }

.olympiad-header {
  background-color: #00bcd4;
  padding: 40px;
  margin: 20px auto; }
  .olympiad-header .form-group {
    margin: auto; }
    .olympiad-header .form-group label {
      padding-left: 10px;
      color: white; }
    .olympiad-header .form-group .gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .olympiad-header .form-group .gj-datepicker-bootstrap [role=right-icon] button .material-icons {
      color: #00bcd4; }
    .olympiad-header .form-group .gj-datepicker-bootstrap [role=right-icon] button {
      border: none;
      background-color: white; }

.nio-collapse {
  margin-bottom: 20px; }
  .nio-collapse.olympiad-collapse .card-header .btn {
    background-color: rgba(38, 50, 56, 0.05); }
  .nio-collapse .card {
    border: none;
    background-color: transparent;
    margin-bottom: 5px; }
  .nio-collapse .card-header {
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0 !important; }
    .nio-collapse .card-header .btn:hover, .nio-collapse .card-header button[aria-expanded="true"] {
      background-color: #00bcd4 !important; }
      .nio-collapse .card-header .btn:hover p, .nio-collapse .card-header .btn:hover .title, .nio-collapse .card-header button[aria-expanded="true"] p, .nio-collapse .card-header button[aria-expanded="true"] .title {
        color: white; }
    .nio-collapse .card-header p {
      margin: auto;
      font-size: 0.75rem;
      color: rgba(38, 50, 56, 0.7); }
    .nio-collapse .card-header .title {
      font-size: 1rem;
      color: rgba(38, 50, 56, 0.9); }
    .nio-collapse .card-header .btn {
      display: block;
      width: 100%;
      border-radius: 0;
      text-align: left;
      border-top-left-radius: 20px !important;
      border-bottom-right-radius: 20px !important; }
  .nio-collapse .single {
    position: relative; }
    .nio-collapse .single input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
    .nio-collapse .single input:checked ~ label {
      background-color: #00bcd4; }
      .nio-collapse .single input:checked ~ label span {
        color: white; }
    .nio-collapse .single label {
      padding: 10px;
      width: 100%;
      text-align: center;
      background-color: rgba(38, 50, 56, 0.05);
      -webkit-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
      -moz-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
      -ms-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
      -o-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
      box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1); }
      .nio-collapse .single label .price {
        background-color: white;
        margin-left: 10px;
        border-radius: 20px;
        padding: 5px 10px;
        -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
      .nio-collapse .single label span {
        display: block;
        color: rgba(38, 50, 56, 0.7); }
      .nio-collapse .single label small {
        color: rgba(38, 50, 56, 0.7); }
      .nio-collapse .single label strong {
        color: #00bcd4;
        font-size: 1rem; }
  .nio-collapse .button-container {
    margin: 10px auto 0;
    text-align: center; }
    .nio-collapse .button-container .btn + .btn {
      margin-left: 10px; }

.top-list-container .nav {
  margin-bottom: 20px;
  background-color: #00bcd4;
  padding: 40px; }
  .top-list-container .nav li + li {
    margin-left: 20px; }
  .top-list-container .nav a {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 5px 20px;
    line-height: 30px;
    color: white;
    text-align: center;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    -ms-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    -o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
  .top-list-container .nav .active {
    background-color: white;
    color: #00bcd4; }
.top-list-container ol {
  list-style: none;
  counter-reset: nio-counter;
  padding: 0; }
.top-list-container ol li {
  counter-increment: nio-counter;
  position: relative;
  width: 25%;
  padding: 10px; }
.top-list-container ol li::before {
  content: counter(nio-counter) "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: rgba(38, 50, 56, 0.7);
  font-weight: 600;
  border-radius: 50%;
  font-family: "Montserrat", sans-serif; }
.top-list-container ol li:nth-child(1) .single {
  background-color: #ffc107; }
  .top-list-container ol li:nth-child(1) .single .name, .top-list-container ol li:nth-child(1) .single .score {
    color: #263238 !important; }
.top-list-container ol li:nth-child(1)::before {
  color: #ffc107; }
.top-list-container ol li:nth-child(2) .single {
  background-color: #9e9e9e; }
.top-list-container ol li:nth-child(2)::before {
  color: #9e9e9e; }
.top-list-container ol li:nth-child(3) .single {
  background-color: #e65100; }
.top-list-container ol li:nth-child(3)::before {
  color: #e65100; }
.top-list-container ol li:nth-child(1) .single .name, .top-list-container ol li:nth-child(1) .single .score, .top-list-container ol li:nth-child(2) .single .name, .top-list-container ol li:nth-child(2) .single .score, .top-list-container ol li:nth-child(3) .single .name, .top-list-container ol li:nth-child(3) .single .score {
  color: white; }
.top-list-container ol li:nth-child(1)::before, .top-list-container ol li:nth-child(2)::before, .top-list-container ol li:nth-child(3)::before {
  font-size: 1rem; }
.top-list-container .single {
  background-color: rgba(38, 50, 56, 0.05);
  padding: 30px;
  text-align: center; }
  .top-list-container .single:hover {
    -webkit-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
    -ms-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
    -o-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
    box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1); }
  .top-list-container .single .name {
    margin: 0 auto 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 20px;
    height: 60px;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important; }
    .top-list-container .single .name strong {
      font-size: 1rem;
      display: block; }
    .top-list-container .single .name span {
      display: block; }
  .top-list-container .single .score {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 20px; }
  .top-list-container .single .btn {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    font-size: 0.75rem; }
  .top-list-container .single small {
    text-transform: uppercase;
    margin-right: 5px;
    font-weight: 700; }
.top-list-container .school-score ol li {
  width: 33.333%; }
.top-list-container .school-score .single {
  padding-bottom: 10px; }

#score-modal h2 {
  padding-left: 10px; }
  #score-modal h2 strong:before {
    left: 10px; }
#score-modal table tbody tr {
  border-bottom: 1px solid white; }
#score-modal table tbody tr:nth-child(1) {
  background-color: #ffc107; }
#score-modal table tbody tr:nth-child(2) {
  background-color: #9e9e9e;
  color: white; }
#score-modal table tbody tr:nth-child(3) {
  background-color: #e65100;
  color: white; }
#score-modal .modal-body {
  padding: 10px 20px; }

.table-add-nio {
  padding: 10px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
  -ms-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
  box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
  margin-bottom: 20px; }
  .table-add-nio td {
    vertical-align: middle;
    color: #263238; }

.table-cheque img {
  max-width: 100px;
  max-height: 100px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }
.table-cheque .label {
  display: inline-block;
  padding: 5px 10px;
  line-height: 20px;
  border-bottom: 2px solid #00bcd4;
  color: #00bcd4;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase; }
  .table-cheque .label.label-green {
    color: #8bc34a;
    border-bottom: 2px solid #8bc34a; }
  .table-cheque .label.label-red {
    color: #f44336;
    border-bottom: 2px solid #f44336; }

.table-responsive.border-radius {
  overflow-x: auto; }

.payment-help-container {
  padding: 20px 0 40px; }
  .payment-help-container h4 {
    color: rgba(38, 50, 56, 0.9);
    font-size: 1.2rem;
    font-weight: 700; }
  .payment-help-container .single {
    background-color: rgba(38, 50, 56, 0.05);
    padding: 20px 20px 0;
    margin-bottom: 20px; }
    .payment-help-container .single:hover {
      background-color: #00bcd4;
      color: white; }
      .payment-help-container .single:hover h4, .payment-help-container .single:hover strong {
        color: white; }
      .payment-help-container .single:hover .image img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
  .payment-help-container .image {
    height: 200px;
    background-color: white;
    margin: 0 0 20px; }
    .payment-help-container .image img {
      max-width: 90%;
      -webkit-transition: 0.2s ease-out;
      -moz-transition: 0.2s ease-out;
      -ms-transition: 0.2s ease-out;
      -o-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9); }
  .payment-help-container .warning {
    background-color: #ff9b00;
    text-align: center;
    padding: 10px 20px;
    color: white;
    border-radius: 20px; }
  .payment-help-container strong {
    display: block;
    color: #263238; }

.help-container {
  padding: 20px 0; }
  .help-container ol {
    list-style: none;
    counter-reset: nio-counter;
    padding: 0;
    margin: 20px auto; }
  .help-container ol li {
    counter-increment: nio-counter;
    position: relative;
    padding: 0 0 0 35px; }
  .help-container ol li::before {
    content: counter(nio-counter) "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: rgba(38, 50, 56, 0.7);
    font-weight: 600;
    border-radius: 50%;
    font-family: "Montserrat", sans-serif; }
  .help-container ol li::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    border-radius: 2px;
    background-color: rgba(38, 50, 56, 0.1);
    top: 20px;
    left: 0; }
  .help-container a {
    color: #00bcd4;
    text-decoration: underline; }
  .help-container p {
    margin-bottom: 5px;
    text-align: justify; }
  .help-container li .question {
    margin-bottom: 5px;
    font-size: 1rem;
    color: rgba(38, 50, 56, 0.7); }
  .help-container li + li {
    margin-top: 30px; }

.contact-container {
  margin-bottom: 20px; }
  .contact-container .contact-form {
    background-color: rgba(38, 50, 56, 0.05);
    padding: 30px 20px;
    width: 100%;
    margin: 20px auto; }
  .contact-container .contact-info {
    margin: 20px auto; }
    .contact-container .contact-info dt {
      color: rgba(38, 50, 56, 0.7); }
    .contact-container .contact-info dd {
      font-size: 1rem;
      color: #263238; }
    .contact-container .contact-info a {
      color: #00bcd4;
      text-decoration: underline; }
    .contact-container .contact-info .help-text {
      margin: auto;
      font-size: .75rem;
      color: rgba(38, 50, 56, 0.7); }

.certificate-container .single {
  padding: 10px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  margin: 10px auto;
  background-color: white; }
  .certificate-container .single:hover {
    -webkit-box-shadow: inset 0 0 0 3px #00bcd4;
    -moz-box-shadow: inset 0 0 0 3px #00bcd4;
    -ms-box-shadow: inset 0 0 0 3px #00bcd4;
    -o-box-shadow: inset 0 0 0 3px #00bcd4;
    box-shadow: inset 0 0 0 3px #00bcd4; }
.certificate-container .button-container .btn {
  min-width: 80%; }
.certificate-container .button-container .btn + .btn {
  margin: 10px 0 0 0; }
.certificate-container .uni-image {
  margin-bottom: 10px; }
  .certificate-container .uni-image:before {
    padding-bottom: 100%; }
  .certificate-container .uni-image span {
    background-size: contain; }
.certificate-container .empty-message {
  background-color: white;
  height: 150px;
  width: 80%;
  margin-left: 10%;
  padding: 40px; }
  .certificate-container .empty-message p {
    color: rgba(38, 50, 56, 0.3);
    font-weight: 700;
    font-size: 1.6rem;
    margin: auto; }
.certificate-container .card-header button {
  background-color: white;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }

.select-year {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .select-year a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: rgba(38, 50, 56, 0.7);
    background-color: white;
    text-align: center; }
  .select-year li + li {
    margin-left: 10px; }
  .select-year .active a, .select-year a:hover {
    background-color: #00bcd4;
    color: white; }

.results-container .single-result {
  background-color: white;
  padding: 10px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin: 10px auto; }
  .results-container .single-result .name {
    width: 100%;
    height: 50px;
    line-height: 20px;
    font-size: 1rem;
    overflow: hidden;
    text-align: center; }
    .results-container .single-result .name strong {
      font-size: 0.85rem;
      line-height: 10px;
      display: block;
      color: #263238; }
  .results-container .single-result p {
    margin: 0; }
  .results-container .single-result .score {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0 10px;
    display: block;
    line-height: 20px; }
    .results-container .single-result .score strong {
      font-size: 1.2rem;
      color: #263238; }
  .results-container .single-result:hover {
    -webkit-box-shadow: inset 0 0 0 3px #00bcd4;
    -moz-box-shadow: inset 0 0 0 3px #00bcd4;
    -ms-box-shadow: inset 0 0 0 3px #00bcd4;
    -o-box-shadow: inset 0 0 0 3px #00bcd4;
    box-shadow: inset 0 0 0 3px #00bcd4;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out; }
    .results-container .single-result:hover .name {
      color: #00bcd4; }
.results-container .certificate-action {
  background-color: rgba(38, 50, 56, 0.05);
  padding: 10px 5px;
  margin: 10px auto 0; }
  .results-container .certificate-action p {
    margin: 0 auto 5px;
    font-size: 0.75rem;
    color: rgba(38, 50, 56, 0.7); }

#add-modal form {
  background-color: rgba(38, 50, 56, 0.05);
  padding: 30px 20px 20px; }

#language-modal h4 {
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px; }
  #language-modal h4 span {
    text-transform: uppercase;
    font-size: 0.85rem;
    padding-bottom: 10px;
    color: rgba(38, 50, 56, 0.7); }
  #language-modal h4 strong {
    color: rgba(38, 50, 56, 0.9);
    display: block; }
#language-modal p {
  color: rgba(38, 50, 56, 0.5); }
  #language-modal p strong {
    color: #00bcd4; }
#language-modal .single {
  position: relative; }
  #language-modal .single + .single {
    margin-left: 10px; }
#language-modal input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }
#language-modal input:checked ~ label {
  background-color: #00bcd4; }
  #language-modal input:checked ~ label span {
    color: white; }
#language-modal label {
  width: 150px;
  padding: 30px 10px;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
  -ms-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1);
  box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.1); }
  #language-modal label span {
    padding-top: 10px;
    display: block;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: 700; }
  #language-modal label img {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }

.olympiad-container h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 5px 10px;
  color: rgba(38, 50, 56, 0.7); }

.big-result-header {
  background-color: rgba(38, 50, 56, 0.05);
  padding: 20px; }
  .big-result-header .single {
    padding: 20px 10px;
    background-color: white; }
    .big-result-header .single .uni-image:before {
      padding-bottom: 100%; }
    .big-result-header .single .name {
      margin: 0;
      height: 100%;
      color: rgba(38, 50, 56, 0.9); }
    .big-result-header .single .rank {
      margin: 10px 0 0;
      padding: 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      color: rgba(38, 50, 56, 0.7);
      font-size: 0.75rem;
      text-align: center; }
    .big-result-header .single .work {
      padding: 5px;
      margin: 0; }
  .big-result-header .tab-content {
    background-color: white; }
  .big-result-header .nav-item .active, .big-result-header .nav-item a:hover {
    background-color: white;
    color: #00bcd4; }
  .big-result-header .nav-item a {
    color: rgba(38, 50, 56, 0.7);
    line-height: 20px;
    border: none;
    padding: 10px 15px; }
  .big-result-header .nav-item span {
    display: block;
    line-height: 20px;
    padding: 10px 15px;
    font-weight: 700;
    color: rgba(38, 50, 56, 0.5);
    font-size: 0.75rem;
    text-transform: uppercase; }

.table-results-big .medal {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  border-radius: 50%; }
  .table-results-big .medal.bronze, .table-results-big .medal.silver, .table-results-big .medal.gold {
    -webkit-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.3);
    -moz-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.3);
    -ms-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.3);
    -o-box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.3);
    box-shadow: inset 0 0 0 1px rgba(38, 50, 56, 0.3); }
  .table-results-big .medal.bronze {
    background-color: #e65100;
    color: white; }
  .table-results-big .medal.silver {
    background-color: #9e9e9e;
    color: white; }
  .table-results-big .medal.gold {
    background-color: #ffc107;
    color: rgba(38, 50, 56, 0.9); }

.live-test .answer-list .number-answer {
  padding: 10px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 10px auto; }
  .live-test .answer-list .number-answer p {
    margin: 0 0 10px !important;
    color: rgba(38, 50, 56, 0.7);
    display: block; }
.live-test h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 10px 0;
  color: rgba(38, 50, 56, 0.7); }
.live-test .test-numbers {
  display: inline-block;
  padding: 5px 20px;
  color: rgba(38, 50, 56, 0.7);
  text-transform: uppercase;
  font-size: 0.75rem; }
  .live-test .test-numbers strong {
    font-size: 0.9rem;
    color: #00bcd4; }
.live-test .test-short-list {
  background-color: rgba(38, 50, 56, 0.05);
  padding: 20px;
  margin: 20px auto; }
  .live-test .test-short-list ul {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .live-test .test-short-list ul li {
    padding: 5px;
    width: 20%; }
  .live-test .test-short-list ul a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 5px 10px;
    background-color: rgba(38, 50, 56, 0.05);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    color: rgba(38, 50, 56, 0.7);
    border-radius: 2px;
    position: relative; }
    .live-test .test-short-list ul a:before {
      position: absolute;
      bottom: -4px;
      font-size: .65rem;
      color: white;
      line-height: 17px;
      width: 17px;
      height: 17px;
      left: 50%;
      border-radius: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      text-align: center; }
  .live-test .test-short-list .done a {
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 188, 212, 0.3);
    -moz-box-shadow: inset 0 0 0 2px rgba(0, 188, 212, 0.3);
    -ms-box-shadow: inset 0 0 0 2px rgba(0, 188, 212, 0.3);
    -o-box-shadow: inset 0 0 0 2px rgba(0, 188, 212, 0.3);
    box-shadow: inset 0 0 0 2px rgba(0, 188, 212, 0.3);
    color: #00bcd4; }
    .live-test .test-short-list .done a:before {
      content: "\f00c";
      font-family: "FontAwesome";
      background-color: #00bcd4; }
  .live-test .test-short-list .active a, .live-test .test-short-list a:hover {
    -webkit-box-shadow: inset 0 0 0 2px #8bc34a;
    -moz-box-shadow: inset 0 0 0 2px #8bc34a;
    -ms-box-shadow: inset 0 0 0 2px #8bc34a;
    -o-box-shadow: inset 0 0 0 2px #8bc34a;
    box-shadow: inset 0 0 0 2px #8bc34a;
    color: #8bc34a; }
  .live-test .test-short-list .fail a {
    -webkit-box-shadow: inset 0 0 0 2px #f44336;
    -moz-box-shadow: inset 0 0 0 2px #f44336;
    -ms-box-shadow: inset 0 0 0 2px #f44336;
    -o-box-shadow: inset 0 0 0 2px #f44336;
    box-shadow: inset 0 0 0 2px #f44336;
    color: #f44336; }
    .live-test .test-short-list .fail a:before {
      content: "\f00d";
      font-family: "FontAwesome";
      background-color: #f44336; }
  .live-test .test-short-list .good a {
    -webkit-box-shadow: inset 0 0 0 2px #8bc34a;
    -moz-box-shadow: inset 0 0 0 2px #8bc34a;
    -ms-box-shadow: inset 0 0 0 2px #8bc34a;
    -o-box-shadow: inset 0 0 0 2px #8bc34a;
    box-shadow: inset 0 0 0 2px #8bc34a;
    color: #8bc34a; }
    .live-test .test-short-list .good a:before {
      content: "\f00c";
      font-family: "FontAwesome";
      background-color: #8bc34a; }
  .live-test .test-short-list .timer {
    margin: 10px auto 0;
    font-size: 1rem; }
    .live-test .test-short-list .timer span {
      font-weight: 700;
      display: inline-block;
      background-color: #00bcd4;
      color: white;
      padding: 5px 10px;
      border-radius: 5px; }
.live-test .test-single {
  margin: 20px auto;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 20px; }
  .live-test .test-single h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 25px; }
    .live-test .test-single h4 strong {
      background-color: rgba(38, 50, 56, 0.05);
      padding: 2px 5px;
      border-radius: 2px;
      font-size: 0.85rem;
      margin-right: 10px; }
  .live-test .test-single .select-answer {
    display: block;
    margin-top: 5px; }
    .live-test .test-single .select-answer small {
      padding: 2px 5px;
      background-color: rgba(38, 50, 56, 0.3);
      border-radius: 2px;
      color: white;
      font-weight: 700; }
  .live-test .test-single .form-check {
    padding: 0;
    position: static; }
  .live-test .test-single li {
    position: relative; }
  .live-test .test-single li + li {
    margin-top: 5px; }
  .live-test .test-single li:hover label {
    background-color: rgba(38, 50, 56, 0.05); }
  .live-test .test-single label.form-check-label {
    padding: 10px 10px 10px 20px;
    display: block;
    font-size: 1rem;
    line-height: 30px;
    border-radius: 2px;
    border-radius: 25px; }
    .live-test .test-single label.form-check-label:before {
      width: 30px;
      height: 30px;
      content: '';
      position: absolute;
      -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
      -o-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      top: 50%;
      left: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    .live-test .test-single label.form-check-label:after {
      width: 30px;
      height: 30px;
      content: "\f00c";
      font-family: "FontAwesome";
      position: absolute;
      text-align: center;
      top: 50%;
      left: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      background-color: #00bcd4;
      border-radius: 50%; }
  .live-test .test-single input[type="radio"], .live-test .test-single input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
  .live-test .test-single input[type="radio"]:checked ~ label, .live-test .test-single input[type="checkbox"]:checked ~ label {
    background-color: #00bcd4;
    color: white; }
    .live-test .test-single input[type="radio"]:checked ~ label:before, .live-test .test-single input[type="checkbox"]:checked ~ label:before {
      -webkit-box-shadow: inset 0 0 0 2px white;
      -moz-box-shadow: inset 0 0 0 2px white;
      -ms-box-shadow: inset 0 0 0 2px white;
      -o-box-shadow: inset 0 0 0 2px white;
      box-shadow: inset 0 0 0 2px white; }
    .live-test .test-single input[type="radio"]:checked ~ label:after, .live-test .test-single input[type="checkbox"]:checked ~ label:after {
      opacity: 1;
      visibility: visible; }
  .live-test .test-single.test-cross label:after {
    content: "\f00d"; }
  .live-test .test-single ol {
    list-style: none;
    counter-reset: nio-counter;
    padding: 0;
    margin: 20px auto; }
  .live-test .test-single ol li {
    counter-increment: nio-counter;
    position: relative;
    padding: 5px 5px 5px 50px;
    background-color: rgba(38, 50, 56, 0.05);
    font-size: 1rem;
    border-radius: 20px;
    border: 5px solid white; }
  .live-test .test-single ol li::before {
    content: counter(nio-counter,upper-latin) "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 30px;
    height: 30px;
    -webkit-box-shadow: 0 0 0 2px rgba(38, 50, 56, 0.1);
    -moz-box-shadow: 0 0 0 2px rgba(38, 50, 56, 0.1);
    -ms-box-shadow: 0 0 0 2px rgba(38, 50, 56, 0.1);
    -o-box-shadow: 0 0 0 2px rgba(38, 50, 56, 0.1);
    box-shadow: 0 0 0 2px rgba(38, 50, 56, 0.1);
    line-height: 30px;
    text-align: center;
    color: rgba(38, 50, 56, 0.7);
    font-weight: 600;
    border-radius: 50%;
    font-family: "Montserrat", sans-serif;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white; }
  .live-test .test-single .cross-form .form-group {
    width: 100%;
    padding: 10px;
    margin: auto; }
  .live-test .test-single .cross-form p {
    margin: auto; }
  .live-test .test-single .cross-form .help-text {
    color: rgba(38, 50, 56, 0.9);
    font-size: 0.85rem; }
    .live-test .test-single .cross-form .help-text span {
      font-size: 0.75rem;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: 700; }
    .live-test .test-single .cross-form .help-text strong {
      background-color: rgba(38, 50, 56, 0.05);
      display: block;
      padding: 2px 5px;
      border-radius: 2px; }
      .live-test .test-single .cross-form .help-text strong + strong {
        margin-top: 5px; }
      .live-test .test-single .cross-form .help-text strong:hover {
        background-color: white;
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3); }
  .live-test .test-single .cross-form .good {
    background-color: #8bc34a; }
    .live-test .test-single .cross-form .good p {
      color: white; }
  .live-test .test-single .cross-form .fail {
    background-color: #f44336; }
    .live-test .test-single .cross-form .fail p {
      color: white; }
    .live-test .test-single .cross-form .fail label.form-check-label:after {
      background-color: #f44336; }
.live-test .test-action {
  margin: 20px auto 40px; }
.live-test.test-result input[type="radio"], .live-test.test-result input[type="checkbox"] {
  display: none; }
.live-test.test-result input[type="radio"]:checked ~ label, .live-test.test-result input[type="checkbox"]:checked ~ label {
  background-color: transparent;
  color: rgba(38, 50, 56, 0.9); }
  .live-test.test-result input[type="radio"]:checked ~ label:before, .live-test.test-result input[type="checkbox"]:checked ~ label:before {
    -webkit-box-shadow: inset 0 0 0 2px white;
    -moz-box-shadow: inset 0 0 0 2px white;
    -ms-box-shadow: inset 0 0 0 2px white;
    -o-box-shadow: inset 0 0 0 2px white;
    box-shadow: inset 0 0 0 2px white; }
  .live-test.test-result input[type="radio"]:checked ~ label:after, .live-test.test-result input[type="checkbox"]:checked ~ label:after {
    opacity: 0;
    visibility: hidden; }
.live-test.test-result li.good label {
  background-color: #8bc34a;
  color: white; }
  .live-test.test-result li.good label:before {
    width: 30px;
    height: 30px;
    content: '';
    position: absolute;
    -webkit-box-shadow: inset 0 0 0 2px white;
    -moz-box-shadow: inset 0 0 0 2px white;
    -ms-box-shadow: inset 0 0 0 2px white;
    -o-box-shadow: inset 0 0 0 2px white;
    box-shadow: inset 0 0 0 2px white; }
  .live-test.test-result li.good label:after {
    content: "\f00c";
    opacity: 1;
    visibility: visible; }
  .live-test.test-result li.good label.form-check-label:after {
    background-color: #8bc34a; }
.live-test.test-result li.fail label {
  background-color: #f44336;
  color: white; }
  .live-test.test-result li.fail label:before {
    width: 30px;
    height: 30px;
    content: '';
    position: absolute;
    -webkit-box-shadow: inset 0 0 0 2px white;
    -moz-box-shadow: inset 0 0 0 2px white;
    -ms-box-shadow: inset 0 0 0 2px white;
    -o-box-shadow: inset 0 0 0 2px white;
    box-shadow: inset 0 0 0 2px white; }
  .live-test.test-result li.fail label:after {
    content: "\f00d";
    opacity: 1;
    visibility: visible; }
  .live-test.test-result li.fail label.form-check-label:after {
    background-color: #f44336; }
.live-test .image-cross ul, .live-test .image-cross ol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
.live-test .image-cross li {
  width: 50%;
  margin: auto;
  padding: 10px 10px 50px 10px !important; }
  .live-test .image-cross li:before {
    top: auto !important;
    bottom: 10px;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
    -moz-transform: translate(-50%, 0) !important;
    -ms-transform: translate(-50%, 0) !important;
    -o-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important; }
  .live-test .image-cross li .form-check {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 25px; }
  .live-test .image-cross li label.form-check-label {
    padding: 10px 10px 40px 10px !important; }
    .live-test .image-cross li label.form-check-label:before, .live-test .image-cross li label.form-check-label:after {
      top: auto !important;
      left: 50% !important;
      bottom: 10px;
      -webkit-transform: translate(-50%, 0) !important;
      -moz-transform: translate(-50%, 0) !important;
      -ms-transform: translate(-50%, 0) !important;
      -o-transform: translate(-50%, 0) !important;
      transform: translate(-50%, 0) !important; }
.live-test .image-cross img {
  margin: 5%;
  max-width: 90%; }
.live-test .image-cross-real ol li {
  background-color: transparent;
  padding: 10px;
  margin: 0; }
  .live-test .image-cross-real ol li:before {
    left: 20px; }
.live-test .image-cross-real .single-cross {
  background-color: rgba(38, 50, 56, 0.05);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 10px 10px 50px; }
  .live-test .image-cross-real .single-cross .form-group {
    padding: 10px 0; }

@media (max-width: 1024px) {
  .news-list .single .title {
    margin-top: 10px; }
  .news-list .single .info {
    height: 150px; }

  .top-list-container .single .name {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important; }
  .top-list-container .region-score .single .name {
    height: 40px;
    flex-direction: row !important; }
  .top-list-container .region-score .single {
    padding-bottom: 60px; }
  .top-list-container .area-score .single {
    padding-bottom: 60px; }
  .top-list-container .area-score .single .name {
    height: 80px; }
  .top-list-container .school-score ol li {
    width: 50%; }
  .top-list-container .school-score .single {
    padding-bottom: 10px; } }
@media (max-width: 768px) {
  .logo-container .logo {
    height: 40px; }

  .top-slide:after {
    padding-bottom: 45%;
    display: block;
    content: ''; }

  .bottom-slide:after {
    padding-bottom: 75%;
    display: block;
    content: ''; }

  .footer .single {
    margin: 5px auto;
    padding: 0 20px; }
    .footer .single + .single {
      margin: auto; }

  .news-container .single {
    margin: 20px auto; }

  .testomonial-container .info {
    width: 70%;
    margin-left: 15%;
    text-align: center; }
  .testomonial-container .text {
    text-align: center; }

  .bottom-text {
    padding: 20px 0; }
    .bottom-text .logo {
      text-align: center;
      width: 100%;
      margin-bottom: 20px; }
    .bottom-text .text {
      margin-left: 5%;
      width: 90%;
      text-align: center; }

  .mobile-button, .mobile-profile-button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 1.2rem; }
    .mobile-button:active, .mobile-button:focus, .mobile-profile-button:active, .mobile-profile-button:focus {
      color: white; }

  .mobile-button {
    background-color: #8bc34a; }
    .mobile-button:active, .mobile-button:focus {
      color: white; }

  .mobile-profile-button {
    background-color: #00bcd4;
    margin-right: 10px; }
    .mobile-profile-button:active, .mobile-profile-button:focus {
      color: white; }

  .wrap {
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    position: relative;
    left: 0; }
    .wrap:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: 0.2s ease-out;
      -moz-transition: 0.2s ease-out;
      -ms-transition: 0.2s ease-out;
      -o-transition: 0.2s ease-out;
      transition: 0.2s ease-out; }
    .wrap .menu-container {
      opacity: 0;
      visibility: hidden;
      -webkit-transition: 0.2s ease-out;
      -moz-transition: 0.2s ease-out;
      -ms-transition: 0.2s ease-out;
      -o-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
      position: fixed;
      top: 0;
      right: 0;
      width: 260px;
      height: 100%;
      overflow-y: auto;
      -webkit-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
      -o-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
      box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
      z-index: 0; }
      .wrap .menu-container ul {
        display: block !important; }
    .wrap .mobile-button {
      z-index: 5; }
      .wrap .mobile-button .fa {
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        line-height: 40px; }
      .wrap .mobile-button .fa-times {
        display: none; }
      .wrap .mobile-button .fa-navicon {
        display: block; }
    .wrap .mobile-nav-top {
      text-align: center;
      padding: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      visibility: hidden;
      opacity: 0; }
      .wrap .mobile-nav-top a {
        color: rgba(255, 255, 255, 0.9); }

  .slide-container {
    padding: 0; }

  .wrap.activated {
    left: -260px;
    overflow: hidden; }
    .wrap.activated:before {
      opacity: 1;
      visibility: visible; }
    .wrap.activated .menu-container {
      opacity: 1;
      visibility: visible; }
    .wrap.activated .mobile-button {
      position: fixed;
      top: 40px;
      right: 270px;
      background-color: #f44336; }
      .wrap.activated .mobile-button .fa {
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        transition: 0.2s ease-out; }
      .wrap.activated .mobile-button .fa-times {
        display: block; }
      .wrap.activated .mobile-button .fa-navicon {
        display: none; }
    .wrap.activated .mobile-nav-top {
      display: block;
      visibility: visible;
      opacity: 1; }
      .wrap.activated .mobile-nav-top a {
        padding: 5px 0 5px 5px; }
    .wrap.activated .mobile-profile-button {
      z-index: 1;
      margin-right: 0; }

  .wrap .logged-left-menu {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    overflow-y: auto;
    -webkit-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 5;
    margin-top: 0;
    border-radius: 0; }
  .wrap .mobile-profile-button {
    z-index: 5; }
    .wrap .mobile-profile-button .fa {
      -webkit-transition: 0.2s ease-out;
      -moz-transition: 0.2s ease-out;
      -ms-transition: 0.2s ease-out;
      -o-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
      line-height: 40px; }
    .wrap .mobile-profile-button .fa-times {
      display: none; }
    .wrap .mobile-profile-button .fa-user {
      display: block; }

  .wrap.activate-profile {
    left: -260px;
    overflow: hidden; }
    .wrap.activate-profile .mobile-button {
      z-index: 1; }
    .wrap.activate-profile .logged-left-menu {
      opacity: 1;
      visibility: visible; }
    .wrap.activate-profile:before {
      opacity: 1;
      visibility: visible; }
    .wrap.activate-profile .mobile-profile-button {
      margin-right: 0;
      z-index: 5;
      position: fixed;
      top: 40px;
      right: 270px;
      background-color: #f44336; }
      .wrap.activate-profile .mobile-profile-button .fa {
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        line-height: 40px; }
      .wrap.activate-profile .mobile-profile-button .fa-times {
        display: block; }
      .wrap.activate-profile .mobile-profile-button .fa-user {
        display: none; }

  .olympiad-score-container .single {
    padding: 10px; }
    .olympiad-score-container .single .text {
      height: 100px; }

  .news-list .news-list-padding {
    padding: 5px 0;
    border: none; }

  .news-list .single .info {
    height: 140px; }
  .news-list .single .text {
    display: none; }

  .mobile-user {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
    margin-bottom: 10px; }
    .mobile-user .btn-block + .btn-block {
      margin: 0 0 0 10px; }

  .inner-content {
    padding: 0 2.5% 20px; }

  .nav .nav-item {
    width: 50%;
    margin: 10px 0; }

  .payment-content .header-message .info-message img {
    margin: 0 0 20px; }

  .olympiad-header .form-group {
    margin-bottom: 20px; }

  .olympiad-container .btn-green.btn-big {
    margin-bottom: 20px; }
  .olympiad-container .card-body {
    padding: 20px 0; }

  .top-list-container .nav {
    padding: 20px 10px; }
    .top-list-container .nav li + li {
      margin-left: 5px; }
    .top-list-container .nav a {
      padding: 5px 10px; }
  .top-list-container .single .name {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important; }
  .top-list-container .region-score li, .top-list-container .area-score li {
    width: 33.3333%; }
  .top-list-container .region-score .single .name {
    height: 40px;
    flex-direction: row !important; }
  .top-list-container .region-score .single {
    padding-bottom: 40px; }
  .top-list-container .area-score .single {
    padding-bottom: 40px; }
  .top-list-container .area-score .single .name {
    height: 80px; }
  .top-list-container .school-score ol li {
    width: 50%; }
  .top-list-container .school-score .single {
    padding-bottom: 10px; }

  .left-menu .social-login {
    border: none; }
    .left-menu .social-login ul {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 5px;
      border-radius: 25px;
      -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
      -ms-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
      -o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3); }

  .big-result-header .nav .nav-item {
    width: auto;
    margin: 0; } }
@media (max-width: 576px) {
  .top-list-container .nav {
    padding: 20px 10px; }
    .top-list-container .nav li + li {
      margin-left: 5px; }
    .top-list-container .nav a {
      padding: 5px 10px; }
  .top-list-container .single .name {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important; }
  .top-list-container .region-score li, .top-list-container .area-score li {
    width: 50%; }
  .top-list-container .region-score .single .name {
    height: 40px;
    flex-direction: row !important; }
  .top-list-container .region-score .single {
    padding: 40px 10px 60px; }
  .top-list-container .area-score .single {
    padding: 40px 10px 60px; }
  .top-list-container .area-score .single .name {
    height: 80px; }
  .top-list-container .school-score ol li {
    width: 100%; }
  .top-list-container .school-score .single {
    padding: 40px 20px 10px; }

  .register-form .custom-control {
    width: 50%;
    margin: auto; }

  .payment-help-container .single {
    height: auto; }

  .register-form .custom-control {
    width: 100%; }

  .big-result-header .nav .nav-item {
    width: auto;
    margin: 0; }
    .big-result-header .nav .nav-item:first-child {
      display: block;
      width: 100%;
      text-align: center; }
      .big-result-header .nav .nav-item:first-child span {
        font-size: 1rem; }

  .live-test .test-short-list li {
    width: 20%; }

  .live-test .image-cross li {
    width: 100%; } }

/*# sourceMappingURL=wrap.css.map */
