<template>
  <section class="quiz-area">
    <div class="container">
      <div class="row">
        <Question />
        <Control />
      </div>
    </div>
  </section>
</template>
<script>
import Control from '@/components/olimpiad/Control'
import Question from '@/components/olimpiad/Question'
export default {
  auth: true,
  components: { Control, Question },
  props: ['id'],
  mounted() {},
}
</script>
