<template>
  <section class="olimpiad-area pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h4 class="text-center">Оқушыларға</h4>
          <div class="olympiad-collapse">
            <ul>
              <li
                v-for="i in high_school_lessons"
                :key="i.id"
                @click="select(i, 'high-school')"
              >
                <div class="single activated">
                  <a href="#" class="activate-olympiad"
                    ><p class="title">{{ i.name }} / {{ i.total }} олимпиада</p>
                    <p class="detail">
                      <i aria-hidden="true" class="fa fa-calendar-check-o"></i>
                      <span>{{ i.start_at }} бастап {{ i.end_at }} дейін,</span>
                      <i aria-hidden="true" class="fa fa-clock-o"></i>
                      <span
                        >тапсырма орындау уақыты: {{ i.duration }} минут</span
                      >
                    </p></a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h4 class="text-center">Мұғалімдерге</h4>
          <div class="olympiad-collapse">
            <ul>
              <li
                v-for="i in teacher_lessons"
                :key="i.id"
                @click="select(i, 'teacher')"
              >
                <div class="single activated">
                  <a href="#" class="activate-olympiad"
                    ><p class="title">{{ i.name }} / {{ i.total }} олимпиада</p>
                    <p class="detail">
                      <i aria-hidden="true" class="fa fa-calendar-check-o"></i>
                      <span>{{ i.start_at }} бастап {{ i.end_at }} дейін,</span>
                      <i aria-hidden="true" class="fa fa-clock-o"></i>
                      <span
                        >тапсырма орындау уақыты: {{ i.duration }} минут</span
                      >
                    </p></a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <b-modal :title="title" ref="quiz_select_class" hide-footer>
      <div
        v-show="r.status == 'error'"
        class="alert alert-warning"
        v-html="r.message"
      ></div>
      <div
        v-show="r.status == 'success'"
        class="alert alert-success"
        v-html="r.message"
      ></div>
      <b-row class="select-class">
        <b-col
          xs="12"
          sm="12"
          md="4"
          v-for="i in olimpiad"
          :key="i.id"
          class="text-center"
        >
          <label
            :class="selected_class.id == i.id ? 'active' : ''"
            @click="select_olimpiad(i)"
          >
            <p class="detail">{{ i.name }} cынып</p>
            <p class="price">
              <small>Бағасы</small> <strong>{{ i.amount }}₸</strong>
            </p>
          </label>
        </b-col>
        <b-col sm="12" class="text-center">
          <div class="text-center">
            <button class="btn btn-primary" @click="submit_olimpiad">
              Қатысу
            </button>
            <button class="btn btn-secondary" @click="reset">Болдырмау</button>
          </div>
        </b-col>
      </b-row>
    </b-modal>
  </section>
</template>

<script>
export default {
  auth: false,
  data() {
    return {
      high_school_lessons: [],
      selected_class: null,
      teacher_lessons: [],
      olimpiad: [],
      lesson: {},
      lesson_olimpiad: null,
      title: '',
      r: {},
    }
  },
  mounted() {
    let vm = this
    this.$axios
      .get('/o_lesson', { params: { section: 'high-school' } })
      .then((res) => {
        vm.high_school_lessons = res.data
      })

    this.$axios
      .get('/o_lesson', { params: { section: 'teacher' } })
      .then((res) => {
        vm.teacher_lessons = res.data
      })
  },
  methods: {
    select(l, q_type) {
      var vm = this
      this.$axios
        .get('/lesson-olimpiad', {
          params: {
            lesson: l.id,
            section: q_type,
          },
        })
        .then((res) => {
          vm.olimpiad = res.data
          vm.selected_class = res.data[0]
          vm.lesson = l
          vm.title = l.name + ' олимпиада'
          vm.$refs.quiz_select_class.show()
        })
    },
    reset() {
      this.$refs.quiz_select_class.hide()
      this.olimpiad = []
    },
    select_olimpiad(_class) {
      this.selected_class = _class
    },
    submit_olimpiad() {
      var vm = this

      if (this.selected_class === null) {
        vm.r = { status: 'error', message: 'Олимпиаданы таңдаңыз' }
      } else if (this.$auth.loggedIn) {
        this.$axios
          .post('/select-olimpiad', this.selected_class)
          .then((res) => {
            if (res.data.status == 'error') {
              vm.r = res.data
            }
            if (res.data.status == 'success') {
              this.$router.push({
                name: 'olimpiad-id',
                params: { id: res.data.token },
              })
            }
          })
      } else {
        vm.r = {
          status: 'error',
          message: 'Қатысу үшін <a href="/login"> мында </a> басыңыз',
        }
      }
    },
  },
}
</script>
