<template>
  <footer
    class="footer1"
    style="background-image: url('assets/images//themes/edulyn-v1.0vd-bg.jpg')"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-logo-info">
            <img
              src="/images/logo.png"
              alt=""
              class="img-fluid"
              style="height: 80px;"
            />
            <p>
              Lorem ipsum dolor sit amet, consectet adipisicing elit. Saepe
              porro neque a nam null quos. Adipisci eius unde magnam ad, nisi
              voluptates.
            </p>
            <ul class="list-unstyled">
              <li>
                  
                <fa-icon :icon="['fa', 'map-marker']"></fa-icon> 795 South Park Avenue, CA 94107
              </li>
              <li><fa-icon :icon="['fa', 'envelope']"></fa-icon> enquery@domain.com</li>
              <li><fa-icon :icon="['fa', 'phone']"></fa-icon>+1 908 875 7678</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="f-links">
            <h5>Useful Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="/themes/edulyn-v1.0/"
                  ><fa-icon :icon="['fa', 'angle-right']"></fa-icon>General Info</a
                >
              </li>
              <li>
                <a href="/themes/edulyn-v1.0/"
                  ><fa-icon :icon="['fa', 'angle-right']"></fa-icon>Help Center</a
                >
              </li>
              <li>
                <a href="/themes/edulyn-v1.0/"
                  ><fa-icon :icon="['fa', 'angle-right']"></fa-icon>Our Services</a
                >
              </li>
              <li>
                <a href="/themes/edulyn-v1.0/"
                  ><fa-icon :icon="['fa', 'angle-right']"></fa-icon>Privacy Policy</a
                >
              </li>
              <li>
                <a href="/themes/edulyn-v1.0/"
                  ><fa-icon :icon="['fa', 'angle-right']"></fa-icon>Online Support</a
                >
              </li>
            </ul>
            <ul class="list-unstyled">
              <li>
                <a href="/themes/edulyn-v1.0/"
                  ><fa-icon :icon="['fa', 'angle-right']"></fa-icon>General Info</a
                >
              </li>
              <li>
                <a href="/themes/edulyn-v1.0/"
                  ><fa-icon :icon="['fa', 'angle-right']"></fa-icon>Help Center</a
                >
              </li>
              <li>
                <a href="/themes/edulyn-v1.0/"
                  ><fa-icon :icon="['fa', 'angle-right']"></fa-icon>Our Services</a
                >
              </li>
              <li>
                <a href="/themes/edulyn-v1.0/"
                  ><fa-icon :icon="['fa', 'angle-right']"></fa-icon>Privacy Policy</a
                >
              </li>
              <li>
                <a href="/themes/edulyn-v1.0/"
                  ><fa-icon :icon="['fa', 'angle-right']"></fa-icon>Online Support</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="f-post">
            <h5>Recent Post</h5>
            <div class="post-box d-flex">
              <div class="post-img">
                <img
                  src="http://www.thetahmid.com/themes/edulyn-v1.0/assets/images/blog-2.jpg"
                  alt=""
                />
              </div>
              <div class="post-content">
                <a href="#"
                  >Lorem ipsum dolor sit amet consectet adipisicing elit
                  com...</a
                ><span>Mar 30, 2020</span>
              </div>
            </div>
            <div class="post-box d-flex">
              <div class="post-img">
                <img
                  src="http://www.thetahmid.com/themes/edulyn-v1.0/assets/images/blog-2.jpg"
                  alt=""
                />
              </div>
              <div class="post-content">
                <a href="#"
                  >Lorem ipsum dolor sit amet consectet adipisicing elit
                  com...</a
                ><span>Mar 30, 2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {}
</script>
