<template>
  <section class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copy-text text-center">
            <p>
              © Megatalant.kz 2021
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sc-fzokOt hLgJkJ">
      <button type="text" class="totop-btn show">
        <fa-icon :icon="['fa', 'arrow-up']"></fa-icon>
      </button>
    </div>
  </section>
</template>

<script>
export default {}
</script>
