<template>
  <div class="top-container pad10">
    <div class="container pad10">
      <div class="row row10">
        <div class="col-sm-8 pad10">
          <ul
            class="list-unstyled d-none d-sm-flex justify-content-start top-links"
          >
            <li class="d-flex justify-content-start phone-number">
              <a href="callto:87071153715">
                <fa-icon :icon="['fa', 'phone']" />
                <span>{{ phone1 }}</span>
              </a>
              <a href="callto:87758985504">
                <span>{{ phone2 }}</span>
              </a>
            </li>
            <li>
              <a href="mailto:nio.kz.kz@gmail.com">
                <fa-icon :icon="['fa', 'envelope']" />
                <span>{{ email }}</span>
              </a>
            </li>
            <li>
              <a href="mailto:nio.kz.kz@gmail.com">
                <fa-icon :icon="['fa', 'map']" />
                <span>{{ address }}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 pad10">
          <ul class="list-unstyled d-flex justify-content-end top-links">
            <li style="border-left: 1px solid rgb(62, 62, 62)" class="social">
              <a href="#" class="social">
                <fa-icon :icon="['fab', 'facebook-f']"></fa-icon>
              </a>
            </li>
            <li class="social">
              <a href="#">
                <fa-icon :icon="['fab', 'twitter']"></fa-icon>
              </a>
            </li>
            <li class="social">
              <a href="#">
                <fa-icon :icon="['fab', 'linkedin-in']"></fa-icon>
              </a>
            </li>
            <li style="border-right: 1px solid rgb(62, 62, 62)" class="social">
              <a href="#">
                <fa-icon :icon="['fab', 'instagram']"></fa-icon>
              </a>
            </li>
            
              <li style="border-right: 1px solid rgb(62, 62, 62)" v-show="$auth.loggedIn==false">
                <router-link to="/login">
                  <fa-icon :icon="['fa', 'user']"></fa-icon>
                  Кіру
                </router-link>
              </li>
              <li style="border-right: 1px solid rgb(62, 62, 62)" v-show="$auth.loggedIn==false">
                <router-link to="/register">
                  <fa-icon :icon="['fa', 'user-edit']"></fa-icon>
                  Тіркелу
                </router-link>
              </li>
            
            
              <li style="border-right: 1px solid rgb(62, 62, 62)" v-show="$auth.loggedIn==true">
                <router-link to="/user">
                  <fa-icon :icon="['fa', 'user-edit']"></fa-icon>
                  Жеке мәліметтер
                </router-link>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <b-modal
      title="Олимпиаданы жалғастыру"
      hide-footer
      :visible="$store.state.unfinished.length > 0"
    >
      <table class="table table-striped">
        <tbody>
          <tr v-for="item in $store.state.unfinished" :key="item.token">
            <td>{{ item.name }}</td>
            <td>
              <router-link
                class="btn btn-primary"
                :to="{ name: 'olimpiad-id', params: { id: item.token } }"
                >Жалғастыру</router-link
              >
            </td>
          </tr>
        </tbody>
      </table>
    </b-modal>
  </div>
</template>

<script>
export default {
  computed: {
    phone1() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'phone1'
      )
      if (item != undefined) {
        return item.value
      } else {
        return 'settings name "phone1"'
      }
    },
    phone2() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'phone2'
      )
      if (item != undefined) {
        return item.value
      } else {
        return 'settings name "phone2"'
      }
    },
    email() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'email'
      )
      if (item != undefined) {
        return item.value
      } else {
        return 'settings name "email"'
      }
    },
    address() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'address'
      )
      if (item != undefined) {
        return item.value
      } else {
        return 'settings name "address"'
      }
    },
  },
  methods: {},
}
</script>
