<template>
  <section class="icon-box-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="full-icon-box">
            <div class="icon-box d-flex">
              <div class="box-icon box1">
                <fa-icon :icon="['fa', 'thumbs-up']" />
              </div>
              <div class="box-title">
               <h6>{{ box_1_title }}</h6>
                <p>{{ box_1_content }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="full-icon-box">
            <div class="icon-box d-flex">
              <div class="box-icon box2">
                <fa-icon :icon="['fa', 'book-reader']" />
              </div>
              <div class="box-title">
                <h6>{{ box_2_title }}</h6>
                <p>{{ box_2_content }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="full-icon-box">
            <div class="icon-box d-flex">
              <div class="box-icon box3">
                <fa-icon :icon="['fa', 'chalkboard-teacher']" />
              </div>
              <div class="box-title">
               <h6>{{ box_3_title }}</h6>
                <p>{{ box_3_content }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    box_1_title() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'box_1'
      )
      if (item != undefined) {
        return item.value
      } else {
        return 'settings name "box_1"'
      }
    },
     box_1_content() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'box_1'
      )
      if (item != undefined) {
        return item.content
      } else {
        return 'settings name "box_1" content'
      }
    },

    box_2_title() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'box_2'
      )
      if (item != undefined) {
        return item.value
      } else {
        return 'settings name "box_2"'
      }
    },
     box_2_content() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'box_2'
      )
      if (item != undefined) {
        return item.content
      } else {
        return 'settings name "box_2" content'
      }
    },
    box_3_title() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'box_3'
      )
      if (item != undefined) {
        return item.value
      } else {
        return 'settings name "box_3"'
      }
    },
     box_3_content() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'box_3'
      )
      if (item != undefined) {
        return item.content
      } else {
        return 'settings name "box_3" content'
      }
    },
  },
}
</script>
