<template>
  <section class="logo-area">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <div class="logo">
            <a href="/"><img src="/images/logo.jpg" alt="" /></a>
          </div>
        </div>
        <div class="col-md-9 col-xs-12">
          <div class="logo-contact-box d-none d-sm-flex justify-content-end mt-3">
            <div class="contact-box d-flex">
              <div class="box-icon">
                <fa-icon :icon="['fa', 'phone']"></fa-icon>
              </div>
              <div class="box-content">
                <p>Телефон нөмірі</p>
                <span>{{ phone1 }}</span>
              </div>
            </div>
            <div class="contact-box d-flex">
              <div class="box-icon">
                <fa-icon :icon="['fa', 'envelope']"></fa-icon>
              </div>
              <div class="box-content">
                <p>Хат жазыңыз</p>
                <span>{{ email }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    phone1() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'phone1'
      )
      if (item != undefined) {
        return item.value
      } else {
        return 'settings name "phone1"'
      }
    },
    email() {
      let item = this.$store.state.settings.settings.find(
        (el) => el.name == 'email'
      )
      if (item != undefined) {
        return item.value
      } else {
        return 'settings name "email"'
      }
    },
  },
}
</script>
