<template>
  <section class="main-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="main-menu-box">
            <b-navbar toggleable="lg" type="dark">
              <b-navbar-brand to="/" class="d-block d-sm-none"
                >megatalant</b-navbar-brand
              >

              <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

              <b-collapse id="nav-collapse" is-nav class="menu-box">
                <b-navbar-nav>
                  <b-nav-item to="/">Басты бет</b-nav-item>
                  <b-nav-item to="/news">Конкурстар</b-nav-item>
                   <!-- Жаңалықтар -->
                  <b-nav-item to="/olimpiad">Олимпиада</b-nav-item>
                  <!-- <b-nav-item to="/rules">Ереже</b-nav-item> -->
                  <b-nav-item to="/contact">Байланыс</b-nav-item>
                  <!-- <b-nav-item to="/about">Біз жайлы</b-nav-item> -->
                  <b-nav-item to="/payment">Төлем</b-nav-item>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto" v-show="$auth.loggedIn">
                  <b-nav-item to="/user">
                    <fa-icon :icon="['fa', 'user-edit']"></fa-icon> Жеке
                    мәліметтер
                  </b-nav-item>
                </b-navbar-nav>
              </b-collapse>
            </b-navbar>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {}
</script>
