<template>
  <section class="home-blog-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sec-title text-center">
            <h4>Жаңалықтар.</h4>
          </div>
        </div>
        <div class="col-md-6" v-for="i in items" :key="i.id">
          <NewsItem :item="i" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      items: [],
    }
  },
  mounted() {
    let vm = this
    this.$axios.get('/home-news').then((response) => {
        vm.items = response.data
    })
  },
}
</script>

<style></style>
