<template>
  <div class="blog-post">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="blog-img">
           <NuxtLink :to="{name:'news-id', params:{id:item.id}}"><img
              :src="'/uploads/news/' + item.thumbnail"
              alt=""
              class="img-fluid"
          /></NuxtLink>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="blog-content">
          <div class="content-box">
            <div class="top-content d-flex">
              <div class="blog-date text-center"><p>25 Mar</p></div>
              <div class="blog-title">
                <h6>
                  <NuxtLink :to="{name:'news-id', params:{id:item.id}}">{{
                    item.title
                  }}</NuxtLink>
                </h6>
              </div>
            </div>
            <div class="blog-desk">
              <p v-html="item.descr"></p>
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="#"
                    ><fa-icon :icon="['fa', 'user']" /> Админ</a
                  >
                </li>

                <li class="list-inline-item">
                  <a href="#"
                    ><fa-icon :icon="['fa', 'thumbs-up']" /> 37</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['item'],
  data() {
    return {
      quiz: {
        primary: {
          name: ' Primary',
          lesosns: [
            {
              id: 1,
              name: 'name',
            },
            {
              id: 2,
              name: 'name',
            },
            {
              id: 3,
              name: 'name',
            },
          ],
        },
        secondary: {
          lesosns: [
            {
              id: 1,
              name: 'name',
            },
            {
              id: 2,
              name: 'name',
            },
            {
              id: 3,
              name: 'name',
            },
          ],
        },
      },
      data: [
        {
          token: 'quizXXXXXXX',
          created: '2020-12-12 12:12:12',
          lessons: [
            {
              id: 1,
              name: 'math',
              max_point: 100,
              point: 80,
            },
            {
              id: 2,
              name: 'english',
              max_point: 100,
              point: 80,
            },
          ],
        },
        {
          token: 'quizXXXXXXX',
          created: '2020-12-12 12:12:12',
          lessons: [
            {
              id: 1,
              name: 'math',
              max_point: 100,
              point: 80,
            },
          ],
        },
      ],
    }
  },
}
</script>
