<template>
  <section class="hero-slider-area">
    <div class="container">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide slider-item">
            <div class="image-container text-center">
              <img
                src="/images/slide1.jpeg"
                class="slider-image"
                alt="slide1.jpg"
              />
            </div>
            <div class="slider-table">
              <div class="slider-tablecell">
                <div class="container">
                  <!-- <div class="row">
                    <div class="col-md-12">
                      <div class="slider-box slider-box2 text-right">
                        <div class="slider-title">
                          <p>Welcome To Edulyn.</p>
                        </div>
                        <div class="slider-desc">
                          <h1>
                            Best University In This Region Join With Us Today
                          </h1>
                        </div>
                        <div class="slider-btn">
                          <a class="slider-btn1" href="#">Our Courses</a
                          ><a class="slider-btn2" href="#">Contact Us</a>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slider-item">
            <div class="image-container">
              <img
                src="http://www.thetahmid.com/themes/edulyn-v1.0/assets/images/slider-2.jpg"
                class="slider-image"
                alt="slider-2.jpg"
              />
            </div>
            <div class="slider-table">
              <div class="slider-tablecell">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="slider-box slider-box2 text-right">
                        <div class="slider-title">
                          <p>Welcome To Edulyn.</p>
                        </div>
                        <div class="slider-desc">
                          <h1>
                            Best University In This Region Join With Us Today
                          </h1>
                        </div>
                        <div class="slider-btn">
                          <a class="slider-btn1" href="#">Our Courses</a
                          ><a class="slider-btn2" href="#">Contact Us</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide slider-item">
            <div class="image-container">
              <img
                src="http://www.thetahmid.com/themes/edulyn-v1.0/assets/images/slider-2.jpg"
                class="slider-image"
                alt="slider-2.jpg"
              />
            </div>
            <div class="slider-table">
              <div class="slider-tablecell">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="slider-box slider-box2 text-right">
                        <div class="slider-title">
                          <p>Welcome To Edulyn.</p>
                        </div>
                        <div class="slider-desc">
                          <h1>
                            Best University In This Region Join With Us Today
                          </h1>
                        </div>
                        <div class="slider-btn">
                          <a class="slider-btn1" href="#">Our Courses</a
                          ><a class="slider-btn2" href="#">Contact Us</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </section>
</template>

<script>
import SwiperInstance, { Navigation, Pagination, A11y } from 'swiper'
SwiperInstance.use([Navigation, Pagination, A11y])

export default {
  data() {
    return {
      swiperInstance: {},
      settings: {
        slidesPerView: 1,
        loop: !0,
        speed: 3e3,
        autoplay: {
          delay: 3e3,
          disableOnInteraction: !1,
        },
        watchSlidesVisibility: !0,
        effect: 'fade',
        navigation: {
          nextEl: '.slider-button-next',
          prevEl: '.slider-button-prev',
        },
      },
    }
  },
  mounted() {
    setTimeout(() => {
      this.swiperInstance = new SwiperInstance('.swiper-container')
    }, 3000)
  },
}
</script>

<style></style>
