<template>
  <section class="newsletter-form-area subscribe ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="newsletter-container">
            <div class="newsletter-box">
              <div class="sec-title text-center">
                <h4>Соңғы жаңалықтарға жазылу</h4>
              </div>
              <form id="form2" class="form">
                <div class="row">
                  <div class="col-md-4">
                    <p class="form-control">
                      <input
                        type="text"
                        placeholder="Аты-жөніңізді енгізіңіз"
                        id="name2"
                      /><span class="input-msg2"></span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p class="form-control">
                      <input
                        type="email"
                        placeholder="Почта енгізіңіз"
                        id="email2"
                      /><span class="input-msg2"></span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <button>
                      <i class="las la-envelope"></i>ЖАЗЫЛУ
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {}
</script>
