<template>
  <div
    class="col-lg-3 col-md-4 col-sm-5 blog-grid-area"
    style="padding-left: 15px; padding-right: 15px; padding-top: 0px"
  >
    <div>
      <div class="blog-item" v-for="i in items" :key="i.id">
        <div class="blog-img">
          <router-link :to="{ name: 'news-id', params: { id: i.id } }"
            ><img
              :src="
                '/uploads/news/' + i.thumbnail
              "
              alt=""
              class="img-fluid"
          /></router-link>
        </div>
        <div class="blog-content">
          <div class="blog-auth_date d-flex">
            <div class="author-img d-flex">
              <router-link :to="{ name: 'news-id', params: { id: i.id } }">
                <img
                  src="http://www.thetahmid.com/themes/edulyn-v1.0/assets/images/author.jpg"
                  alt=""
              /></router-link>
              <p>Админ</p>
            </div>
            <div class="post-date">
              <p><fa-icon :icon="['fa', 'calendar']" /> {{ i.created_at }}</p>
            </div>
          </div>
          <div class="blog-title">
            <h6>
              <router-link :to="{ name: 'news-id', params: { id: i.id } }">{{
                i.title
              }}</router-link>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [],
    }
  },
  mounted() {
    var vm = this
    this.$axios.get('/top-news').then((res) => {
      vm.items = res.data
    })
  },
}
</script>
