<template>
  <div class="left-menu border-radius logged-in logged-left-menu">
    <ul class="list-unstyled">
      <li>
        <a href="#">
          <span>ID: {{ this.$store.state.auth.user.unumber }}</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Баланс - {{ this.$store.state.auth.user.amount }}$</span>
        </a>
      </li>
      <li :class="$route.name == 'user-transaction' ? 'active' : ''">
        <router-link to="/user/transaction">
          <span>Аударымдар</span>
        </router-link>
      </li>

      <li :class="$route.name == 'user' ? 'active' : ''">
        <router-link to="/user">
          <span>Жеке мәліметтер</span>
        </router-link>
      </li>
      <li :class="$route.name == 'user-invoice' ? 'active' : ''">
        <router-link to="/user/invoice">
          <span>Түбіртектер</span>
        </router-link>
      </li>
      <li :class="$route.name == 'user-result' ? 'active' : ''">
        <router-link to="/user/result">
          <span>Нәтижелер</span>
        </router-link>
      </li>
      <li :class="$route.name == 'user-certificate' ? 'active' : ''">
        <router-link to="/user/certificate">
          <span>Сертификаттар&Дипломдар</span>
        </router-link>
      </li>

      <li :class="$route.name == 'user-change' ? 'active' : ''">
        <router-link to="/user/change">
          <span>Құпия сөзді өзгерту</span>
        </router-link>
      </li>
      <li>
        <div class="row row10">
          <div class="offset-1 col-10 pad10">
            <button type="submit" class="btn btn-outline btn-white btn-block" @click="logout">
              Шығу
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined
export default {
  methods: {
    logout() {
      this.$auth.logout()
      Cookie.remove('auth')
      this.$router.push({ path: '/' })
    },
  },
}
</script>
