<template>
  <div class="section section-gray">
    <div class="container pad10">
      <div class="row row10">
        <div class="col-lg-3 col-sm-4 pad10">
          <UserMenu />
        </div>
        <div class="col-lg-9 col-sm-8 pad10">
          <div class="white-content margin-content">
            <h5>МЕНІҢ ДИПЛОМДАРЫМ МЕН СЕРТИКАТТАРЫМ</h5>
            <div class="my-certificates">
              <div>
                <div class="cert-list">
                  <p class="title">I ДӘРЕЖЕЛІ ДИПЛОМ</p>
                  <div class="row row10">
                    <div
                      class="col-sm-6 pad10"
                      v-for="i in items"
                      v-if="parseInt(i.point) >= 90"
                    >
                      <div
                        class="single d-flex justify-content-center align-items-center"
                      >
                        <img
                          alt="image"
                          :src="
                            'http://api.megatalant.kz/api/user/certificate/image/' +
                            i.token
                          "
                          class="img-fluid"
                        />
                        <div class="action flex-shrink-0 d-flex flex-column">
                          <button
                            class="btn btn-secondary"
                            @click="download('img', i)"
                          >
                            <i
                              class="fa fa-file-image-o"
                              aria-hidden="true"
                            ></i>
                            <span>ЖҮКТЕУ JPG</span>
                          </button>
                          <button
                            class="btn btn-secondary"
                            @click="download('pdf', i)"
                          >
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            <span>ЖҮКТЕУ PDF</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <p class="title">II ДӘРЕЖЕЛІ ДИПЛОМ</p>
                  <div class="row row10">
                    <div
                      class="col-sm-6 pad10"
                      v-for="i in items"
                      v-if="parseInt(i.point) >= 80 && parseInt(i.point) < 90"
                    >
                      <div
                        class="single d-flex justify-content-center align-items-center"
                      >
                        <img
                          alt="image"
                          :src="
                            'http://api.megatalant.kz/api/user/certificate/image/' +
                            i.token
                          "
                          class="img-fluid"
                        />
                        <div class="action flex-shrink-0 d-flex flex-column">
                          <button
                            class="btn btn-secondary"
                            @click="download('img', i)"
                          >
                            <i
                              class="fa fa-file-image-o"
                              aria-hidden="true"
                            ></i>
                            <span>ЖҮКТЕУ JPG</span>
                          </button>
                          <button
                            class="btn btn-secondary"
                            @click="download('pdf', i)"
                          >
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            <span>ЖҮКТЕУ PDF</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <p class="title">III ДӘРЕЖЕЛІ ДИПЛОМ</p>
                  <div class="row row10">
                    <div
                      class="col-sm-6 pad10"
                      v-for="i in items"
                      v-if="parseInt(i.point) >= 70 && parseInt(i.point) < 80"
                    >
                      <div
                        class="single d-flex justify-content-center align-items-center"
                      >
                        <img
                          alt="image"
                          :src="
                            'http://api.megatalant.kz/api/user/certificate/image/' +
                            i.token
                          "
                          class="img-fluid"
                        />
                        <div class="action flex-shrink-0 d-flex flex-column">
                          <button
                            class="btn btn-secondary"
                            @click="download('img', i)"
                          >
                            <i
                              class="fa fa-file-image-o"
                              aria-hidden="true"
                            ></i>
                            <span>ЖҮКТЕУ JPG</span>
                          </button>
                          <button
                            class="btn btn-secondary"
                            @click="download('pdf', i)"
                          >
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            <span>ЖҮКТЕУ PDF</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <p class="title">СЕРТИФИКАТТАР</p>
                  <div class="row row10">
                    <div
                      class="col-sm-6 pad10"
                      v-for="i in items"
                      v-if="i.point <= 69"
                    >
                      <div
                        class="single d-flex justify-content-center align-items-center"
                      >
                        <img
                          alt="image"
                          :src="
                            'http://api.megatalant.kz/api/user/certificate/image/' +
                            i.token
                          "
                          class="img-fluid"
                        />
                        <div class="action flex-shrink-0 d-flex flex-column">
                          <button
                            class="btn btn-secondary"
                            @click="download('img', i)"
                          >
                            <i
                              class="fa fa-file-image-o"
                              aria-hidden="true"
                            ></i>
                            <span>ЖҮКТЕУ JPG</span>
                          </button>
                          <button
                            class="btn btn-secondary"
                            @click="download('pdf', i)"
                          >
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            <span>ЖҮКТЕУ PDF</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UserMenu from '@/components/UserMenu.vue'
export default {
  auth: true,
  components: {
    UserMenu,
  },
  data() {
    return {
      items: [],
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      var vm = this
      this.$axios.get('/user/certificates').then((res) => {
        vm.items = res.data
      })
    },
    download(type, item) {
      var vm = this
      vm.$store.commit('setLoading', true)

      if (type == 'img') {
        this.$axios
          .get('/user/certificate/image/' + items.token, {
            responseType: 'blob',
          })
          .then((res) => {
            const url = window.URL.createObjectURL(
              new Blob([res.data], { type: 'image/jpeg' })
            )
            const link = document.createElement('a')
            link.href = url
            link.target = '_blank'

            link.setAttribute('download', items.cert_num + '.jpg')

            document.body.appendChild(link)
            link.click()
            vm.$store.commit('setLoading', false)
          })
      }

      if (type == 'pdf') {
        this.$axios
          .get('/user/certificate/pdf/' + items.token, {
            responseType: 'blob',
          })
          .then((res) => {
            const url = window.URL.createObjectURL(
              new Blob([res.data], { type: 'application/pdf' })
            )
            const link = document.createElement('a')
            link.href = url
            link.target = '_blank'

            link.setAttribute('download', items.cert_num + '.pdf')

            document.body.appendChild(link)
            link.click()
            vm.$store.commit('setLoading', false)
          })
      }
    },
  },
}
</script>
