<template>
  <div class="section section-gray">
    <div class="container pad10">
      <div class="row row10">
        <div class="col-lg-3 col-sm-4 pad10">
          <UserMenu />
        </div>
        <div class="col-lg-9 col-sm-8 pad10">
          <div class="white-content margin-content border-radius">
            <h5>Құпия сөзді өзгерту</h5>
            <div class="form mt-1 mb-3">
              <b-form-group label="Ескі құпия сөзіңізді енгізіңіз:">
                <b-form-input
                  type="password"
                  v-model="form.password"
                  trim
                ></b-form-input>
              </b-form-group>
              <b-form-group label="Жаңа құпия сөз:">
                <b-form-input
                  type="password"
                  v-model="form.new_password"
                  trim
                ></b-form-input>
              </b-form-group>
              <b-form-group label="Құпия сөзді қайталаңыз:">
                <b-form-input
                  type="password"
                  v-model="form.new_password_confirmation"
                  trim
                ></b-form-input>
              </b-form-group>
              <button class="btn btn-primary" @click="change_pass">
                Сақтау
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UserMenu from '@/components/UserMenu.vue'
export default {
  auth: true,
  data() {
    return {
      form: {},
    }
  },
  components: {
    UserMenu,
  },
  mounted() {},
  methods: {
    change_pass() {
      var vm = this
      this.$axios.post('/change-password', this.form).then((res) => {
        if (res.data.success == true) {
          vm.form = {}
          alert(res.data.message)
        } else {
          alert(res.data.errors)
        }
      })
    },
  },
}
</script>
