<template>
  <div class="section section-gray">
    <div class="container pad10">
      <div class="row row10 justify-content-md-center mt-5 mb-5">
        <b-col col lg="4" sm="12" md="6">
          <b-card>
            <b-card-header>Құпия сөзімді ұмыттым</b-card-header>
            <b-card-body>
                <div v-if='message' class="alert alert-info">{{message}}</div>
              <b-form-group label="Электрондық пошта:">
                <b-input placeholder="Электрондық пошта" v-model="form.email"></b-input>
              </b-form-group>
              <b-button class="btn btn-teal w-100" @click="send">Жіберу</b-button>
            </b-card-body>
          </b-card>
        </b-col>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    data() {
        return {
            message:null,
            form:{}
        }
    },
    methods: {
        send(){
             var vm = this
            vm.$store.commit('setLoading', true)
            this.$axios.post('/forget-password', this.form).then(res => {
                
                if (res.data.status == 'success') {
                    vm.message = res.data.message
                }
                if (res.data.status == 'error') {
                    vm.message = res.data.message
                }
                vm.$store.commit('setLoading', false)
            })
        }
    },
}
</script>