<template>
  <div class="section section-gray">
    <div class="container pad10">
      <div class="row row10">
        <div class="col-lg-3 col-sm-4 pad10">
          <UserMenu />
        </div>
        <div class="col-lg-9 col-sm-8 pad10">
          <div class="white-content margin-content">
            <h5>Тіркелу</h5>
            <div class="user-profile-container">
              <h4>Жеке мәлімет</h4>
              <div class="upload-image d-flex align-items-start">
                <div class="form-group flex-shrink-0">
                  <div class="uni-image">
                    <span :style="'background-image: url('+(register.thumbnail)+');'"></span>
                  </div>
                  <label for="image" class="sr-only">Example file input</label>
                  <input type="file" ref="photo" class="form-control-file" id="image" />
                </div>
              </div>
              <div class="row row10">
                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for="middle_name">Тегі</label>
                    <input
                      type="text"
                      class="form-control"
                      id="middle_name"
                      placeholder="Тегі"
                      v-model="register.middle_name"
                      :class="errors.middle_name ? 'is-invalid':''"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for="last_name">Аты</label>
                    <input
                      type="text"
                      class="form-control"
                      id="last_name"
                      placeholder="Аты"
                      v-model="register.last_name"
                      :class="errors.last_name ? 'is-invalid':''"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for="first_name">Әкесінің аты</label>
                    <input
                      type="text"
                      class="form-control"
                      id="first_name"
                      placeholder="Әкесінің аты"
                      v-model="register.first_name"
                      :class="errors.first_name ? 'is-invalid':''"
                    />
                  </div>
                </div>

                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for="email">Электрондық пошта</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Электрондық пошта"
                      v-model="register.email"
                      disabled
                      :class="errors.email ? 'is-invalid':''"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.email"
                      id="input-live-feedback"
                    >{{errors.email}}</b-form-invalid-feedback>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for>Қолданушы түрі</label>
                    <div class="clearfix"></div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input
                        type="radio"
                        id="teacher"
                        name="user_type"
                        class="custom-control-input"
                        value="teacher"
                        v-model="register.user_type"
                      />
                      <label class="custom-control-label" for="teacher">Мұғалім</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input
                        type="radio"
                        id="student"
                        name="user_type"
                        class="custom-control-input"
                        value="student"
                        v-model="register.user_type"
                      />
                      <label class="custom-control-label" for="student">Студент</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input
                        type="radio"
                        id="high_school_student"
                        name="user_type"
                        class="custom-control-input"
                        value="high_school_student"
                        v-model="register.user_type"
                      />
                      <label class="custom-control-label" for="high_school_student">Оқушы</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input
                        type="radio"
                        id="tarbieshi"
                        name="user_type"
                        class="custom-control-input"
                        value="tarbieshi"
                        v-model="register.user_type"
                      />
                      <label class="custom-control-label" for="tarbieshi">Тәрбиеші</label>
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-4 col-sm-6 pad10"
                  v-if="register.user_type=='high_school_student'"
                >
                  <div class="form-group">
                    <label for="teacher_unumber">Жетекшінің толық аты-жөні:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="teacher_name"
                      placeholder="Жетекшінің толық аты-жөні:"
                      v-model="register.teacher_name"
                      :class="errors.teacher_name ? 'is-invalid':''"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for>Жынысы</label>
                    <div class="clearfix"></div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input
                        type="radio"
                        id="woman"
                        name="gender"
                        class="custom-control-input"
                        value="woman"
                        v-model="register.gender"
                      />
                      <label class="custom-control-label" for="woman">Әйел</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input
                        type="radio"
                        id="man"
                        name="gender"
                        class="custom-control-input"
                        value="man"
                        v-model="register.gender"
                      />
                      <label class="custom-control-label" for="man">Ер</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h4>Мектеп жайлы мәліметтер</h4>
            <div class="row row10">
              <div class="col-lg-4 col-sm-6 pad10">
                <div class="form-group">
                  <label for="school_region">Облыс</label>
                  <select
                    class="custom-select"
                    id="school_region"
                    v-model="register.region_id"
                    @change="load_city($event, true)"
                  >
                    <option selected>-- Таңдау --</option>
                    <option v-for="r in region" :key="r.id" :value="r.id">{{r.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 pad10">
                <div class="form-group">
                  <label for="school_city">Қала/Аудан</label>
                  <select
                    class="custom-select"
                    id="school_city"
                    v-model="register.city_id"
                    @change="load_school($event)"
                  >
                    <option selected>-- Облыс Таңда --</option>
                    <option v-for="r in school_city" :key="r.id" :value="r.id">{{r.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 pad10">
                <div class="form-group">
                  <label for="school">Мектеп</label>
                  <select
                    class="custom-select"
                    id="school"
                    v-model="register.school_id"
                    :class="errors.school_id ? 'is-invalid':''"
                  >
                    <option selected>-- Қала/Аудан Таңда --</option>
                    <option v-for="r in school" :key="r.id" :value="r.id">{{r.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <hr />
            <div class="text-center">
              <button @click="register_form" class="btn btn-teal">Тіркелу</button>
              <NuxtLink to="/" class="btn btn-default">Артқа</NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UserMenu from '@/components/UserMenu.vue'
export default {
  auht: true,
  components: {
    UserMenu
  },
  data() {
    return {
      register: {},
      errors: {},
      message: null,
      region: [],
      school_city: [],
      school: []
    }
  },
  mounted() {
    var vm = this

    vm.inlineLoading = true
    this.$axios.post('/user').then(res => {
      vm.register = res.data

      vm.init()
    })
  },
  methods: {
    load_city(event) {
      var vm = this
      this.$axios.get('/location/' + event.target.value).then(res => {
        vm.school_city = res.data
      })
    },
    load_school(event) {
      var vm = this
      this.$axios.get('/school/' + event.target.value).then(res => {
        vm.school = res.data
      })
    },
    register_form() {
      var vm = this
      var input = this.$refs.photo.files[0]
      let formData = new FormData()
      if (input != undefined) {
        formData.append('file', input)
      }
      formData.append('middle_name', vm.register.middle_name)
      formData.append('last_name', vm.register.last_name)
      formData.append('first_name', vm.register.first_name)
      formData.append('email', vm.register.email)
      formData.append('user_type', vm.register.user_type)
      formData.append('teacher_name', vm.register.teacher_name)
      formData.append('gender', vm.register.gender)
      formData.append('school_id', vm.register.school_id)
      this.$axios
        .post('/profile-post', formData)
        .then(res => {
          if (res.data.errors) {
            vm.errors = res.data.errors
          } else {
            if (res.data.status == 'success') {
              this.$swal(res.data.message)
            }
          }
          window.location.reload()
        })
        .catch(function() {
          console.log('FAILURE!!')
        })
    },
    init() {
      var vm = this
      this.$axios.get('/location').then(res => {
        vm.region = res.data
        vm.$axios.get('/get-user-school').then(res => {
          vm.school_city = res.data.cities
          vm.school = res.data.schools
          vm.register.city_id = res.data.city_id
          vm.register.region_id = res.data.region_id
          vm.register.school_id = res.data.school_id
          vm.$forceUpdate()
          vm.inlineLoading = false
        })
      })
    }
  }
}
</script>