<template>
  <div class="section section-gray">
    <div class="container pad10">
      <div class="row row10">
        <div class="col-lg-3 col-sm-4 pad10">
          <UserMenu />
        </div>
        <div class="col-lg-9 col-sm-8 pad10 ">
          <div class="white-content margin-content border-radius">
            <h5>Түбіртек</h5>

            <div class="user-profile-container add-user-container">
              <ul v-show="errors">
                <li class="alert alert-warning" v-show="errors.amount">insert amount</li>
                <li class="alert alert-warning" v-show="errors.file">select file</li>
              </ul>
              <div v-show="message" class="alert alert-success w-100">{{message}}</div>
              <div class="row row10">
                <div class="col-sm-6 pad10">
                  <div class="form-group">
                    <label for="amount">Сомасы</label>
                    <input
                      type="text"
                      class="form-control"
                      id="amount"
                      aria-describedby="emailHelp"
                      placeholder="Сомасы"
                      v-model="form.amount"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="invoice">Түбіртектің суретін таңдаңыз</label>
                    <input type="file" class="form-control" id="invoice" ref="photo" />
                  </div>
                </div>
              </div>
              <hr />
              <div class="text-center">
                <button class="btn btn-teal" @click="upload_invoice()">Жіберу</button>
                <button class="btn btn-default" @click="()=>{this.form = {}}">Болдырмау</button>
              </div>
            </div>

            <h5 class="mt-5">Түбіртектер</h5>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Түбіртек</th>
                    <th scope="col">Сомасы</th>
                    <th scope="col">Статус</th>

                    <th scope="col">Уақыт</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="p in pagination.data" :key="p.id">
                    <td>
                      <img
                        :src="'/uploads/'+p.invoice_path"
                        :alt="p.amount"
                        style="height:80px; width:auto;"
                      />
                    </td>
                    <td>{{p.amount|to_kzt}}</td>
                    <td>
                      <span v-show="p.status=='income'" class="badge badge-success">Kiris</span>
                      <span v-show="p.status=='pending'" class="badge badge-primary">pending</span>
                      <span v-show="p.status=='rejected'" class="badge badge-warning">rejected</span>
                      <span v-show="p.status=='outcome'" class="badge badge-warning">outcome</span>
                    </td>
                    <td>{{p.created_at}}</td>
                    <td>
                      <button class="btn btn-warning" @click="destory(p)">delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="edu-pagination">
                <ul class="list-unstyled d-flex justify-content-center align-items-center">
                  <li :class="pagination.current_page==1 ? 'disabled':''">
                    <NuxtLink :to="{name:'user-transaction', query:{page:1}}">
                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </NuxtLink>
                  </li>
                  <li
                    v-for="page in  pagination.last_page"
                    :key="page"
                    :class="pagination.current_page==page ? 'active':''"
                  >
                    <NuxtLink :to="{name:'user-transaction', query:{page:page}}">{{page}}</NuxtLink>
                  </li>

                  <li :class="pagination.current_page==pagination.last_page ? 'disabled':''">
                    <NuxtLink :to="{name:'user-transaction', query:{page:pagination.last_page}}">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </NuxtLink>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UserMenu from '@/components/UserMenu.vue'
export default {
  auth: true,
  data() {
    return {
      pagination: [],
      form: {},
      errors: {},
      message: null,
      total: 0,
      loaded: 0,
      uploading: 0
    }
  },
  components: {
    UserMenu
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      var vm = this
      this.$axios.get('/user/invoice').then(res => {
        vm.pagination = res.data
      })
    },
    upload_invoice() {
      var input = this.$refs.photo.files[0]

      var vm = this
      const config = {
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        onUploadProgress: function(progressEvent) {
          var percentCompleted = Math.round(
            (progressEvent.loaded * 100) / progressEvent.total
          )
          vm.total = progressEvent.total
          vm.loaded = progressEvent.loaded
          vm.uploading = percentCompleted
        }
      }

      let formData = new FormData()
      if (input != undefined) {
        formData.append('file', input)
      }
      if (this.form.amount != undefined) {
        formData.append('amount', this.form.amount)
      }

      this.$axios
        .post('/user/invoice-post', formData, config)
        .then(res => {
          if (res.data.errors) {
            vm.errors = res.data.errors
          } else {
            if (res.data.status == 'success') {
              vm.message = res.data.message
              vm.init()
            }
          }
        })
        .catch(function() {
          console.log('FAILURE!!')
        })
    },
    destory(item) {
      var vm = this
      if (confirm('Are u sure?')) {
        this.$axios
          .post('/user/invoice-destory', item)
          .then(res => {
            if (res.data.status == 'success') {
              vm.init()
            }
          })
          .catch(function() {
            console.log('FAILURE!!')
          })
      }
    }
  },
  watch: {
    '$route.query'() {
      var vm = this
      this.$axios
        .get('/user/invoice?page=' + this.$route.query.page)
        .then(res => {
          vm.pagination = res.data
        })
    }
  }
}
</script>