<template>
  <div class="section section-gray">
    <div class="container pad10">
      <div class="row row10">
        <div class="col-lg-3 col-sm-4 pad10">
          <UserMenu />
        </div>
        <div class="col-lg-9 col-sm-8 pad10">
          <div class="white-content add-students border-radius">
            <h5>Аударымдар</h5>
            <div class="form mt-1 mb-3">
              <b-form-group label="Қолданушының ID нөмірі:">
                <b-form-input
                  type="number"
                  v-model="form.unumber"
                  trim
                ></b-form-input>
              </b-form-group>
              <b-form-group label="Сомасы:">
                <b-form-input
                  type="number"
                  v-model="form.amount"
                  trim
                ></b-form-input>
              </b-form-group>
              <button class="btn btn-primary" @click="transfer">Сақтау</button>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Сомасы</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Аударма ID</th>
                    <th scope="col">Сипаттамасы</th>
                    <th scope="col">Уақыт</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="p in pagination.data" :key="p.id">
                    <td>{{ p.amount }}</td>
                    <td>
                      <span
                        v-show="p.status == 'income'"
                        class="badge badge-success"
                        >Kiris</span
                      >
                      <span
                        v-show="p.status == 'pending'"
                        class="badge badge-primary"
                        >pending</span
                      >
                      <span
                        v-show="p.status == 'rejected'"
                        class="badge badge-warning"
                        >rejected</span
                      >
                      <span
                        v-show="p.status == 'outcome'"
                        class="badge badge-warning"
                        >outcome</span
                      >
                    </td>
                    <td>{{ p.source_id }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ p.created_at }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="edu-pagination">
                <ul
                  class="list-unstyled d-flex justify-content-center align-items-center"
                >
                  <li :class="pagination.current_page == 1 ? 'disabled' : ''">
                    <NuxtLink
                      :to="{ name: 'user-transaction', query: { page: 1 } }"
                    >
                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </NuxtLink>
                  </li>
                  <li
                    v-for="page in pagination.last_page"
                    :key="page"
                    :class="pagination.current_page == page ? 'active' : ''"
                  >
                    <NuxtLink
                      :to="{ name: 'user-transaction', query: { page: page } }"
                      >{{ page }}</NuxtLink
                    >
                  </li>

                  <li
                    :class="
                      pagination.current_page == pagination.last_page
                        ? 'disabled'
                        : ''
                    "
                  >
                    <NuxtLink
                      :to="{
                        name: 'user-transaction',
                        query: { page: pagination.last_page },
                      }"
                    >
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </NuxtLink>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UserMenu from '@/components/UserMenu.vue'
export default {
  auth: true,
  data() {
    return {
      pagination: [],
      form: {
        unumber: null,
        amount: 0,
      },
    }
  },
  components: {
    UserMenu,
  },
  methods: {
    transfer() {
      var vm = this
      this.$axios.post('/user/transfer-post', this.form).then((res) => {
        if (res.data.status == 'success') {
          vm.form = { unumber: null, amount: 0 }
          this.fetch()
        } else {
          alert(res.data.message)
        }
      })
    },
    fetch() {
      var vm = this
      this.$axios.get('/user/transaction').then((res) => {
        vm.pagination = res.data
      })
    },
  },
  mounted() {
    this.fetch()
  },
  watch: {
    '$route.query'() {
      var vm = this
      this.$axios
        .get('/user/transaction?page=' + this.$route.query.page)
        .then((res) => {
          vm.pagination = res.data
        })
    },
  },
}
</script>
