<template>
  <div class="col-lg-4 pad10">
    <h5 class="text-center">
      {{ olimpiad.olesson }} <br />
      {{ olimpiad.oclass }}
    </h5>
    <div class="question-number">
      <div class="info">
        <p class="time text-center">
          <strong>{{ h }} {{ m }} минут : {{ s }} секунд</strong>
        </p>
      </div>
      <div class="questions">
        <ul>
          <li v-for="(i, index) in $store.state.questions" :key="index">
            <NuxtLink
              :to="{
                name: 'olimpiad-id',
                params: $route.params,
                query: { question: index, id: i.question_id },
              }"
              :class="
                index == $route.query.question
                  ? 'current'
                  : i.is_checked > 0
                  ? 'done'
                  : ''
              "
            >
              <strong>{{ index + 1 }}</strong>
            </NuxtLink>
          </li>
        </ul>
        <hr />
      </div>
      <div class="action text-center">
        <button class="btn btn-primary btn-finish time" @click="finish">
          Аяқтау
        </button>
      </div>
    </div>
    
    <b-modal id="alert" hide-footer ref="alert">
      <template v-slot:modal-title>{{ title }}</template>
      <div class="d-block text-center">
        <div
          v-show="status.status == 'error'"
          class="alert alert-error w-100"
          v-html="status.message"
        ></div>
        <div
          v-show="status.status == 'finished'"
          class="alert alert-warning w-100"
          v-html="status.message"
        ></div>
        <div
          v-show="status.status == 'expired'"
          class="alert alert-warning w-100"
          v-html="status.message"
        ></div>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('alert')">Ok</b-button>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: ['action_next', 'action_prev'],
  data() {
    return {
      timer: 0,
      h: 0,
      m: 0,
      s: 0,
      olimpiad: {},
      title: {},
      status: {},
      current_index: 1,
    }
  },
  mounted() {
    this.fetch()
  },
  methods: {
    finish() {
      var vm = this
      vm.$store.commit('setLoading', true)
      this.$axios.post('/olimpiad-finish', this.$route.params).then((res) => {
        vm.$store.commit('setLoading', false)
        vm.$router.push({ name: 'user-result' })
      })
    },
    fetch() {
      var vm = this
      vm.$store.commit('setLoading', true)
      this.$axios
        .get('/start', {
          params: { token: this.$route.params.id },
        })
        .then((res) => {
          if (res.data.status == 'success') {
            vm.timer = res.data.timer
            vm.olimpiad = res.data.olimpiad

            vm.start_timer()

            if (vm.$route.query.question == undefined) {
              vm.$router.push({
                name: 'olimpiad-id',
                params: vm.$route.params,
                query: { question: 0, id: res.data.items[0].question_id },
              })
            }
            vm.$store.commit('setTotalQuestion', res.data.items.length)
            vm.$store.commit('setQuestion', res.data.items)
            vm.$store.commit('setLoading', false)
          }
          if (res.data.status == 'error') {
            vm.title = 'Қате!'
            vm.status = res.data
            vm.$refs.alert.show()
          }
          if (res.data.status == 'finished') {
            vm.title = 'Аяқталды'
            vm.status = res.data
            vm.$refs.alert.show()
          }
          if (res.data.status == 'expired') {
            vm.title = 'Олимпиада уақытu'
            vm.status = res.data
            vm.$refs.alert.show()
          }
        })
    },
    start_timer() {
      var el = this
      this.interval = setInterval(() => {
        el.timer = el.timer - 1
        var sec_num = el.timer
        var h = Math.floor(sec_num / 3600)
        var m = Math.floor((sec_num - h * 3600) / 60)
        var s = sec_num - h * 3600 - m * 60
        if (h < 10) {
          h = '0' + h
        }
        if (m < 10) {
          m = '0' + m
        }
        if (s < 10) {
          s = '0' + s
        }
        el.m = m
        el.h = h
        el.s = s
      }, 1000)
    },
  },
}
</script>
