<template>
  <div class="col-lg-8 pad10">
    <inline-loading v-if="$store.state.inlineLoading" />
    <div class="test-single" v-if="question != null">
      <h4>
        <strong
          >{{ parseInt($route.query.question) + 1 }} /
          {{ $store.state.total_questions }}</strong
        >
        <span v-html="question.name"></span>
        <span class="select-answer">
          <small>{{ question.max_choice }} жауапты таңдаңыз</small>
        </span>
      </h4>
      <ul class="list-unstyled" v-if="question.q_type == 'radio'">
        <li
          v-for="a in answer"
          :key="a.id"
          @click="select_radio(a)"
          :class="a.checked == 1 ? 'checked' : ''"
        >
          <div class="form-check">
            <label class="form-check-label" v-html="a.name"></label>
          </div>
        </li>
      </ul>

      <ul class="list-unstyled" v-if="question.q_type == 'check'">
        <li
          v-for="a in answer"
          :key="a.id"
          @click="select_radio(a)"
          :class="a.checked == 1 ? 'checked' : ''"
        >
          <div class="form-check">
            <label class="form-check-label" v-html="a.name"></label>
          </div>
        </li>
      </ul>

      <ul class="list-unstyled cross" v-if="question.q_type == 'cross'">
        <li v-for="a in answer" :key="a.id" v-if="a.col == 1">
          <div
            class="d-flex justify-content-between align-items-center flex-column flex-sm-row"
          >
            <p class="cross-text" v-html="a.name"></p>
            <div class="form-group flex-shrink-0">
              <label for="exampleInputEmail1" class="sr-only">Область</label>
              <select class="custom-select" v-model="a.correct_answer_id">
                <option
                  v-for="aa in answer"
                  :key="aa.id"
                  v-if="aa.col == 2"
                  :value="aa.answer_id"
                >
                  {{ aa.name }}
                </option>
              </select>
            </div>
          </div>
        </li>
      </ul>
      <div
        class="available-answers d-flex justify-content-start align-items-center flex-wrap"
        v-if="question.q_type == 'cross'"
      >
        <p class="w-100"><strong>Жауаптары</strong></p>
        <div
          class="w-100 justify-content-center align-items-stretch flex-wrap cross_answer"
        >
          <span
            v-for="aa in answer"
            :key="aa.id"
            v-if="aa.col == 2"
            class="d-flex align-items-center"
            >{{ aa.name }}</span
          >
        </div>
      </div>
    </div>
    <div
      class="quiz-pagination d-flex justify-content-between align-items-center"
    >
      <NuxtLink
        v-if="
          $store.state.questions.length > 0 &&
          parseInt($route.query.question) - 1 > 0
        "
        :to="{
          name: 'olimpiad-id',
          params: $router.params,
          query: {
            question: parseInt($route.query.question) - 1,
            id:
              $store.state.questions[parseInt($route.query.question) - 1]
                .question_id,
          },
        }"
        class="btn btn-secondary"
      >
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        <span>Алдыңғы</span>
      </NuxtLink>

      <NuxtLink
        v-if="
          $store.state.questions.length > 0 &&
          parseInt($route.query.question) + 1 < $store.state.total_questions
        "
        :to="{
          name: 'olimpiad-id',
          params: $router.params,
          query: {
            question: parseInt($route.query.question) + 1,
            id:
              $store.state.questions[parseInt($route.query.question) + 1]
                .question_id,
          },
        }"
        class="btn btn-secondary"
      >
        <span>Келесі</span>
        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      </NuxtLink>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      question: null,
      answer: [],
    }
  },
  mounted() {
    this.fetch_question()
  },
  methods: {
    fetch_question() {
      if (this.$route.query.id) {
        var vm = this
        vm.$store.commit('setInlineLoading', true)
        this.$axios
          .get('/question', {
            params: {
              token: this.$route.params.id,
              question: this.$route.query.id,
            },
          })
          .then((res) => {
            vm.question = res.data.question
            vm.answer = res.data.answer
            vm.$store.commit('setInlineLoading', false)
          })
      }
    },

    select_radio(a) {
      var t = this.answer.reduce((total, item) => {
        if (item.checked == 1) {
          total++
        }
        return total
      }, 0)

      if (a.checked == 0 && this.question.q_type == 'radio' && 1 <= t) {
        this.$swal('Максималды дұрыс жауап  таңдалған.')
      }
      if (a.checked == 0 && this.question.q_type == 'radio' && 1 > t) {
        a.checked = 1
      } else {
        a.checked = 0
      }

      if (this.question.q_type == 'check') {
        if (this.question.max_choice <= t) {
          a.checked = 0
        }
      }

      if (this.question.q_type == 'check') {
        if (this.question.max_choice > t) {
          a.checked = 1
        } else {
          this.$swal('Максималды дұрыс жауап  таңдалған.')
        }
      }
    },
  },
  watch: {
    '$route.query': {
      handler(query, oldQuery) {
        //first update selected question

        var vm = this
        var update = []
        var is_checked = 0
        Object.keys(this.answer).forEach(function (key) {
          if (vm.answer[key].checked == 1) {
            is_checked = 1
          }
          update.push({
            id: vm.answer[key].id,
            checked: vm.answer[key].checked,
            correct_answer_id: vm.answer[key].correct_answer_id,
          })
        })
        if (is_checked > 0) {
          vm.$store.commit('setQuestionIsChecked', this.$route.query.question)
        }

        vm.$store.commit('setInlineLoading', true)
        this.$axios.post('/question-update', update).then((res) => {
          vm.$store.commit('setInlineLoading', false)
          this.fetch_question()
        })
        //fetch next or prev question
      },
    },
  },
}
</script>
