<template>
  <section class="contact-area pb-5">
    <div class="container">
      <h4 class="text-center">Байланыс</h4>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="text-center p-5">
            <fa-icon :icon="['fa', 'home']"></fa-icon>
            <p>
              <b>Жұмыс уақыты: </b> <br>
              дүйсенбі-жұма: 09:00-19:00 <br>
              Сенбі: 09.00-15.00<br>
              Жексенбі: демалыс
            </p>
            <p style="color: rgb(0, 148, 68)">Мекен жайы: Нұр-Сұлтан қаласы, Қазақстан</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="text-center p-5">
            <fa-icon :icon="['fa', 'phone']"></fa-icon>
            <p>Төмендегі телефон нөмірлеріне хабарласа аласыздар. </p>
            <p style="color: rgb(0, 148, 68)">Телефон/Whatsapp: +7 705 901 0325  (онлайн чат арқылы да хабарласуға болады) </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="text-center p-5">
            <fa-icon :icon="['fa', 'envelope']"></fa-icon>
            <p>Төмендегі почтаға хат жазыңыз</p>
            <p style="color: rgb(0, 148, 68)">E-mail.: megatalant.kz@gmail.com </p>
            

          </div>
        </div>

      </div>
    </div>
  </section>
</template>
<style>
  
</style>
<script>
export default { auth: false }
</script>
