<template>
  <div class="section section-gray">
    <div class="container pad10">
      <div class="row row10 d-flex justify-content-center">
        <div class="col-lg-6 col-sm-10 pad10">
          <div class="left-login left-login2 mb-5 mt-5">
            <h5 class="white">Кіру</h5>
            <p v-show="message" class="alert alert-danger">{{ message }}</p>
            <div class="form-group">
              <label for="email" class="sr-only">Электрондық пошта</label>
              <i class="fa fa-user" aria-hidden="true"></i>
              <input
                type="text"
                class="form-control"
                :class="errors.email ? 'is-invalid' : ''"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Электрондық пошта"
                v-model="user.email"
              />
            </div>
            <div class="form-group">
              <label for="password" class="sr-only">Құпия сөз</label>
              <i class="fa fa-lock" aria-hidden="true"></i>
              <input
                type="password"
                class="form-control"
                :class="errors.password ? 'is-invalid' : ''"
                id="password"
                aria-describedby="emailHelp"
                placeholder="Құпия сөз"
                v-model="user.password"
              />
            </div>
            <div class="text-right">
              <a href="#" class="btn btn-link">
                <i class="fa fa-unlock" aria-hidden="true"></i>
                <span>құпия сөзімді ұмыттым</span>
              </a>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <button class="btn btn-teal btn-block" @click="postLogin">
                Кіру
              </button>
              <NuxtLink to="/register" class="btn btn-white btn-block"
                >Тіркелу</NuxtLink
              >
            </div>
            <hr />
            <div class="social-container">
              <p class="text-center">
                <strong>немесе</strong>
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <a href="#" class="btn btn-social google">
                   <fa-icon :icon="['fab', 'google']"></fa-icon>
                  <i class="fa fa-google" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn btn-social facebook">
                  <fa-icon :icon="['fab', 'facebook']"></fa-icon>
                </a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined

export default {
  auth: false,
  data() {
    return {
      user: {
        email: '',
        password: '',
      },
      errors: {},
      message: null,
    }
  },
  mounted(){
    if(this.$auth.loggedIn){
        this.$router.push("/")
    }
  },
  methods: {
     async postLogin() {
      try {
        let response = await this.$auth.loginWith('local', { data: this.user })
        if(response.status==200 && response.data.success){
          this.$router.push("/")
        }
      } catch (err) {
        console.log(err)
      }
    }
  },
}
</script>
<style>
.left-login {
  background: white;
  padding: 50px;
}
.white {
  margin-bottom: 20px;
}
.form-control,
.custom-select {
  border-radius: 20px;
  font-size: 0.85rem;
  height: 40px;
  padding: 5px 5px 5px 20px;
  border: 1px solid #ccc;
}
.btn.btn-teal,
a.btn-white {
  margin: 10px;

  padding: 10px 20px;
  line-height: 20px;
  font-size: 0.85rem;
  border-radius: 20px;
  border: 1px solid #ccc;
}
</style>
