<template>
  <section class="olimpiad-area pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="text-center">Төлем</h4>
          <div class="alert alert-warning">
            <b>Ескерту:</b> Төлеген соң шыққан Түбіртекті (квитанция) жеке кабинеттегі
            “Түбіртектер” бөлімі арқылы жүктейсіз!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 p-5">
          <h5>Банк кассасы және казпочта арқылы төлем жасау</h5>
          <ul>
            <li>Назначение платежа: За участие megatalant.kz</li>
            <li>ИИН: 950103000018</li>
            <li>ИИК: KZ03722S000006828297 KZT АО «Kaspi Bank»</li>
            <li>БИК Банка: CASPKZKA</li>
            <li>Кбе:19</li>
          </ul>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 p-5">
          <h5>Kaspi.kz арқылы төлем жасау</h5>
          <ul>
            <li>Kaspi.kz сайтына өтіп, жеке бетіңізге кіріңіз</li>
            <li>«Курсы и образование» бетін ашып</li>
            <li>“Поиск” бөліміне “Megatalant.kz” деп жазасыз</li>
            <li>«ID» жолына ID нөмерін енгізіңіз</li>
            <li>Төлеу қажет сомманы енгізіп, «Төлеу-ді» басыңыз</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default { auth: false }
</script>
