<template>
  <div class="section section-gray">
    <div class="container pad10">
      <div class="row row10 d-flex justify-content-center">
        <div class="col-lg-6 col-sm-10 pad10">
          <div class="white-content margin-content">
            <h4 class="mb-5">Тіркелу</h4>

            <div class="user-profile-container">
              
              <div class="row row10">
                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for="middle_name">Тегі</label>
                    <input
                      type="text"
                      class="form-control"
                      id="middle_name"
                      placeholder="Тегі"
                      v-model="register.middle_name"
                      :class="errors.middle_name ? 'is-invalid' : ''"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for="last_name">Аты</label>
                    <input
                      type="text"
                      class="form-control"
                      id="last_name"
                      placeholder="Аты"
                      v-model="register.last_name"
                      :class="errors.last_name ? 'is-invalid' : ''"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for="first_name">Әкесінің аты</label>
                    <input
                      type="text"
                      class="form-control"
                      id="first_name"
                      placeholder="Әкесінің аты"
                      v-model="register.first_name"
                      :class="errors.first_name ? 'is-invalid' : ''"
                    />
                  </div>
                </div>

                <div class="col-lg-12 pad10">
                  <div class="form-group">
                    <label for="email">Электрондық пошта</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Электрондық пошта"
                      v-model="register.email"
                      :class="errors.email ? 'is-invalid' : ''"
                    />
                    <b-form-invalid-feedback
                      v-if="errors.email"
                      id="input-live-feedback"
                    >
                      {{ errors.email }}
                    </b-form-invalid-feedback>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for>Қолданушы түрі</label>
                    <div class="clearfix"></div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="teacher"
                        name="user_type"
                        class="custom-control-input"
                        value="teacher"
                        v-model="register.user_type"
                      />
                      <label class="custom-control-label" for="teacher"
                        >Мұғалім</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="student"
                        name="user_type"
                        class="custom-control-input"
                        value="student"
                        v-model="register.user_type"
                      />
                      <label class="custom-control-label" for="student"
                        >Студент</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="high_school_student"
                        name="user_type"
                        class="custom-control-input"
                        value="high_school_student"
                        v-model="register.user_type"
                      />
                      <label
                        class="custom-control-label"
                        for="high_school_student"
                        >Оқушы</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="tarbieshi"
                        name="user_type"
                        class="custom-control-input"
                        value="tarbieshi"
                        v-model="register.user_type"
                      />
                      <label class="custom-control-label" for="tarbieshi"
                        >Тәрбиеші</label
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-4 col-sm-6 pad10"
                  v-if="register.user_type == 'high_school_student'"
                >
                  <div class="form-group">
                    <label for="teacher_unumber"
                      >Жетекшінің толық аты-жөні:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="teacher_name"
                      placeholder="Жетекшінің толық аты-жөні:"
                      v-model="register.teacher_name"
                      :class="errors.teacher_name ? 'is-invalid' : ''"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for>Жынысы</label>
                    <div class="clearfix"></div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="woman"
                        name="gender"
                        class="custom-control-input"
                        value="woman"
                        v-model="register.gender"
                      />
                      <label class="custom-control-label" for="woman"
                        >Әйел</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="man"
                        name="gender"
                        class="custom-control-input"
                        value="man"
                        v-model="register.gender"
                      />
                      <label class="custom-control-label" for="man">Ер</label>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for="region">Облыс</label>
                    <select class="custom-select" id="region" @change="load_city($event, false)">
                      <option selected>-- Таңдау --</option>
                      <option v-for="r in region" :key="r.id" :value="r.id">{{r.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 pad10">
                  <div class="form-group">
                    <label for="city">Қала/Аудан</label>
                    <select
                      class="custom-select"
                      id="city"
                      v-model="register.location_id"
                      :class="errors.location_id ? 'is-invalid':''"
                    >
                      <option selected>-- Облыс Таңда --</option>
                      <option v-for="r in city" :key="r.id" :value="r.id">{{r.name}}</option>
                    </select>
                  </div> -->
              </div>
            </div>
            <h4>Мектеп жайлы мәліметтер</h4>
            <div class="row row10">
              <div class="col-lg-4 col-sm-6 pad10">
                <div class="form-group">
                  <label for="school_region">Облыс</label>
                  <select
                    class="custom-select"
                    id="school_region"
                    @change="load_city($event, true)"
                  >
                    <option selected>-- Таңдау --</option>
                    <option v-for="r in region" :key="r.id" :value="r.id">
                      {{ r.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 pad10">
                <div class="form-group">
                  <label for="school_city">Қала/Аудан</label>
                  <select
                    class="custom-select"
                    id="school_city"
                    @change="load_school($event)"
                  >
                    <option selected>-- Облыс Таңда --</option>
                    <option v-for="r in school_city" :key="r.id" :value="r.id">
                      {{ r.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 pad10">
                <div class="form-group">
                  <label for="school">Мектеп</label>
                  <select
                    class="custom-select"
                    id="school"
                    v-model="register.school_id"
                    :class="errors.school_id ? 'is-invalid' : ''"
                  >
                    <option selected>-- Қала/Аудан Таңда --</option>
                    <option v-for="r in school" :key="r.id" :value="r.id">
                      {{ r.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <h4>Құпия сөз</h4>
            <div class="row row10">
              <div class="col-lg-12 pad10">
                <div class="form-group">
                  <label for="pass">Құпия сөз</label>
                  <input
                    type="password"
                    class="form-control"
                    id="pass"
                    placeholder="Құпия сөз"
                    v-model="register.password"
                    :class="errors.password ? 'is-invalid' : ''"
                  />
                </div>
              </div>
              <div class="col-lg-12 pad10">
                <div class="form-group">
                  <label for="repeat_pass">Құпия сөзді қайталаңыз</label>
                  <input
                    type="password"
                    class="form-control"
                    id="repeat_pass"
                    placeholder="Құпия сөзді қайталаңыз"
                    v-model="register.password_confirmation"
                    :class="errors.password ? 'is-invalid' : ''"
                  />
                </div>
              </div>
            </div>
            <!-- <div class="privacy-text d-flex align-items-center justify-content-center">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">I agree to the <a href="#">Terms of Service</a> &amp; <a href="#">Privacy Policy</a></label>
                      </div>
              </div>-->
            <hr />
            <div class="text-center">
              <button @click="register_form" class="btn btn-teal">
                Тіркелу
              </button>
              <NuxtLink to="/" class="btn btn-default">Артқа</NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  auth: false,
  data() {
    return {
      register: {
        user_type: 'student',
        gender: 'woman',
      },

      region: [],
      city: [],
      school_city: [],
      school: [],
      errors: {},
      message: null,
    }
  },
  mounted() {
    var vm = this
    this.$axios.get('/location').then((res) => {
      vm.region = res.data
    })
  },
  methods: {
    register_form() {
      var vm = this
      this.$axios.post('/register', this.register).then((res) => {
        if (res.data.errors) {
          vm.errors = res.data.errors
        }

        if (res.data.status == 'success') {
          vm.$router.push('/login')
        }
      })
    },
    load_city(event, is_school) {
      var vm = this
      this.$axios.get('/location/' + event.target.value).then((res) => {
        if (is_school) {
          vm.school_city = res.data
        } else {
          vm.city = res.data
        }
      })
    },
    load_school(event) {
      var vm = this
      this.$axios.get('/school/' + event.target.value).then((res) => {
        console.log(res.data.errors)

        vm.school = res.data
      })
    },
  },
}
</script>
<style>
.left-login , .white-content {
  background: white;
  padding: 50px;
  margin-bottom: 20px;
}
.white-content .custom-control-label{
    color: black

}
.white-content .custom-control-label::before {
    position: absolute;
    top: 0;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.white {
  margin-bottom: 20px;
}
.form-control,
.custom-select {
  border-radius: 20px;
  font-size: 0.85rem;
  height: 40px;
  padding: 5px 5px 5px 20px;
  border: 1px solid #ccc;
}
.btn.btn-teal,
a.btn-white {
  margin: 10px;

  padding: 10px 20px;
  line-height: 20px;
  font-size: 0.85rem;
  border-radius: 20px;
  border: 1px solid #ccc;
}
</style>