<template>
  <section class="olimpiad-area pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h4 class="text-center">Оқушыларға</h4>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {auth: false,}
</script>
