<template>
  <section class="quiz-area">
    <div class="container">
      <div class="row">
        <b-col xs="12" md="8">
          <div class="test-single">
            <h4>
              <strong>10 / 20</strong>
              <span
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum dignissim vulputate odio, at commodo lacus euismod
                vitae.</span
              >
              <span class="select-answer">
                <small>Select 1 answer</small>
              </span>
            </h4>
            <ul class="list-unstyled">
              <li class="checked">
                <div class="form-check">
                  <label class="form-check-label" for="exampleRadios1">
                    Cras vitae lacus non orci congue consectetur.
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <label class="form-check-label" for="exampleRadios2">
                    Vivamus consequat mi cursus, dapibus metus non, interdum
                    ante.
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <label class="form-check-label" for="exampleRadios3">
                    Sed magna justo, laoreet ut ligula ac, blandit aliquam
                    dolor.
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <label class="form-check-label" for="exampleRadios4">
                    Pellentesque imperdiet enim nec elit laoreet commodo.
                  </label>
                </div>
              </li>
            </ul>
          </div>
          <div
            class="test-action d-flex justify-content-between align-items-center"
          >
            <a href="#" class="btn btn-secondary"
              ><i class="fa fa-angle-left" aria-hidden="true"></i> Previous</a
            >
            <a href="#" class="btn btn-secondary"
              >Next <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
        </b-col>
        <b-col xs="12" md="4">
          <h5 class="text-center">
            ПО АНГЛИЙСКОМУ ЯЗЫКУ <br />
            6 КЛАСС
          </h5>
          <div class="question-number">
            <div class="text-center">
              <button class="time">15 минут : 45 секунд</button>
              <br />
              <span class="page"> TESTS DONE: <span>9/20</span> </span>
            </div>
            <div class="questions">
              <ul>
                <li
                  v-for="i in [1, 2, 3, 4, 5, 6, 7, 9, 9, 10, 11, 12, 13]"
                  :key="i"
                >
                  <a href="#">{{ i }}</a>
                </li>
              </ul>
              <hr />
            </div>
            <div class="action text-center">
              <button class="btn btn-primary btn-finish">Finish exam</button>
            </div>
          </div>
        </b-col>
      </div>
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style></style>
