<template>
  <router-view></router-view>
</template>

<script>
  export default {
    name: 'app',
    mounted(){
     
    }
  }
</script>
<style type="text/css">
    .notify{
        z-index: 99999 !important;
    }
    .selected{
        background: rgba(0,0,0,0.1);
    }
</style>