<template>
  <div class="section section-gray">
    <div class="container pad10">
      
      <div class="quiz-container">
        <div class="row row10">
          <div class="col-lg-4 pad10">
            <div class="white-content">
              <div class="quiz-info">
                <h4>{{item.lesson}}-{{item.class}}</h4>
                <div class="timer d-flex justify-content-center align-items-center">
                  <i class="fa fa-check" aria-hidden="true"></i>
                  <div class="info">
                    <p class="done">
                      <span>Олимпиада аяқталды:</span>
                      <strong>{{item.point}}/{{item.max_point}}</strong>
                    </p>
                  </div>
                </div>
                <div class="small-check d-flex justify-content-start align-items-center flex-wrap">
                  <a
                    href="#"
                    v-for="(q, index) in item.questions"
                    :key="q.id"
                    :class="get_class(q)"
                  >
                    <strong>{{index+1}}</strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 pad10">
            <div class="white-content">
              <div class="quiz-singles">
                <div class="single" v-for="(qq, index) in item.questions" :key="qq.id">
                  <h4 class="d-flex justify-content-start align-items-center">
                    <strong>{{index+1}}/{{item.questions.length}}</strong>
                    <span v-html="qq.name"></span>
                  </h4>
                  <p class="answer-count">{{qq.max_choice}} жауапты таңдаңыз</p>
                  <ol class="list-unstyled" v-show="qq.q_type=='radio'||qq.q_type=='check'">
                    <li
                      v-for="item in qq.answers"
                      :key="item.id"
                      :class="(item.checked==1) ? (item.is_true==1 ? 'correct':'wrong'):''"
                    >
                      <div class="form-check form-check-inline">
                        <label class="form-check-label" v-html="item.name"></label>
                      </div>
                    </li>
                  </ol>
                  <ol class="list-unstyled" v-show="qq.q_type=='cross'">
                    <li
                      v-for="item in qq.answers"
                      :key="item.id"
                      v-if="item.col==1"
                      :class="is_correct(item, qq.answers)"
                    >
                      <div
                        class="d-flex justify-content-between align-items-center flex-column flex-sm-row"
                      >
                        <p class="cross-text" v-html="item.name"></p>
                        <div class="form-group flex-shrink-0">
                          <label for="exampleInputEmail1" class="sr-only">Область</label>
                          <select class="custom-select" v-model="item.correct_answer_id">
                            <option
                              v-for="aa in qq.answers"
                              :key="aa.id"
                              v-if="aa.col==2"
                              :value="aa.answer_id"
                            >{{aa.name}}</option>
                          </select>
                        </div>
                      </div>
                    </li>
                  </ol>
                  <div
                    class="available-answers d-flex justify-content-start align-items-center flex-wrap"
                  >
                    <p class="w-100">Жауаптары</p>
                    <div class="w-100 justify-content-center align-items-stretch flex-wrap">
                      <span
                        v-for="aa in qq.answers"
                        :key="aa.id"
                        v-if="aa.col==2"
                        class="d-flex align-items-center"
                      >{{aa.name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <inline-loading v-if="loading"></inline-loading>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      item: {},
      loading:false
    }
  },
  mounted() {
    var vm = this
    vm.loading = true
    this.$axios.get('/user/result/' + this.$route.params.id, {}).then(res => {
      vm.item = res.data
      vm.loading = false
    })
  },
  methods: {
    get_class(q) {
      let total = q.answers.reduce((total, item) => {
        if (item.checked == 1 && item.is_true == 1) {
          total = total + 1
        }
        return total
      }, 0)

      return total > 0 ? 'done' : 'failed'
    },
    is_correct(selected, answers) {
      var is_wrong = ''
      answers.forEach(item => {
        if (item.col == 2) {
          if (selected.correct_answer_id == item.answer_id) {
            if (item.correct_answer_id == selected.answer_id) {
              is_wrong = 'correct'
            }else{
              is_wrong = 'wrong'
            }
          }
        }
      })
      return is_wrong;
    }
  }
}
</script>