<template>
  <div class="section section-gray">
    <div class="container pad10">
      <div class="row row10">
        <div class="col-lg-3 col-sm-4 pad10">
          <UserMenu />
        </div>
        <div class="col-lg-9 col-sm-8 pad10">
          <div class="white-content margin-content">
            <h5>Менің жетістіктерім</h5>
            <div class="my-results">
              <div class="row row10">
                <div
                  class="col-xl-6 col-lg-4 pad10"
                  v-if="!$store.state.inlineLoading"
                  v-for="item in items"
                  :key="item.id"
                >
                  <div class="single">
                    <div
                      class="d-flex justify-content-sm-center justify-content-between flex-lg-column flex-xl-row align-items-center"
                    >
                      <div class="info">
                        <p class="lesson">{{ item.lesson }}</p>
                        <p class="class">{{ item.class }}</p>
                        <p
                          class="date d-flex justify-content-between align-items-center"
                        >
                          <small>
                            <fa-icon :icon="['fas', 'calendar-check']" />
                           
                          </small>
                          {{ item.start_at }}
                        </p>
                        <p
                          class="time d-flex justify-content-between align-items-center"
                        >
                          <small>
                            <fa-icon :icon="['fas', 'clock']" />
                          </small>
                          {{ item.total_seconds }}
                        </p>
                        <p
                          class="score d-flex justify-content-between align-items-center"
                        >
                          <small>
                            <fa-icon :icon="['fas', 'check-circle']" />
                            
                            Ұпай:
                          </small>
                          <strong>{{ item.point }}/{{ item.total }}</strong>
                        </p>
                      </div>
                      <div class="action flex-shrink-0">
                        <NuxtLink
                          :to="{
                            name: 'user-result-id',
                            params: { id: item.token },
                          }"
                          class="btn btn-teal"
                          >Жауаптарды көру</NuxtLink
                        >
                        <p>Сертификат &amp; диплом</p>
                        <button
                          class="btn btn-secondary"
                          @click="view_certificate(item, false)"
                        >
                          Көру
                        </button>
                        <button
                          class="btn btn-secondary"
                          @click="download('img', item)"
                        >
                          <i class="fa fa-file-image-o" aria-hidden="true"></i>
                          JPG
                        </button>
                        <button
                          class="btn btn-secondary"
                          @click="download('pdf', item)"
                        >
                          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                          <span>PDF</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <b-modal
                  ref="preview"
                  hide-footer
                  title="Сертификатты көру"
                  size="lg"
                >
                  <b-img
                    v-if="preview"
                    :src="preview"
                    alt="preview"
                    fluid
                    class="img-responsive"
                  ></b-img>
                  <inline-loading v-else />
                </b-modal>
                <inline-loading v-if="$store.state.inlineLoading" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UserMenu from '@/components/UserMenu.vue'

export default {
  auth: true,
  data() {
    return {
      items: [],
      preview: null,
    }
  },
  components: {
    UserMenu,
  },
  mounted() {
    var vm = this
    vm.$store.commit('setInlineLoading', true)
    this.$axios.get('/user/my-result', {}).then((res) => {
      vm.items = res.data
      vm.$store.commit('setInlineLoading', false)
    })
  },
  methods: {
    view_certificate(item, is_download) {
      var vm = this
      vm.preview =
        'http://api.megatalant.kz/api/user/certificate/image/' + item.token
      vm.$refs.preview.show()
      // this.showads()
    },
    download(type, item) {
      // this.showads()
      var vm = this
      vm.$store.commit('setLoading', true)

      if (type == 'img') {
        this.$axios
          .get('/user/certificate/image/' + item.token, {
            responseType: 'blob',
          })
          .then((res) => {
            const url = window.URL.createObjectURL(
              new Blob([res.data], { type: 'image/jpeg' })
            )
            const link = document.createElement('a')
            link.href = url
            link.target = '_blank'

            link.setAttribute('download', item.cert_num + '.jpg')

            document.body.appendChild(link)
            link.click()
            vm.$store.commit('setLoading', false)
          })
      }

      if (type == 'pdf') {
        this.$axios
          .get('/user/certificate/pdf/' + item.token, {
            responseType: 'blob',
          })
          .then((res) => {
            const url = window.URL.createObjectURL(
              new Blob([res.data], { type: 'application/pdf' })
            )
            const link = document.createElement('a')
            link.href = url
            link.target = '_blank'

            link.setAttribute('download', item.cert_num + '.pdf')

            document.body.appendChild(link)
            link.click()
            vm.$store.commit('setLoading', false)
          })
      }
    },
  },
}
</script>
