<template>
  <div id="app-certificate">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card" title="certificate">
          <div class="card-header d-inline">
            Certificates
            <select class="input-sm form-control w-25 float-right" v-model="filter.certificate_type" @change="filter_certificate">
              <option value="olimpiad">Olimpiad</option>
                <option value="lesson_plan">Lesson Plan</option>
                <option value="konkurs">Konkurs</option>
                <option value="thanks">Алғыс хат </option>
                <option value="khurmet">құрмет грамотасы </option>
            </select>
          </div>
          <div class="card-body">
            <!-- TAB NAVIGATION -->
            <b-tabs>
              <b-tab title="Gold" active>
                <b-img
                  v-for="c in items"
                  thumbnail
                  width="75"
                  height="75"
                  v-if="c.level=='gold'"
                  :key="c.id"
                  @click="edit(c)"
                  :src="'/api/media?filename='+'/certificate/'+c.image_path"
                  alt="center image"
                />
              </b-tab>
              <b-tab title="Bronze">
                <b-img
                  v-for="c in items"
                  thumbnail
                  width="75"
                  height="75"
                  v-if="c.level=='bronze'"
                  :key="c.id"
                  @click="edit(c)"
                  :src="'/api/media?filename='+'/certificate/'+c.image_path"
                  alt="center image"
                />
              </b-tab>
              <b-tab title="Silver">
                <b-img
                  v-for="c in items"
                  thumbnail
                  width="75"
                  height="75"
                  v-if="c.level=='silver'"
                  :key="c.id"
                  v-on:click="edit(c)"
                  :src="'/api/media?filename='+'/certificate/'+c.image_path"
                  alt="center image"
                />
              </b-tab>
              <b-tab title="Other">
                <b-img
                  v-for="c in items"
                  thumbnail
                  width="75"
                  height="75"
                  v-if="c.level=='other'"
                  :key="c.id"
                  v-on:click="edit(c)"
                  :src="'/api/media?filename='+'/certificate/'+c.image_path"
                  alt="center image"
                />
              </b-tab>
              <b-tab title="Event">
                <b-img
                  v-for="c in items"
                  thumbnail
                  width="75"
                  height="75"
                  v-if="c.level=='event'"
                  :key="c.id"
                  v-on:click="edit(c)"
                  :src="'/api/media?filename='+'/certificate/'+c.image_path"
                  alt="center image"
                />
              </b-tab>
            </b-tabs>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div class="card-header">
            Certificate Form
            <button
              class="btn btn-sm btn-primary ml-2"
              v-on:click="()=>{this.content={}}"
            >New Certificate</button>
          </div>
          <div class="card-body">
            <div class="form-group">
              Photo: ({{loaded}}/{{total}}) {{uploading}}%
              <input
                type="file"
                class="form-control"
                ref="photo"
                v-on:change="onchange()"
                placeholder="Certificate file"
              />
            </div>
            <div class="form-group">
              <label for="select_level">Level:</label>
              <select v-model="certificate.level" class="form-control">
                <option value="gold">Gold</option>
                <option value="bronze">Bronze</option>
                <option value="silver">Silver</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="select_level">Certificate Type:</label>
              <select v-model="certificate.certificate_type" class="form-control">
                <option value="olimpiad">Olimpiad</option>
                <option value="lesson_plan">Lesson Plan</option>
                <option value="konkurs">Konkurs</option>
                <option value="thanks">Алғыс хат </option>
                <option value="khurmet">құрмет грамотасы </option>
              </select>
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    checked
                    id="inlineRadio1"
                    value="landscape"
                    v-model="certificate.orientation"
                  />
                  Landscape
                </label>
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="portrait"
                    v-model="certificate.orientation"
                  /> Portrait
                </label>
              </div>
            </div>

            <div class="form-group">
              <textarea class="form-control" name="editor" v-model="certificate.content"></textarea>
            </div>
            <h2>Preview {{certificate.image_path}}</h2>
            <div class="page" v-if="certificate">
              <div :class="certificate.orientation">
                <img
                  :src="'/api/media?filename='+'/certificate/'+certificate.image_path"
                  alt="certificate"
                  style="width:100%; height:auto;"
                />
                <div v-html="certificate.content"></div>
              </div>
            </div>

            <div class="form-group">
              <button
                class="btn btn-primary"
                style="width: 100%; margin-top:20px;"
                @click="save_update"
              >Save Certificate</button>

              <button
                class="btn btn-warning"
                v-if="certificate.id>0"
                style="width: 100%; margin-top:20px;"
                @click="destroy"
              >Delete this</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { API_URL } from "../store/api";

export default {
  data() {
    return {
      selected_image: "",
      certificate: {},
      items: {},
      total: 0,
      loaded: 0,
      uploading: 0,
      filter:{
        certificate_type:'olimpiad'
      }
    };
  },

  mounted() {
    this.fetch_data();
  },
  methods: {
    filter_certificate(){
      this.fetch_data()
    },
    fetch_data() {
      var el = this;
      axios
        .get(API_URL + "get_list/certificate", { params: {filter: this.filter} })
        .then(function(response) {
          el.items = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    onchange() {
      var input = this.$refs.photo.files[0];

      var vm = this;
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        },
        onUploadProgress: function(progressEvent) {
          var percentCompleted = Math.round(
            (progressEvent.loaded * 100) / progressEvent.total
          );
          vm.total = progressEvent.total;
          vm.loaded = progressEvent.loaded;
          vm.uploading = percentCompleted;
        }
      };

      let formData = new FormData();
      formData.append("file", input);
      axios
        .post(API_URL + "upload", formData, config)
        .then(res => {
          if (res.data.errors) {
            alert(res.data.errors);
          } else {
            vm.certificate.image_path = res.data.filename;
            vm.file = null;
            vm.$refs.file.photo = "";
          }
        })
        .catch(function() {
          console.log("FAILURE!!");
        });
    },
    save_update() {
      var el = this;
      axios
        .post(API_URL + "add_or_update/certificate", this.certificate)
        .then(function(response) {
          el.fetch_data();
          el.certificate = {};
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    edit(item) {
      this.certificate = item;
      this.$forceUpdate();
    },
    new_cert() {
      this.certificate = {};
    },
    destroy() {
      if (confirm("Are you sure?")) {
        var el = this;
        axios
          .post(API_URL + "destroy/certificate", this.certificate)
          .then(function(response) {
            el.fetch_data();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    }
  }
};
</script>
