<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-6">
        <b-card no-body>
          <b-card-header>Classes</b-card-header>
          <b-card-body class="p-0">
            <table class="table table-striped">
              <tr>
                <th>#</th>
                <th>Class</th>

                <th></th>
              </tr>
              <tr v-for="c in items" :key="c.id" :class="c.id==item.id ? 'selected':''">
                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>
                  <button class="btn btn-primary btn-sm" @click="edit(c)">Өзгерту</button>
                  <button class="btn btn-danger btn-sm" @click="destory(c)">Өшіру</button>
                </td>
              </tr>
            </table>
          </b-card-body>
        </b-card>
      </div>
      <div class="col-6">
        <b-card no-body>
          <b-card-header>
            Class Form
            <button
              class="pull-right btn btn-sm btn-primary"
              @click="()=>{this.item = {}}"
            >Жаңасын қосу</button>
          </b-card-header>
          <b-card-body class="p-2">
            <b-form-group label="Class Name">
              <b-input v-model="item.name" placeholder="Class name"></b-input>
            </b-form-group>
            <b-form-group>
              <b-button @click="update_item()" class="w-100" variant="primary">Submit</b-button>
            </b-form-group>
          </b-card-body>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import { API_URL } from "../store/api";

export default {
  name: "classes",
  data() {
    return {
      items: [],
      item: {}
    };
  },

  mounted() {
    this.fetch_data();
  },
  methods: {
    fetch_data() {
      var el = this;
      axios
        .get(API_URL + "get_list/o_class", {
          params: {
           
          }
        })
        .then(function(res) {
          el.items = res.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    update_item() {
      var el = this;
      axios
        .post(API_URL + "add_or_update/o_class", this.item)
        .then(function(res) {
          el.item = {};
          el.fetch_data();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    edit(item) {
      this.item = item;
    },
    destory(item) {
      if (confirm("Are you sure?")) {
        var el = this;
        axios
          .post(API_URL + "destory/o_class", item)
          .then(function(res) {
            el.fetch_data();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    }
  }
};
</script>
