<template>
	<div id="app-translation">
        <div class="card">
            <div class="card-header">Not Converted User Quizes</div>
            <div class="card-body">
            	
            </div>
        </div>
    </div>
</template>
<script>
	import { API_URL } from "../store/api";
	export default {
		data(){
			return {
				pagination:{},
			}
		},
		 mounted() {
           
            this.fetch_user_quiz()
            
        },
		methods: {
            fetch_user_quiz(){
                var el = this;
                axios.get(API_URL+"get_convert/user_quiz", {params:{}})
                    .then(function (response) {
                       
                       	axios.get(API_URL+"convert/"+response.data.id, {params:{}})
		                    .then(function (response) {
		                        el.fetch_user_quiz()
		                    })
		                    .catch(function (error) {
		                        console.log(error)
		                    });
		                    })
		                    .catch(function (error) {
		                        console.log(error)
                    	});
            },

            convert(){
                var el = this;
                
            }
        }
	}
</script>