<template>
    <div id="app-invoices">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Invoices</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Invoice</th>
                        <th>Amount</th>
                        <th>User</th>
                        <th>Date</th>
                        <th width="180"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in pagination.data" :key="item.id">
                        <td>#{{item.id}}</td>
                        <td><a :href="item.invoice" target="_blank"><img :src="'/uploads/'+item.invoice_path" style="height: 50px;"></a>
                        </td>
                        <td>{{item.amount}}</td>
                        <td>{{item.user_id}}</td>
                        <td>{{item.created_at}}</td>
                        <td>
                            <button v-if="item.status=='pending'" class="btn btn-sm btn-primary"
                                    v-on:click="status(item, 'approved')">Approve
                            </button>
                            <button v-if="item.status=='pending'" class="btn btn-sm btn-warning"
                                    v-on:click="status(item, 'cancelled')">Cancel
                            </button>
                            <label v-if='loading'>Loading...</label>
                            <label v-if="item.status=='cancelled'" class="alert alert-warning">Cancelled</label>
                            <label v-if="item.status=='approved'" class="alert alert-success">Approved</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination v-if="pagination.last_page > 0"
                                    :pagination="pagination"
                                    :offset="10"

                                    @paginate="fetch()">

                        </pagination>

            </div>
        </div>

    </div>
</template>
<script>
    import {API_URL} from '../store/api'
    

    export default {
        name: 'class_lessons',
       data(){
           return {
               pagination:{},
               loading:false

           }
        },
        mounted(){
            this.fetch()
        },
        methods: {
            fetch(){
                var el = this
                axios.get(API_URL+"get_list/invoice", {params:{page: this.pagination ? this.pagination.current_page : 1,'pagination':1}})
                    .then(function (response) {
                        el.pagination = response.data
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            status(item, status) {
                var el = this;
                axios.post(API_URL+"add_or_update/invoice", {'id': item.id, 'status':status})
                    .then(function (response) {
                        el.fetch()
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            }
        }
    }
</script>