<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-12">
        <b-card no-body>
          <b-card-header>{{item.title}}</b-card-header>
          <b-card-body class="p-0">
            <table class="table table-striped">
              <tr>
                <th>#</th>
                <th>First/Fast name</th>
                <th>title</th>
                <th>like/dislike</th>
                <th>views</th>

                <th></th>
              </tr>
              <tr v-for="c in pagination.data" :key="c.id">
                <td>{{c.id}}</td>
                <td>{{c.full_name}}</td>
                <td>{{c.title}}</td>
                <td>{{c.like}}/{{c.dislike}}</td>
                <td>{{c.views}}</td>
                <td>
                  <button class="btn" :class="c.pos==1 ? 'btn-primary':'btn-light'" @click="pos(c, 1)">1</button>
                  <button class="btn " :class="c.pos==2 ? 'btn-info':'btn-light'" @click="pos(c, 2)"> 2</button>
                  <button class="btn " :class="c.pos==3 ? 'btn-secondary':'btn-light'" @click="pos(c, 3)">3</button>
                </td>
              </tr>
            </table>
            <pagination
              v-if="pagination.last_page > 0"
              :pagination="pagination"
              :offset="5"
              @paginate="fetch_data()"
            ></pagination>
          </b-card-body>
        </b-card>
      </div>
    </div>
  </div>
</template>
<script>
import { API_URL } from "../store/api";
export default {
  data() {
    return {
      pagination: {},
      item: {},
      total: 0,
      loaded: 0
    };
  },
  mounted() {
    this.fetch_data();
    var el = this;
    axios
      .get(API_URL + "get_list/konkurs", {
        params: { filter: { id: this.$route.params.id } }
      })
      .then(function(res) {
        el.item = res.data[0];
      })
      .catch(function(error) {
        console.log(error);
      });
  },
  methods: {
    pos(item, pos){
      var el = this;
      pos = (item.pos>0 && item.pos==pos) ? 0:pos
      axios
        .post(API_URL + "add_or_update/konkurs_member", {id:item.id, pos:pos})
        .then(function(res) {
          el.fetch_data();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    
    fetch_data() {
      var el = this;
      axios
        .get(API_URL + "get_list/konkurs_member", {
          params: {
            page: this.pagination ? this.pagination.current_page : 1,
            pagination: 1,
            filter: { konkurs_id: this.$route.params.id },
            order_by: "`like` desc, `views` desc"
          }
        })
        .then(function(res) {
          el.pagination = res.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>