<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-6">
        <b-card no-body>
          <b-card-header>Конкурстар</b-card-header>
          <b-card-body class="p-0">
            <table class="table table-striped">
              <tr>
                <th>#</th>
                <th></th>
                <th>Конкурс</th>

                <th></th>
              </tr>
              <tr v-for="c in items" :key="c.id" :class="c.id==item.id ? 'selected':''">
                <td>{{c.id}}</td>
                <td>
                  <img :src="c.image_path" :alt="c.title" style="height: 120px;" />
                </td>
                <td>{{c.title}}</td>
                <td>
                  <button class="btn btn-primary btn-sm" @click="edit(c)">Өзгерту</button>
                  <button class="btn btn-danger btn-sm" @click="destory(c)">Өшіру</button>
                  <a :href="'/#/konkurs/'+c.id+'/members'" class="btn btn-success">Bids</a>
                </td>
              </tr>
            </table>
          </b-card-body>
        </b-card>
      </div>
      <div class="col-6">
        <b-card no-body>
          <b-card-header>
            Конкурс
            <button
              class="pull-right btn btn-sm btn-primary"
              @click="()=>{this.item = {}}"
            >Жаңасын қосу</button>
          </b-card-header>
          <b-card-body class="p-2">
            <img v-if="item.image_path" :src="item.image_path" alt="Image Upload" />
            <div class="form-group">
              Photo: ({{loaded}}/{{total}}) {{uploading}}%
              <input
                type="file"
                class="form-control"
                ref="photo"
                v-on:change="onchange()"
                placeholder="Certificate file"
              />
            </div>
            <b-form-group label="Конкурс">
              <b-input v-model="item.title" placeholder="Конкурс"></b-input>
            </b-form-group>

            <b-form-group label="Description">
              <b-form-textarea v-model="item.descr" placeholder="Description"></b-form-textarea>
            </b-form-group>

            <b-form-group label="Price">
              <b-input v-model="item.price" placeholder="Price"></b-input>
            </b-form-group>
            <b-form-group label="For Type">
              <select class="form-control" v-model="item.for_type">
                <option value="high-school">High School</option>
                <option value="teachers">Teachers</option>
              </select>
            </b-form-group>
            <b-form-group label="Start_at">
              <b-input type="date" v-model="item.start_at" placeholder="Start_at"></b-input>
            </b-form-group>
            <b-form-group label="End_at">
              <b-input type="date" v-model="item.end_at" placeholder="End_at"></b-input>
            </b-form-group>
            <b-form-group label="Certificate">
              <b-form-radio v-for="cc in certificates" :key="cc.id"  v-if="cc.level=='other'" v-model="item.certificate_id" name="some-radios" :value="cc.id">
                  <img :src="'/uploads/certificate/'+cc.image_path" style="height: 80px;">
              </b-form-radio>
            </b-form-group>
            <b-form-group label="pos1">
              <b-form-radio v-for="cc in certificates" :key="cc.id"  v-if="cc.level=='gold'" v-model="item.pos1" name="some-pos1" :value="cc.id">
                  <img :src="'/uploads/certificate/'+cc.image_path" style="height: 80px;">
              </b-form-radio>
            </b-form-group>
            <b-form-group label="pos2">
              <b-form-radio v-for="cc in certificates" :key="cc.id" v-if="cc.level=='silver'" v-model="item.pos2" name="some-pos2" :value="cc.id">
                  <img :src="'/uploads/certificate/'+cc.image_path" style="height: 80px;">
              </b-form-radio>
            </b-form-group>
            <b-form-group label="pos3">
              <b-form-radio v-for="cc in certificates" :key="cc.id"  v-if="cc.level=='bronze'" v-model="item.pos3" name="some-pos3" :value="cc.id">
                  <img :src="'/uploads/certificate/'+cc.image_path" style="height: 80px;">
              </b-form-radio>
            </b-form-group>

            <b-form-group label="Description">
              <summernote
                :model="item.detail"
                ref="detail"
                :name="'detail'"
                v-on:change="value => { item.detail = value }"
              ></summernote>
            </b-form-group>
            <b-form-group>
              <b-button @click="update_item()" class="w-100" variant="primary">Submit</b-button>
            </b-form-group>
          </b-card-body>
        </b-card>
      </div>
    </div>
  </div>
</template>
<script>
import { API_URL } from "../store/api";
export default {
  data() {
    return {
      items: [],
      item: {},
      total: 0,
      loaded: 0,
      uploading: 0,
      selected_image: "",
      certificates: []
    };
  },
  mounted() {
    this.fetch_data();
    var el = this;
    axios
      .get(API_URL + "get_list/certificate", {
        params: { filter: { certificate_type: "konkurs" } }
      })
      .then(function(res) {
        el.certificates = res.data;
      })
      .catch(function(error) {
        console.log(error);
      });
  },
  methods: {
    onchange() {
      var input = this.$refs.photo.files[0];

      var vm = this;
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        },
        onUploadProgress: function(progressEvent) {
          var percentCompleted = Math.round(
            (progressEvent.loaded * 100) / progressEvent.total
          );
          vm.total = progressEvent.total;
          vm.loaded = progressEvent.loaded;
          vm.uploading = percentCompleted;
        }
      };

      let formData = new FormData();
      formData.append("file", input);
      formData.append("folder", "konkurs");
      axios
        .post(API_URL + "upload", formData, config)
        .then(res => {
          if (res.data.errors) {
            alert(res.data.errors);
          } else {
            vm.item.image_path = "/uploads/konkurs/" + res.data.filename;
            vm.file = null;
            vm.$refs.file.photo = "";
          }
        })
        .catch(function() {
          console.log("FAILURE!!");
        });
    },
    fetch_data() {
      var el = this;
      axios
        .get(API_URL + "get_list/konkurs", {
          params: {}
        })
        .then(function(res) {
          el.items = res.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    update_item() {
      var el = this;
      axios
        .post(API_URL + "add_or_update/konkurs", this.item)
        .then(function(res) {
          el.item = {};
          el.fetch_data();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    edit(item) {
      this.item = item;
      this.$refs.detail.run('code', this.item.detail);
      this.$forceUpdate()
    },
    destory(item) {
      if (confirm("Are you sure?")) {
        var el = this;
        axios
          .post(API_URL + "destory/konkurs", item)
          .then(function(res) {
            el.fetch_data();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    }
  }
};
</script>