<template >
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <tr>
            <th>filename</th>
            <th>title</th>
            <th>full name</th>
            <th>descr</th>
          </tr>
          <tr v-for="item in pagination.data" :key="item.id">
            <td>{{item.doc_path}}</td>
            <td>{{item.title}}</td>
            <td>{{item.descr}}</td>
          </tr>
        </table>

        <pagination
          v-if="pagination.last_page > 0"
          :pagination="pagination"
          :offset="5"
          @paginate="fetch_data()"
        ></pagination>
      </div>
    </div>
  </div>
</template>
<script>
import { API_URL } from "../store/api";
export default {
  data() {
    return {
      pagination: {}
    };
  },
  mounted() {
    this.fetch_data();
  },
  methods: {
    fetch_data() {
      var el = this;
      axios
        .get(API_URL + "get_list/lp_lesson_plan", {
          
            params: {
              page: this.pagination ? this.pagination.current_page : 1,
              pagination: 1
            }
          
        })
        .then(function(res) {
          el.pagination = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>