<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-6">
        <b-card no-body>
          <b-card-header>Пәндер</b-card-header>
          <b-card-body class="p-0">
            <table class="table table-striped table-hover">
              <tr>
                <th colspan="2">#</th>
                <th>certificate</th>
                
                <th>Lesson</th>

                <th></th>
              </tr>
              <tbody v-for="c in items" :key="c.id">
                <tr  :class="c.id==item.id ? 'selected':''">
                <td colspan="2">{{c.id}}</td>
                <td>
                  <img v-if="c.cert_path" img :src="'/api/media?filename=/certificate/'+c.cert_path" alt="center image" width="75" height="75" class="m-1 img-thumbnail">
                  <span v-else class="alert alert-warning">certificate not selected</span>
                  </td>
                <td>{{c.name}}</td>
                <td class="text-right">
                  <button class="btn btn-primary btn-sm" @click="edit(c)">Өзгерту</button>
                  <button class="btn btn-danger btn-sm" @click="destory(c)">Өшіру</button>
                </td>
              </tr>
              <tr v-for="cc in c.child" :key="cc.id">
                <td>-</td>
                <td>{{cc.id}}</td>
                <td>{{cc.name}}</td>
                <td class="text-right">
                  <button class="btn btn-primary btn-sm" @click="edit(cc)">Өзгерту</button>
                  <button class="btn btn-danger btn-sm" @click="destory(cc)">Өшіру</button>
                </td>
              </tr>
              </tbody>
              
            </table>
          </b-card-body>
        </b-card>
      </div>
      <div class="col-6">
        <b-card no-body>
          <b-card-header>
            Lesson Form
            <button
              class="pull-right btn btn-sm btn-primary"
              @click="()=>{this.item = {}}"
            >Жаңасын қосу</button>
          </b-card-header>
          <b-card-body class="p-2">
            <b-form-group label="Select Certificate">
              <img v-for="certificate in certificates" :key="certificate.id" @click="select_certificate(certificate)" :src="'/api/media?filename=/certificate/'+certificate.image_path" alt="center image" width="75" height="75" :class="item.certificate_id==certificate.id ? 'selected-cert':''" class="m-1 img-thumbnail">
            </b-form-group>
            <b-form-group label="Lesson Name">
              <b-input v-model="item.name" placeholder="lesson name"></b-input>
            </b-form-group>
            <b-form-group>
              <b-button @click="update_item()" class="w-100" variant="primary">Submit</b-button>
            </b-form-group>
          </b-card-body>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import { API_URL } from "../store/api";
export default {
  
  name: "lessons",
  data() {
    return {
      items: [],
      item: {},
      certificates:[]
    };
  },

  mounted() {
    this.fetch_data();
  },
  methods: {
    select_certificate(c){
      this.item.certificate_id = c.id
      this.item.cert_path = c.image_path
    },
    fetch_data() {
      var el = this;
      axios
        .get(API_URL + "get_list/lp_lesson", {
          params: {
          }
        })
        .then(function(res) {
          el.items = res.data;
        })
        .catch(function(error) {
          console.log(error);
        });

        axios
        .get(API_URL + "get_list/certificate", {
          params: { filter:{certificate_type:'lesson_plan'}
          }
        })
        .then(function(res) {
          el.certificates = res.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    update_item() {
      var el = this;
      axios
        .post(API_URL + "add_or_update/lp_lesson", this.item)
        .then(function(res) {
          el.item = {};
          el.fetch_data();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    edit(item) {
      this.item = item;
    },
    destory(item) {
      if (confirm("Are you sure?")) {
        var el = this;
        axios
          .post(API_URL + "destory/lp_lesson", item)
          .then(function(res) {
            el.fetch_data();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    }
  }
};
</script>
<style>
  .selected-cert{
    border: 2px solid green;
  }
</style>
