<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">News list</div>
          <div class="card-body">
            <table class="table table-striped">
              <tr>
                <th></th>
                <th>Photo</th>
                <th>Title</th>
                <th>Date</th>
                <th></th>
              </tr>
              <tr v-for="n in pagination.data" :key="n.id">
                <td>{{n.id}}</td>
                <td><img :src="'/api/media?filename=/news/'+n.thumbnail" style="max-width:80px;"></td>
                <td>{{n.title}}</td>
                <td>{{n.created_at|date_format}}</td>
                <td>
                  <button class="btn btn-sm btn-primary" @click="edit(n)">edit</button>
                  <button class="btn btn-sm btn-warning" @click="destroy(n)">delete</button>
                  </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            News Form
            <button class="btn btn-sm btn-primary" @click="new_cert">Add New</button>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div>
                <img
                  :src="'/api/media?filename=/news/'+item.thumbnail"
                  class="thumbnail"
                  style="max-height: 150px;"
                />
              </div>
              Photo: ({{loaded}}/{{total}}) {{uploading}}%
              <input
                type="file"
                class="form-control"
                ref="photo"
                v-on:change="onchange()"
                placeholder="Thumbnail Image"
              />
            </div>
            <b-form-group label="Title">
              <b-input type="text" placeholder="Title" v-model="item.title"></b-input>
            </b-form-group>
            <b-form-group label="Desription">
              <b-textarea placeholder="Desription" v-model="item.descr"></b-textarea>
            </b-form-group>
            <b-form-group label="Full Content">
              <summernote
                :model="item.content"
                name="news_content"
                ref="news_content"
                v-on:change="value => { item.content = value }"
              />
            </b-form-group>
            <button @click="save_update()" class="btn btn-primary w-100">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { API_URL } from "../store/api";
export default {
  data() {
    return {
      item: {
        thumbnail: "no-image.png"
      },
      loaded: 0,
      uploading: 0,
      total: 0,
      pagination: {}
    };
  },
  mounted() {
    this.fetch_data();
  },
  methods: {
    fetch_data() {
      var el = this;
      axios
        .get(API_URL + "get_list/news", { params: { pagination: 1 } })
        .then(function(response) {
          el.pagination = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    onchange() {
      var input = this.$refs.photo.files[0];

      var vm = this;
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        },
        onUploadProgress: function(progressEvent) {
          var percentCompleted = Math.round(
            (progressEvent.loaded * 100) / progressEvent.total
          );
          vm.total = progressEvent.total;
          vm.loaded = progressEvent.loaded;
          vm.uploading = percentCompleted;
        }
      };

      let formData = new FormData();
      formData.append("file", input);
      formData.append("folder", "news");
      axios
        .post(API_URL + "upload", formData, config)
        .then(res => {
          if (res.data.errors) {
            alert(res.data.errors);
          } else {
            vm.item.thumbnail = res.data.filename;
            vm.file = null;
            vm.$refs.file.photo = "";
            vm.$forceUpdate();
          }
        })
        .catch(function() {
          console.log("FAILURE!!");
        });
    },
    save_update() {
      var el = this;
      axios
        .post(API_URL + "add_or_update/news", this.item)
        .then(function(response) {
          el.fetch_data();
          el.item = {
            thumbnail: "no-image.png"
          };
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    edit(item) {
      this.item = item;
      this.$refs.news_content.run('code', this.item.content);
      this.$forceUpdate()
    },
    new_cert() {
      this.item = {
        thumbnail: "no-image.png"
      };
    },
    destroy(item) {
      if (confirm("Are you sure?")) {
        var el = this;
        axios
          .post(API_URL + "destory/news", item)
          .then(function(response) {
            el.fetch_data();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    }
  }
};
</script>