<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-6">
        <b-card no-body>
          <b-card-header class="form-inline">
            Сұрақтар
            <select v-model="filter.lesson_id" class="form-control input-sm ml-2">
              <option value>All</option>
              <option v-for="ll in lessons" :key="ll.id" :value="ll.id">{{ll.name}}</option>
            </select>
            <select v-model="filter.class_id" class="form-control input-sm ml-2">
              <option value>All</option>
              <option v-for="cc in classes" :key="cc.id" :value="cc.id">{{cc.name}}</option>
            </select>
            <button class="btn btn-sm btn-primary ml-2" @click="search_filter()">filter</button>
            <button class="btn btn-sm btn-secondary ml-2" @click="()=>{this.filter={}; this.fetch_data()}">reset</button>
          </b-card-header>
          <b-card-body class="p-0">
            <table class="table table-striped">
              <tr>
                <th>#</th>
                <th>Сұрақ</th>
                <th>Сұрақ түрі</th>
                <th></th>
              </tr>
              <tr
                v-for="l in pagination.data"
                :key="l.id"
                :class="l.id==question.id ? 'selected':''"
              >
                <td>{{l.id}}</td>
                <td v-html="l.name"></td>
                <td>{{l.q_type}}</td>
                <td>
                  <button class="btn btn-primary btn-sm" @click="select_q(l)">Өзгерту</button>
                  <button class="btn btn-danger btn-sm" @click="remove_question(l)">Өшіру</button>
                </td>
              </tr>
            </table>

            <pagination
              v-if="pagination.last_page > 0"
              :pagination="pagination"
              :offset="5"
              @paginate="fetch_data()"
            ></pagination>
          </b-card-body>
          <b-card-footer></b-card-footer>
        </b-card>
      </div>
      <div class="col-6">
        <b-card no-body>
          <b-card-header>Жауаптары</b-card-header>
          <b-card-body class="p-1">
            <b-tabs>
              <b-tab title="Question Form">
                <button
                  class="pull-right btn btn-sm btn-primary"
                  @click="()=>{this.question={}}"
                >Жаңасын қосу</button>
                <b-form-group label="Select lesson">
                  <select v-model="question.lesson_id" class="form-control input-sm ml-2">
                    <option v-for="ll in lessons" :key="ll.id" :value="ll.id">{{ll.name}}</option>
                  </select>
                </b-form-group>
                <b-form-group label="Select Class">
                  <select v-model="question.class_id" class="form-control input-sm ml-2">
                    <option v-for="ll in classes" :key="ll.id" :value="ll.id">{{ll.name}}</option>
                  </select>
                </b-form-group>
                <b-form-group label="Select Question Type">
                  <select v-model="question.q_type" class="form-control input-sm ml-2">
                    <option value="radio">Radio</option>
                    <option value="check">Check</option>
                    <option value="cross">Cross</option>
                  </select>
                </b-form-group>
                <b-form-group label="Max choices">
                    <b-input type="number" v-model="question.max_choice"></b-input>
                </b-form-group>
                <b-form-group label="Question">
                  <summernote :model="question.name" ref="question_name" :name="'question_name'" v-on:change="value => { question.name = value }"></summernote>
                </b-form-group>
                <b-form-group label="Descr">
                  <b-textarea v-model="question.descr"></b-textarea>
                </b-form-group>
                <b-button variant="primary" class="w-100" @click="update_item">Submit</b-button>
              </b-tab>
              <b-tab title="Answers" v-if="question.id">
                  <Answer :qid="question.id"/>
              </b-tab>
            </b-tabs>
          </b-card-body>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import { API_URL } from "../store/api";
import {Answer} from "../components"
export default {
  name: "question",
  components:{
      Answer
  },
  data() {
    return {
      question: {},
      pagination: {},
      classes: [],
      lessons: [],
      filter: {}
    };
  },
  mounted() {
    this.fetch_data();
    this.init();
  },
  methods: {
    init() {
      var el = this;
      axios
        .get(API_URL + "get_list/o_lesson", {
          params: {}
        })
        .then(function(res) {
          el.lessons = res.data;
        })
        .catch(function(error) {
          console.log(error);
        });

      axios
        .get(API_URL + "get_list/o_class", {
          params: {}
        })
        .then(function(res) {
          el.classes = res.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    search_filter() {
      this.fetch_data();
    },
    select_q(item){
        this.question = item
        this.$refs.question_name.run('code', this.question.name);
    },
    update_item() {
      var el = this;
      axios
        .post(API_URL + "add_or_update/o_question", this.question)
        .then(function(response) {
          el.fetch_data();
          el.question = {};
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    fetch_data() {
      var el = this;
      axios
        .get(API_URL + "get_list/o_question", {
          params: {
            page: this.pagination ? this.pagination.current_page : 1,
            pagination: 1,
            filter: this.filter
          }
        })
        .then(function(response) {
          el.pagination = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    remove_question(item) {
      if (confirm("Are you sure?")) {
        var el = this;
        axios
          .post(API_URL + "destroy/o_question", item)
          .then(function(response) {
            el.fetch_data();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },

    
  }
};
</script>
