<template>
  <div id="app-translation">
    <div class="card">
      <div class="card-header">Quizes</div>
      <div class="card-body">
        <div class="form-horizontal">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              
              
              <b-tabs >
                <b-tab title="Gold" active >

                  <b-img
                    v-for="c in certificates"
                    thumbnail
                    width="75"
                    height="75"
                    v-if="c.level=='gold'"
                    :key="c.id"
                    class="m-1"
                    v-bind:class="quiz.gold_cert_id == c.id ? 'selected':''"
                    v-on:click="setId('gold', c.id)"
                    :src="'/api/media?filename='+'/certificate/'+c.image_path"
                    alt="center image"
                  />
                </b-tab>
                <b-tab title="Bronze" >
                  <b-img
                    v-for="c in certificates"
                    thumbnail
                    width="75"
                    height="75"
                    v-if="c.level=='bronze'"
                    :key="c.id"
                    class="m-1"
                    v-bind:class="quiz.bronze_cert_id == c.id ? 'selected':''"
                    v-on:click="setId('bronze', c.id)"
                    :src="'/api/media?filename='+'/certificate/'+c.image_path"
                    alt="center image"
                  />
                </b-tab>
                <b-tab title="Silver" >
                  <b-img
                    v-for="c in certificates"
                    thumbnail
                    width="75"
                    height="75"
                    v-if="c.level=='silver'"
                    :key="c.id"
                    class="m-1"
                    v-bind:class="quiz.silver_cert_id == c.id ? 'selected':''"
                    v-on:click="setId('silver', c.id)"
                    :src="'/api/media?filename='+'/certificate/'+c.image_path"
                    alt="center image"
                  />
                </b-tab>
                <b-tab title="Other" >
                  <b-img
                    v-for="c in certificates"
                    thumbnail
                    width="75"
                    height="75"
                    v-if="c.level=='other'"
                    :key="c.id"
                    class="m-1"
                    v-bind:class="quiz.other_cert_id == c.id ? 'selected':''"
                    v-on:click="setId('other', c.id)"
                    :src="'/api/media?filename='+'/certificate/'+c.image_path"
                    alt="center image"
                  />
                </b-tab>
               
              </b-tabs>
            </div>
            <div class="col-xs-12 col-md-6">
              <b-form-group label="Name" label-for="name">
                <b-form-input id="name" v-model="quiz.name" placeholder="name"></b-form-input>
              </b-form-group>
              <b-form-group label="Price" label-for="price">
                <b-form-input id="price" v-model="quiz.amount" placeholder="Price"></b-form-input>
              </b-form-group>
              <b-form-group label="Max Questions" label-for="max_questions">
                <b-form-input
                  id="max_questions"
                  v-model="quiz.max_question"
                  placeholder="Max Questions"
                ></b-form-input>
              </b-form-group>
              <b-form-group label="Duration" label-for="duration">
                <b-form-input id="duration" v-model="quiz.duration" placeholder="Duration"></b-form-input>
              </b-form-group>
              <b-form-group label="Teacher id" label-for="teacher_id">
                <b-form-input id="teacher_id" v-model="quiz.teacher_id" placeholder="Teacher id"></b-form-input>
              </b-form-group>
              <b-form-group label="Quiz Type" label-for="quiz_type">
                <b-form-select v-model="quiz.quiz_type" id="quiz_type" :options="quiz_type"></b-form-select>
              </b-form-group>

              <b-form-group label="Quiz For" label-for="quiz_for">
                <b-form-select v-model="quiz.quiz_for" id="quiz_for" :options="quiz_for"></b-form-select>
              </b-form-group>

              <b-form-group label="Select Class" label-for="class_id">
                <select
                  v-model="quiz.class_id"
                  id="class_id"
                  class="form-control"
                >
                  <option v-for="cls in classes" :key="cls.id" :value="cls.id">{{cls.name}}</option>
                </select>
              </b-form-group>

              <b-form-group label="Select Lesson" label-for="lesson_id">
                <select v-model="quiz.lesson_id" id="lesson_id" class="form-control">
                  <option v-for="lesson in lessons" :key="lesson.id" :value="lesson.id">{{lesson.name}}</option>
                </select>
              </b-form-group>

              <b-form-group label="Start At" label-for="start_at">
                <b-form-input
                  type="date"
                  id="start_at"
                  v-model="quiz.start_at"
                  placeholder="Start At"
                ></b-form-input>
              </b-form-group>

              <b-form-group label="End At" label-for="end_at">
                <b-form-input type="date" id="end_at" v-model="quiz.end_at" placeholder="End At"></b-form-input>
              </b-form-group>
              <b-form-checkbox
                id="checkbox-1"
                v-model="quiz.is_active"
                name="checkbox-1"
                value="1"
                unchecked-value="0"
              >is Active</b-form-checkbox>
            </div>
          </div>

          <hr />

          <div class="form-group col-xs-12">
            <hr />
            <center>
              <button class="btn btn-primary" v-on:click="update()">Update</button>
              <button class="btn btn-success" v-show="quiz.id>0" v-on:click="new_obj()">New Quiz</button>
            </center>
          </div>
        </div>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Quiz</th>
              <th>Quiz Type</th>
              <th>Quiz For</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in pagination.data" :key="item.id">
              <td>#{{item.id}}</td>
              <td v-html="item.name"></td>
              <td>
                <label class="label label-info">{{item.quiz_type}}</label>
              </td>
              <td>
                <label class="label label-success">{{item.quiz_for}}</label>
              </td>
              <td>
                <label class="label label-primary">{{item.is_active==1 ? 'enabled':'disabled'}}</label>
              </td>
              <td>{{item.start_at|formatDate}}-{{item.end_at|formatDate}}</td>
              <td>
                <button v-on:click="edit(item)" class="btn btn-xs btn-warning">Edit</button>
                <button v-on:click="destroy(item)" class="btn btn-xs btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination
          v-if="pagination.last_page > 0"
          :pagination="pagination"
          :offset="5"
          @paginate="fetch_quizes()"
        ></pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { API_URL } from "../store/api";
import Vue from "vue";
export default {
  data() {
    return {
      quiz: {},
      certificates: [],
      pagination: {},
      classes: [],
      lessons: [],
      quiz_type: [
        { value: "public", text: "Public" },
        { value: "event", text: "Event" }
      ],
      quiz_for: [
        { value: "high-school", text: "High school" },
        { value: "student", text: "Student" },
        { value: "teacher", text: "Teacher" },
        { value: "team", text: "Team" }
      ]
    };
  },
  mounted() {
    this.fetch_certificates();
    this.fetch_lessons();
    this.fetch_classes();
    this.fetch_quizes();
  },
  computed:{
    isSelected:function(id) {
      if (this.quiz.gold == id) {
        return "selected";
      }
      if (this.quiz.silver == id) {
        return "selected";
      }
      if (this.quiz.bronze == id) {
        return "selected";
      }
      if (this.quiz.other == id) {
        return "selected";
      }
      if (this.quiz.event == id) {
        return "selected";
      }
    }
  },
  methods: {
    
    fetch_quizes() {
      var el = this;
      axios
        .get(API_URL + "get_list/o_olimpiad", {
          params: {
            page: this.pagination ? this.pagination.current_page : 1,
            pagination: 1
          }
        })
        .then(function(response) {
          el.pagination = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    fetch_lessons(){
       var el = this;
      axios
        .get(API_URL + "get_list/o_lesson", { params: {} })
        .then(function(response) {
          el.lessons = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    fetch_certificates() {
      var el = this;
      axios
        .get(API_URL + "get_list/certificate", { params: {} })
        .then(function(response) {
          el.certificates = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    fetch_classes() {
      var el = this;
      axios
        .get(API_URL + "get_list/o_class", {
          params: {
          }
        })
        .then(function(response) {
          el.classes = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    setId(otype, id) {
      
      if (otype == "gold") {
        console.log(otype, id)
        this.quiz.gold_cert_id = id;
      }
      if (otype == "silver") {
        this.quiz.silver_cert_id = id;
      }
      if (otype == "bronze") {
        this.quiz.bronze_cert_id = id;
      }
      if (otype == "other") {
        this.quiz.other_cert_id = id;
      }
      
      this.$forceUpdate();
    },

    edit(item) {
      this.quiz = item
    },
    update() {
      var el = this;
      axios
        .post(API_URL + "add_or_update/o_olimpiad", this.quiz)
        .then(function(response) {
          this.fetch_quizes()
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    new_obj(){
      this.quiz = {}
    },
    destroy(item) {
      //                if (confirm("Are you sure?")) {
      //                    this.$store.dispatch('destroyData', {
      //                        item: item,
      //                        url: 'questions/destroy/' + this.$route.params.lesson
      //                    });
      //                    this.$store.dispatch('loadAllData', 'questions/' + this.$route.params.lesson);
      //                }
    }
  }
};
</script>
<style>
.selected {
  border: 3px solid #12ad2a !important;
}
.img-thumbnail {
  cursor: pointer;
}
</style>
