<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-12">
        <b-card>
          <div>
            <b-form inline>
              <b-form-select v-model="filter.class_id" class="mr-2" >
                <option v-for="cls in classes" :key="cls.id" :value="cls.id">{{cls.name}}</option>
              </b-form-select>
              <b-form-select v-model="filter.lesson_id" class="mr-2">
                <option v-for="cls in lessons" :key="cls.id" :value="cls.id">{{cls.name}}</option>
              </b-form-select>
              <b-button variant="primary" @click="show_old()">Show Old Questions </b-button>
              <b-form-input v-model="filter.start_at" class="mr-2" type="date" />
              <b-form-input v-model="filter.end_at" class="mr-2" type="date" />
              <b-form-input v-model="filter.max" class="mr-2" type="number" />

              <b-button variant="primary" @click="random_question">Randomise </b-button>
              <b-button variant="primary" @click="publish_question">Publish</b-button>
            </b-form>
          </div>
          <hr />
          <div class="row">
            <div class="col-6">
              <h3>Old Questions</h3>
                <b-table striped hover :items="old_questions" />
            </div>
              <div class="col-6">
                <h3>New Questions</h3>
                <b-table striped hover :items="new_questions" />
              </div>
              
          </div>
        </b-card>
      </div>
    </div>
  </div>
</template>
<script>
import { API_URL } from "../store/api";

export default {
  name: "random-question",
  data() {
    return {
      classes: [],
      lessons: [],
      filter: {},
      old_questions: [],
      new_questions: []
    };
  },
  mounted() {
    this.fetch_classes();
    this.show_lessons();
    this.filter.max = 20;
  },

  methods: {
    fetch_classes() {
      var el = this;
      axios
        .get(API_URL + "get_list/o_class", {
          params: {
            
          }
        })
        .then(function(response) {
          el.classes = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    show_lessons() {
      var el = this;
      axios
        .get(API_URL + "get_list/o_lesson", {
          params: {
          }
        })
        .then(function(response) {
          el.lessons = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    random_question() {
      var el = this;
      axios
        .get(API_URL + "random-question/randomise", {
          params: this.filter
        })
        .then(function(response) {
          el.new_questions = response.data;
          el.$forceUpdate()
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    publish_question() {
      var el = this;
      axios
        .post(API_URL + "random-question/publish", {q:this.new_questions, f:this.filter})
        .then(function(response) {
          el.show_old()
          el.new_questions = []
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    show_old() {
      Pace.restart();
      var vm = this;
      axios
        .get(API_URL + "random-question/old-question", {
          class_id: this.filter.class_id,
          lesson_id: this.filter.lesson_id
        })
        .then(response => {
          if (response.data) {
            vm.old_questions = response.data;
          }
        })
        .catch(error => {
          console.error(error);
          Vue.prototype.$notify({
            group: "foo",
            type: "error",
            text: api.ERROR_OTHER
          });
        });
    }
  }
};
</script>