<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-12">
        <b-card no-body>
          <b-card-header>
            <div class="input-group input-group-sm">
              <input type="date" class="form-control" v-model="start_at" />
              <input type="date" class="form-control" v-model="end_at" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" v-on:click="filter_action">Search</button>
              </span>
            </div>
            <!-- /input-group -->
          </b-card-header>
          <b-card-body class="p-0">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in items" :key="item.id">
                  <td>{{item.source}}</td>
                  <td>{{item.total|toCurrency}}</td>
                </tr>
                <!-- <tr>
                  <td colspan="2" style="text-align: right">Total: {{totals|toCurrency}}</td>
                </tr> -->
              </tbody>
            </table>
          </b-card-body>
        </b-card>
      </div>
    </div>
  </div>
</template>


<script>
import { API_URL } from "../store/api";
export default {
  data() {
    return {
      start_at: new Date().toJSON().slice(0, 10),
      end_at: new Date().toJSON().slice(0, 10),
      items:[]
    };
  },

  mounted() {
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      var el = this;
      axios
        .get(API_URL + "report/", {
          params: {start_at: this.start_at, end_at: this.end_at}
        })
        .then(function(response) {
          el.items = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    filter_action() {
      this.fetchItems();
    }
  }
};
</script>


