<template>
  <div id="app-translation">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="card-header">
            City
            <button class="btn btn-sm btn-primary" @click="add_form('city', null)">Add city</button>
          </div>
          <div class="card-body">
            <table class="table table-striped table-hover">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
              </tr>
              <tr
                v-for="c in cities"
                :key="c.id"
                @click="fetch_data(c, 'location', {parent_id:c.id}, 'region')"
                :class="c.id==city.id ? 'selected':''"
              >
                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>
                    <button class="btn btn-sm btn-success" @click="add_form('city', c)">Edit</button>
                  <button class="btn btn-sm btn-danger" @click="destroy('location', c, 'city')">Del</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="card-header">
            Region
            <button
              class="btn btn-sm btn-primary"
              @click="add_form('region', null)"
            >Add region</button>
          </div>
          <div class="card-body">
            <table class="table table-striped table-hover">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
              </tr>
              <tr
                v-for="r in regions"
                :key="r.id"
                @click="fetch_data(r, 'school', {location_id:r.id}, 'school')"
                :class="r.id==region.id ? 'selected':''"
              >
                <td>{{r.id}}</td>
                <td>{{r.name}}</td>
                <td>
                    <button class="btn btn-sm btn-success" @click="add_form('region', r)">Edit</button>
                  <button
                    class="btn btn-sm btn-danger"
                    @click="destroy('location', r, 'region')"
                  >Del</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="card-header">
            School
            <button
              class="btn btn-sm btn-primary"
              @click="add_form('school', null)"
            >Add school</button>
          </div>
          <div class="card-body">
            <table class="table table-striped table-hover">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
              </tr>
              <tr v-for="s in schools" :key="s.id">
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>
                  <button class="btn btn-sm btn-danger" @click="destroy('school', s, 'school')">Del</button>
                  <button class="btn btn-sm btn-success" @click="add_form('school', s)">Edit</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <b-modal ref="form" hide-footer :title="item.title">
      <b-form-group label="Name:" label-for="name">
        <b-form-input id="name" v-model="item.form.name" placeholder="Name"></b-form-input>
      </b-form-group>
      <button class="btn btn-primary" @click="update()">Submit</button>
    </b-modal>
  </div>
</template>

<script>
import { API_URL } from "../store/api";

export default {
  name: "class_lessons",
  data() {
    return {
      cities: [],
      regions: [],
      schools: [],
      city: {},
      region: {},
      school: {},
      title: "",
      item: {
        form: {}
      }
    };
  },
  mounted() {
    this.fetch_data({}, "location", { parent_id: null }, "city");
  },
  methods: {
    add_form(obj, data) {
      if (obj == "city") {
        this.item.title = "City Form";
        this.item.table = 'location';
        this.item.form = {};
        if (data) {
          this.item.form = data;
        } else {
          this.item.form.parent_id = null;
        }
        console.log(this.item);
      }
      if (obj == "region") {
        this.item.title = "Region Form";
        this.item.table = 'location';
        this.item.form = {};
        if (data) {
          this.item.form = data;
        } else {
          this.item.form.parent_id = this.city.id;
        }
        console.log(this.item);
      }
      if (obj == "school") {
        this.item.title = "School Form";
        this.item.table = 'school';
        this.item.form = {};
        if (data) {
          this.item.form = data;
        } else {
          this.item.form.location_id = this.region.id;
        }
        console.log(this.item);
      }
      this.$refs.form.show();
    },
    fetch_data(item, table, filter, obj) {
      var el = this;

      if (obj == "city") {
        el.city = item;
      }
      if (obj == "school") {
        el.region = item;
      }
      if (obj == "region") {
        el.city = item;
      }

      axios
        .get(API_URL + "get_list/" + table, { params: { filter: filter } })
        .then(function(response) {
          if (obj == "city") {
            el.cities = response.data;
            el.regions = []
            
          }
          if (obj == "school") {
            el.schools = response.data;
          }
          if (obj == "region") {
            el.regions = response.data;
            el.schools = []
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    destroy(table, item, obj) {
      if (confirm("Are you sure?")) {
        var el = this;
        axios
          .post(API_URL + "destory/" + table, item)
          .then(function(response) {
            if (obj == "school") {
              el.fetch_data({}, table, { location_id: item.location_id }, obj);
            }
            if (obj == "location") {
              el.fetch_data({}, table, { parent_id: item.parent_id }, obj);
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },

    update() {
      var el = this;
      axios
        .post(API_URL + "add_or_update/"+this.item.table, this.item.form)
        .then(function(response) {
            if(el.item.table=='location' && el.item.form.parent_id==null){
                el.fetch_data({}, el.item.table, {parent_id:null}, "city");
            }
            if(el.item.table=='location' && el.item.form.parent_id!=null){
                el.fetch_data({}, el.item.table, {parent_id:el.item.form.parent_id}, "region");
            }
            if(el.item.table=='school' && el.item.form.location_id!=null){
                el.fetch_data({}, el.item.table, {location_id:el.item.form.location_id}, "school");
            }
          
          el.item = {
            form: {}
          };
          el.$refs.form.hide()
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  },
  watch: {
    "$route.params.parent": function(id) {
      this.$store.dispatch("school/locations", {
        action: "schools/" + this.$route.params.parent,
        param: {}
      });
    }
  }
};
</script>
