<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-12">
        <b-card no-body>
          <b-card-header>Settings</b-card-header>
          <b-card-body class="p-0">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>name</th>
                  <th>value</th>
                  <th>content</th>
                  <th>is active</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#{{nitem.id}}</td>
                  <td>
                    <input type="text" v-model="nitem.name" class="form-control" placeholder="name" />
                  </td>
                  <td>
                    <input
                      type="text"
                      v-model="nitem.value"
                      class="form-control"
                      placeholder="value"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      v-model="nitem.content"
                      class="form-control"
                      placeholder="content"
                    />
                  </td>
                  <td>
                    <b-form-checkbox value="1" v-model="nitem.is_active">Is ctive</b-form-checkbox>
                  </td>

                  <td>
                    <button class="btn btn-primary" @click="add_or_update(nitem)">Save</button>
                  </td>
                </tr>
                <tr v-for="item in items" :key="item.id">
                  <td>#{{item.id}}</td>
                  <td>
                    <input type="text" v-model="item.name" class="form-control" placeholder="name" />
                  </td>
                  <td>
                    <input
                      type="text"
                      v-model="item.value"
                      class="form-control"
                      placeholder="value"
                    />
                  </td>
                   <td>
                    <input
                      type="text"
                      v-model="item.content"
                      class="form-control"
                      placeholder="content"
                    />
                  </td>
                  <td>
                    <b-form-checkbox value="1" v-model="item.is_active">Is ctive</b-form-checkbox>
                  </td>
                  <td>
                    <button class="btn btn-info" @click="add_or_update(item)">update</button>
                    <button class="btn btn-warning" @click="destroy(item)">delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </b-card-body>
        </b-card>
      </div>
    </div>
  </div>
</template>


<script>
import { API_URL } from "../store/api";
export default {
  data() {
    return {
      items: [],
      nitem: {}
    };
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      var el = this;
      axios
        .get(API_URL + "get_list/settings", {
          params: {
            page: this.pagination ? this.pagination.current_page : 1,
            pagination: 0,
            q: this.q
          }
        })
        .then(function(response) {
          el.items = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    add_or_update(item) {
      var el = this;
      axios
        .post(API_URL + "add_or_update/settings", item)
        .then(function(response) {
          el.nitem = {};
          el.fetchItems();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    destroy(item) {
      if (confirm("Are you sure?")) {
        var el = this;
        axios
          .post(API_URL + "destory/settings" + table, item)
          .then(function(response) {
            el.fetchItems();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
  }
};
</script>
