<template>
    <div id="app-translation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Translation
                    <button class="btn btn-xs btn-primary pull-right" v-on:click="publish()">Publish</button>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hovered table-striped">
                    <thead>
                    <tr>
                        <th>Key</th>
                        <th>RU</th>
                        <th>KZ</th>
                        
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in pagination.data">
                        <td><input type="text" class="form-control" placeholder="Key" v-model="item.trans_key"></td>
                        <td><input type="text" class="form-control" placeholder="RU" v-model="item.ru"></td>
                        <td><input type="text" class="form-control" placeholder="KZ" v-model="item.kz"></td>
                        
                        <td>
                            <button class="btn btn-success" v-on:click="update(item)">Update</button>
                            <button class="btn btn-danger" v-on:click="destory(item)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><input type="text" class="form-control" placeholder="Key" v-model="item.trans_key"></td>
                            <td><input type="text" class="form-control" placeholder="RU" v-model="item.ru"></td>
                            <td><input type="text" class="form-control" placeholder="KZ" v-model="item.kz"></td>
                        
                            <td><button class="btn btn-primary" v-on:click="save()">Save</button></td>
                        </tr>
                    </tfoot>
                </table>
                <pagination v-if="pagination.last_page > 0"
                            :pagination="pagination"
                            :offset="25"
                            @paginate="fetch()">

                </pagination>
            </div>
        </div>

    </div>
</template>

<script>
    import { API_URL } from '../store/api'
    export default {
        data(){

            return {
                item: {},
                pagination: {}
            }
        },
        mounted() {
            this.fetch()
        },
        methods:{
            fetch(){
                var el = this;
                axios.get(API_URL+"get_list/translations", {params:{ 
                    page: this.pagination ? this.pagination.current_page : 1,
                    'pagination':1
                }})
                    .then(function (response) {
                        el.pagination = response.data
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            save(){
                this.update(this.item)
            },
            update(item){
                var el = this;
                axios.post(API_URL+"add_or_update/translations", item)
                    .then(function (response) {
                        el.fetch()
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            destory(item){
                axios.post(API_URL+"destory/translations", item)
                    .then(function (response) {
                        el.fetch()
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            }

            
        }


    }
</script>
