<template>
	<div class="card">
		<div class="card-header">{{quiz.token}} - Result</div>
		<div class="card-body">
			result
		</div>
	</div>
</template>

<script>
import { API_URL } from "../store/api";
export default {
	data() {
	    return {
	    	quiz: {},
	      	items: {}
	    };
	  },
	  mounted() {
	    this.fetchItems();
	  },
	  methods: {
	    fetchItems() {
	      var el = this;
	      axios
	        .get(API_URL + "user-quiz/"+this.$route.params.uq, {
	          params: {}
	        })
	        .then(function(response) {
	          el.quiz = response.data.quiz;
	          el.items = response.data.items;
	        })
	        .catch(function(error) {
	          console.log(error);
	        });
	    },
	}
}	
</script>