<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-12">
        <b-card no-body>
          <b-card-header>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" v-model="q" placeholder="Search for..." />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" v-on:click="search">Search</button>
              </span>
            </div>
            <!-- /input-group -->
          </b-card-header>
          <b-card-body class="p-0">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Is</th>
                  <th>Amount</th>
                  <th>Teacher Name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in pagination.data" :key="item.id">
                  <td>#{{item.unumber}}</td>
                  <td>{{item.first_name}} {{item.last_name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.user_type}}</td>
                  <td>{{item.amount}}</td>
                  <td>{{item.teacher_name}}</td>
                  <td>
                  <b-link :to="{ name: 'user-quiz', params: { user_id: item.id } }">User Quizes</b-link>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination
              v-if="pagination.last_page > 0"
              :pagination="pagination"
              :offset="5"
              @paginate="fetchItems()"
            ></pagination>
          </b-card-body>
        </b-card>
      </div>
    </div>
  </div>
</template>


<script>
import { API_URL } from "../store/api";
export default {
  data() {
    return {
      pagination: {},
      q:null
    };
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      var el = this;
      axios
        .get(API_URL + "get_list/users", {
          params: {
            page: this.pagination ? this.pagination.current_page : 1,
            pagination: 1,
            q: this.q
          }
        })
        .then(function(response) {
          el.pagination = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    search() {
      this.fetchItems();
    }
  }
};
</script>
