<template>
    <div class="card">
    	<div class="card-header">User Quizes <router-link  class="btn btn-success btn-sm" :to="{ name: 'users', params: {  }}">Back to users</router-link>	</div>
    	<div class="card-body">
    		<table class="table table-striped">
    			<tr>
    				<th>id</th>
    				<th>token</th>
    				<th>lang</th>
    				<th>is_finished</th>
    				<th>is_deleted</th>
    				<th>point</th>
    				<th>max_point</th>
    				<th>result</th>
    				<th></th>
    			</tr>
    			<tr v-for="item in pagination.data" :key="item.id">
    				<td>{{item.id}}</td>
    				<td>{{item.token}}</td>
    				<td>{{item.lang}}</td>
    				<td>{{item.is_finished}}</td>
    				<td>{{item.deleted}}</td>
    				<td>{{item.point}}</td>
    				<td>{{item.max_point}}</td>
    				<td>{{parseInt((item.point*100)/item.max_point)}}</td>
    				<td> 
              <span v-if="loading==true">Loading...</span>
              <button v-else  class="btn btn-success btn-sm" @click="recalc(item)">ReCalc</button> 
            </td>
    			</tr>
    		</table>
    	</div>
    </div>
</template>
<script>
import { API_URL } from "../store/api";
export default {
  data() {
    return {
      pagination: {},
      loading: false
    };
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    recalc(item){
      var el = this;
      el.loading = true
      axios
        .post(API_URL + "recalc/"+item.id)
        .then(function(response) {

          el.fetchItems()
          el.loading = false
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    fetchItems() {
      var el = this;
      axios
        .get(API_URL + "quizes/"+this.$route.params.user_id, {
          params: {
            page: this.pagination ? this.pagination.current_page : 1,
            pagination: 1
          }
        })
        .then(function(response) {
          el.pagination = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
}
}
</script>