<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-12 col-md-8">
        <b-card no-body>
          <b-card-header>Settings</b-card-header>
          <b-card-body class="p-0">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Photo</th>
                  <th>full name</th>
                  <th>school</th>
                  <th>user_type</th>
                  <th>position</th>
                  <th>settings</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in items" :key="item.id">
                  <td>#{{item.id}}</td>
                  <td><img :src="'/api/media?filename=/winners/'+item.profile_image"  style="width: 80px; height:auto" :alt="item.full_name"/></td>
                  <td>{{item.full_name}}</td>
                  <td>{{item.school}}</td>
                  <td>{{item.user_type}}</td>
                  <td>{{item.position}}</td>
                  <td>{{item.settings}}</td>
                  <td>
                    <button class="btn btn-primary" @click="edit(item)">Edit</button>
                    <button class="btn btn-warning" @click="destroy(item)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </b-card-body>
        </b-card>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="card-header">
            Winners
            <button
              class="btn btn-sm btn-primary"
              @click="new_win()"
            >Add winners</button>
          </div>
          <div class="card-body">
              <div class="form-group">
              <label for="select_level">Settings:</label>
              <select v-model="form.settings_id" class="form-control">
                <option v-for="i in settings" :key="i.id" :value="i.id">{{i.value}}</option>
                
              </select>
            </div>
              <div class="form-group">
                  <img :src="'/api/media?filename=/winners/'+form.profile_image"  style="width: 120px; height:auto" alt=""/>
              Photo: ({{loaded}}/{{total}}) {{uploading}}%
              <input
                type="file"
                class="form-control"
                ref="photo"
                v-on:change="onchange()"
                placeholder="Photo file"
              />
            </div>
            <div class="form-group">
              <label for="select_level">User Type:</label>
              <select v-model="form.user_type" class="form-control">
                <option value="teacher">teacher</option>
                <option value="student">student</option>
                <option value="hight_shool">High school</option>
              </select>
            </div>
            <div class="form-group">
              <label for="select_level">Postion:</label>
              <select v-model="form.position" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="form-group">
              <label for="select_level">Full name:</label>
              <input type="text" v-model="form.full_name" class="form-control" placeholder="full name" />
            </div>
            <div class="form-group">
              <label for="select_level">School:</label>
              <input type="text" v-model="form.school" class="form-control" placeholder="School" />
            </div>
            <div class="form-group">
              <label for="select_level">Description:</label>
              <textarea v-model="form.description" class="form-control" placeholder="Description"></textarea>
            </div>
            
            <div class="form-group">
              <button
                class="btn btn-primary"
                style="width: 100%; margin-top:20px;"
                @click="save_update"
              >Save Winners</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { API_URL } from "../store/api";
export default {
  data() {
    return {
      items: [],
      form: {},
      settings: [],
      uploading:0,
      loaded: 0,
      total: 0
    };
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      var el = this;
      axios
        .get(API_URL + "get_list/winners", {
          params: {
            page: this.pagination ? this.pagination.current_page : 1,
            pagination: 0,
            q: this.q
          }
        })
        .then(function(response) {
          el.items = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });


         axios
        .get(API_URL + "get_list/settings", {
          params: {
            pagination: 0
          }
        })
        .then(function(response) {
          el.settings = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    onchange() {
      var input = this.$refs.photo.files[0];

      var vm = this;
      const config = {
        headers: {
          "Content-Type": "multipart/form-data"
        },
        onUploadProgress: function(progressEvent) {
          var percentCompleted = Math.round(
            (progressEvent.loaded * 100) / progressEvent.total
          );
          vm.total = progressEvent.total;
          vm.loaded = progressEvent.loaded;
          vm.uploading = percentCompleted;
        }
      };

      let formData = new FormData();
      formData.append("file", input);
      formData.append("folder", "winners");
      axios
        .post(API_URL + "upload", formData, config)
        .then(res => {
          if (res.data.errors) {
            alert(res.data.errors);
          } else {
            vm.form.profile_image = res.data.filename;
            vm.file = null;
            vm.$refs.file.photo = "";
          }
        })
        .catch(function() {
          console.log("FAILURE!!");
        });
    },
    save_update() {
      var el = this;
      axios
        .post(API_URL + "add_or_update/winners", this.form)
        .then(function(response) {
            if(response.data.status=="success"){
                el.form = {};
                el.fetchItems();
            }else{
                alert(response.data.message)
            }
          
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    edit(item) {
      this.form = item;
      this.$forceUpdate();
    },
    new_win() {
      this.form = {};
    },
    destroy(item) {
      if (confirm("Are you sure?")) {
        var el = this;
        axios
          .post(API_URL + "destory/winners", item)
          .then(function(response) {
            el.fetchItems();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    }
  }
};
</script>
