<template>
  <section class="blog-details-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-7">
          <div class="blog-details-box">
            <div class="blog-details-banner">
              <img
                :src="'/uploads/news/'+news.thumbnail"
                alt=""
                class="img-fluid w-100"
              />
            </div>
            <div class="heading">
              <h4>
                {{ news.title }}
              </h4>
            </div>

            <div class="blog-details-desc">
              <p v-html="news.content"></p>
            </div>
          </div>
        </div>
        <top-news />
      </div>
    </div>
  </section>
</template>

<script>
import TopNews from '~/components/TopNews.vue'
export default {
  auth: false,
  components: { TopNews },
  data() {
    return {
      news: {},
    }
  },
  mounted() {
    var vm = this
    this.$axios.get('/news/' + vm.$route.params.id).then((res) => {
      vm.news = res.data
    })
  },
}
</script>

<style></style>
