<template>
  <section class="blog-grid-area mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <div
              v-for="i in pagination.data"
              :key="i.id"
              class="col-lg-4 col-md-12"
            >
              <div class="blog-item">
                <div class="blog-img">
                  <NuxtLink :to="{name:'news-id', params:{id:i.id}}"
                    ><img
                      :src="'/uploads/news/'+i.thumbnail"
                      alt=""
                      class="img-fluid"
                  /></NuxtLink>
                  
                </div>
                <div class="blog-content">
                  <div class="blog-auth_date d-flex">
                    <div class="author-img d-flex">
                      <NuxtLink :to="{name:'news-id', params:{id:i.id}}">
                        <img
                          src="http://www.thetahmid.com/themes/edulyn-v1.0/assets/images/author.jpg"
                          alt=""
                      /></NuxtLink>
                      <p>Админ</p>
                    </div>
                    <div class="post-date">
                      <p>
                        <fa-icon :icon="['fa', 'calendar']" /> {{i.created_at}}
                      </p>
                    </div>
                  </div>
                  <div class="blog-title">
                    <h6>
                      <NuxtLink :to="{name:'news-id', params:{id:i.id}}"
                        >{{i.title}}</NuxtLink
                      >
                    </h6>
                  </div>
                  <div class="blog-desc">
                    <p v-html="i.descr">
                     
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <div class="sc-fznWOq cqDPIl">
              <ul class="pagination-box list-unstyled list-inline">
                 <li :class="pagination.current_page==1 ? 'disabled':''">
                  <NuxtLink :to="{name:'news', query:{page:1}}">
                    <fa-icon :icon="['fa', 'angle-double-left']"
                  />
                  </NuxtLink>
                </li>
                <li
                  v-for="page in  pagination.last_page"
                  :key="page"
                  class="list-inline-item"
                  :class="pagination.current_page==page ? 'active':''"
                >
                  <NuxtLink :to="{name:'news', query:{page:page}}">{{page}}</NuxtLink>
                </li>
               <li :class="pagination.current_page==pagination.last_page ? 'disabled':''">
                  <NuxtLink :to="{name:'news', query:{page:pagination.last_page}}">
                    <fa-icon :icon="['fa', 'angle-double-right']"
                  />
                  </NuxtLink>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  auth: false,
  data() {
    
    return {
      pagination: [],
      page: 1,
    }
  },
  mounted() {
    let vm = this
    if (this.$route.query.page === undefined) {
      vm.page = 1
    } else {
      vm.page = this.$route.query.page
    }

    this.$axios.get('/news?page=' + vm.page).then((res) => {
      vm.pagination = res.data
    })
  }
}
</script>

<style></style>
