body {
	font-family: $fira;
	font-size: 0.85rem;
}
.top-container {
	background-color: $dark;

	.top-links {
		font-size: 0.75rem;

		a {
			display: block;
			line-height: 20px;
			padding: 5px 10px;
			color: $white;

		}
		.phone-number {

			a {
				padding: 5px 0 5px 10px;
			}
			a+a {
				padding: 5px 10px;
			}
		}
		span {
			margin-left: 3px;
		}
	}
	.language-select {

		a {
			display: block;
			padding: 5px 10px;
			color: $white7;
		}
		a:hover, .active a {
			background-color: $white;
			color: $main;
		}
		img {
			@include box-shadow(0 0 0 1px $black1);
		}
	}
}
.logo-container {
	padding: 10px 0;

	.logo {
		height: 60px;
		display: inline-block;
	}
	img {
		max-height: 100%;
	}
}
.menu-container {
	background-color: $main;

	.main-nav {

		.active a, a:hover {
			background-color: $green;
			@include box-shadow(0 0 0 1px $white);
		}
		a {
			display: block;
			padding: 10px 20px;
			line-height: 20px;
			text-transform: uppercase;
			font-family: $mont;
			color: $white;
			font-weight: 700;
		}
	}
	.mobile-nav-top {
		display: none;
	}
}
.left-menu {
	margin: 20px auto;
	padding: 30px 20px 20px;
	background-color: $main;

	.form-group {
		margin-bottom: 10px;
	}
	.social-login {
		border-top: 1px solid $white;
		margin-top: 10px;
		padding-top: 10px;
	}
	.forgot-password {
		color: $white;
		text-decoration: underline;
		margin-top: 20px;
		display: block;
	}
	.social-login {

		li+li {
			margin-left: 5px;
		}
		a {
			display: block;
			line-height: 40px;
			padding: 0 5px;
			width: 40px;
			text-align: center;
			color: $white;
			background-color: $black3;
			border-radius: 50%;
			@include box-shadow(inset 0 0 0 1px $white);
			font-size: 1rem;
			@include transition(0.2s ease-out);

			&:hover {
				@include box-shadow(0 3px 5px $black3);
			}
		}
		.facebook a {
			background-color: $facebook;

			&:hover {
				color: $facebook;
				background-color: $white;
			}
		}
		.mailru a {
			background-color: $mailru;

			&:hover {
				color: $mailru;
				background-color: $white;
			}
		}
		.twitter a {
			background-color: $twitter;

			&:hover {
				color: $twitter;
				background-color: $white;
			}
		}
		.vk a {
			background-color: $vk;

			&:hover {
				color: $vk;
				background-color: $white;
			}
		}
	}
}
.logged-left-menu {
	padding: 10px;

	a {
		display: block;
		line-height: 20px;
		padding: 10px 10px 10px 20px;
		color: white;
		border-radius: 20px;
	}
	a:hover {
		@include box-shadow(inset 0 0 0 3px $white);
	}
	.active a {
		background-color: $white;
		color: $dark7;
	}
	li:first-child {
		margin-bottom: 9px;
		text-align: center;
		border-bottom: 1px solid $white3;

		a {
			font-size: 1rem;
		}
		a:hover {
			@include box-shadow(inset 0 0 0 3px transparent);
		}
	}
	li:last-child {
		margin: 10px auto;
		text-align: center;
		border-top: 1px solid $white3;
		padding-top: 10px;
	}
}
.logged-top-buttons {

	a+a {
		margin-left: 10px;
	}
}
.slide-container {
	padding-top: 20px;
	height: 100%;
	position: relative;

	.swiper-1 {
		height: 100%;
	}
	.swiper-slide {
		position: relative;

		.image {
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.swiper-action {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 50%;
		@include transform(translateX(-50%));
		padding-bottom: 10px;
	}
	.swiper-button {
		position: relative;
		margin: auto;
		width: auto;
		height: auto;
		left: auto;
		right: auto;
		background: no-repeat;
		font-size: 1.2rem;
		color: $white;
		padding: 0 10px;
	}
	.swiper-pagination {
		position: relative;

		.swiper-pagination-bullet {
			width: 15px;
			height: 15px;
			background-color: $white;
			border-radius: 50%;
			opacity: 0.5;
		}
		.swiper-pagination-bullet+.swiper-pagination-bullet {
			margin-left: 5px;
		}
		.swiper-pagination-bullet-active {
			background-color: $white;
			position: relative;
			opacity: 1;

			&:before {
				width: 9px;
				height: 9px;
				top: 3px;
				left: 3px;
				position: absolute;
				content: '';
				background-color: $dark;
				border-radius: 50%;
			}
		}
	}
}
.olympiad-score-container {

	.single {
		text-align: center;
		background-color: $white;
		margin: 10px auto;
		padding: 20px;
		@include transition(0.2s ease-out);

		img {
			max-height: 80px;
		}
		.title {
			font-family: $mont;
			margin: 10px auto;
			font-weight: 600;
			color: $dark;
		}
		.text {
			font-size: 0.85rem;
			display: block;
			overflow: hidden;
			height: 60px;
			color: $dark9;
		}
		&:hover {
			background-color: $main;

			.text, .title {
				color: $white;
			}
		}
	}
}
.news-container {

	.slide-container {
		padding: 0;

		.swiper-action {
			top: 10px;
			right: 10px;
			left: auto;
			bottom: auto;
			@include transform(translateX(0));
		}

		.swiper-slide:hover span:after {
			@include deg-gradient(180deg, transparent, $main);
		}
		.swiper-slide span:after {
			content: '';
			position: absolute;
			top: 70%;
			left: 0;
			width: 100%;
			height: 30%;
			@include deg-gradient(180deg, transparent, $dark9);
		}
		a {
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			z-index: 1;
			width: 100%;
			height: auto;
			color: $white;
			padding: 20px;

			p {
				margin: auto;
				font-size: 0.95rem;
			}
		}
	}
	.single {
		position: relative;
		overflow: hidden;
		margin: 10px auto;

		a {
			display: block;

			&:hover:after {
				@include deg-gradient(180deg, transparent, $main);
			}
		}
		a:before {
			content: '';
			padding-bottom: 75%;
			display: block;
		}
		a:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 50%;
			@include deg-gradient(180deg, transparent, $dark9);
			@include transition(0.2 ease-out);
		}
		.text {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin: auto;
			padding: 10px;
			z-index: 1;
			color: $white;

			span {
				display: block;
				height: 40px;
				overflow: hidden;
			}
		}

		&.second-single {
			margin-top: 20px;
		}
	}
}
.top-three {

	li {
		padding: 5px 10px;
	}
	.single {

	}
	.gold {

		.medal h1 {
			@include box-shadow(inset 0 0 0 5px $gold);
		}
		.medal strong, .medal small {
			color: $gold;
		}
	}
	.silver {

		.medal h1 {
			@include box-shadow(inset 0 0 0 5px $silver);
		}
		.medal strong, .medal small {
			color: $silver;
		}
	}
	.bronze {

		.medal h1 {
			@include box-shadow(inset 0 0 0 5px $bronze);
		}
		.medal strong, .medal small {
			color: $bronze;
		}
	}
	.medal {

		h1 {
			width: 80px;
			height: 80px;
			margin: auto;
			border-radius: 50%;
			@include box-shadow(inset 0 0 0 5px $dark);
			text-align: center;

			strong, small {
				display: block;
				line-height: 1;
				font-family: $mont;
			}
			strong {
				font-size: 2rem;
			}
			small {
				font-size: 0.8rem;
				text-transform: uppercase;
				font-weight: 700;
				margin-bottom: 5px;
			}
		}
	}
	.text {
		padding-left: 10px;

		p {
			margin: auto;
		}
		small {
			font-weight: 700;
			text-transform: uppercase;
		}
		.score {
			font-family: $mont;
			font-size: 1rem;
		}
	}
}
.testomonial-container {

	.swiper-container {
		padding: 20px 0;
	}
	.swiper-button {
		background: none;
		font-size: 2rem;
		color: $white;
	}
	.info {
		text-align: center;
		padding: 10px 0;

		p {
			margin: auto;
			color: $white;
		}
		.job {
			padding-top: 15px;
			font-size: .75rem;
			position: relative;

			&:before {
				position: absolute;
				content: '';
				width: 50px;
				height: 3px;
				border-radius: 2px;
				background-color: $white;
				top: 7px;
				left: 50%;
				margin-left: -25px;
			}
		}
	}
	.image {
		width: 120px;
		height: 120px;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto 10px;
		@include box-shadow(0 0 0 3px $white);

		span {
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.text {
		color: $white;
		padding: 20px 60px;
		margin: auto;
		position: relative;

		&:before, &:after {
			content: '';
			opacity: 0.5;
			color: $white;
			position: absolute;
			font-size: 2rem;
			font-family: "FontAwesome";
		}
		&:before {
			content: "\f10d";
			top: 0;
			left: 0;
		}
		&:after {
			content: "\f10e";
			bottom: 0;
			right: 0;
		}
	}
}
.bottom-text {
	padding: 40px 0;
	background-color: $dark05;
	margin: auto;

	.logo {
		height: 60px;

		img {
			max-height: 100%;
		}
	}
	.text {

		p {
			margin: auto;
		}
	}
}
.footer {
	background-color: $dark;
	padding: 40px 0;
	margin: auto;

	p {
		color: $white5;
		margin: auto;
	}
	p+p {
		color: $white;
		font-size: 1rem;
	}
	.single+.single {
		margin-top: 10px;
	}
	a {
		color: $white;
		text-decoration: underline;
	}
}
.footer-bottom {
	background-color: $black9;
	padding: 10px 0;

	p {
		color: $white3;
		margin: auto;
		text-align: center;
		font-size: 0.75rem;
	}
}
.breadcrumb-container {
	background-color: $dark05;
	font-size: 0.75rem;

	a {
		display: block;
		color: $main;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 100%;
	}
	li {
		display: block;
		padding: 5px;
		line-height: 20px;
		color: $black5;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 120px;
	}
	li+li {
		position: relative;

		&:before {
			content: '/';
			position: absolute;
			top: 5px;
			left: -3px;
		}
		
	}
}
.pagination-container {
	border-top: 1px solid $black1;
	margin: 40px auto;
	padding-top: 40px;

	a {
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		text-align: center;
		line-height: 20px;
		color: $black7;
	}
	.active a, a:hover {
		background-color: $black3;
		color: $white;
	}
	li+li {
		margin-left: 5px;
	}
	li:first-child, li:last-child {

		a {
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			background-color: $main;
			color: $white;
			margin: 0 10px;
		}
		.fa {
			padding-top: 9px;
		}
	}
	.disabled a {
		cursor: not-allowed;
		background-color: $black5 !important;
		opacity: 0.3;
	}
}
.news-list {

	.news-list-padding {
		padding:5px 20px 5px 0;
		border-right: 1px solid $black1;
	}
	.popular-list {
		padding: 5px 0;

		.single {

			.info {
				margin-top: 10px;
				height: auto;
				padding-bottom: 20px;
			}
			.text {
				display: none;
			}
		}
	}
	.single {
		margin: 10px auto;

		p {
			line-height: 20px;
			display: block;
			margin-bottom: 10px;
			color: $black9;
		}
		.info {
			height: 140px;
			overflow: hidden;
			position: relative;
		}
		.date {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: $white;
			display: block;
			width: 100%;
			height: 30px;
			margin: auto;
			padding-top: 10px;
			font-size: 0.75rem;
			color: $black5;
		}
		.title, .uni-image {
			@include transition(0.2s ease-out);
		}
		&:hover {

			.title {
				color: $main;
			}
			.uni-image {
				@include box-shadow(0 0 0 3px $main);
			}
		}
	}
}
#login-modal {

	.left-menu {
		margin: auto;

		.forgot-password {
			margin: auto;
		}
		.custom-control-label {
			margin-bottom: 0;
		}
	}
	.modal-body {
		padding: 0;
	}
	.modal-content {
		border: none;
	}
	.modal-footer {
		background-color: $main;
		border-top: 1px solid $white3;
	}
}
.inner-content {
	padding: 0 10% 20px;
	border-bottom: 1px solid $black1;

	img {
		max-width: 100%;
		padding: 20px 0;
		margin: auto;
		display: block;
	}
	ol, ul, p, table {
		line-height: 1.6;
		font-size: 0.9rem;
	}
	ul {
		list-style: none;
		padding-left: 30px;
	}
	ul li:before {
		content: "\f105";
		font-family: "FontAwesome";
		margin-right: 5px;
	}
	table {
		border: 1px solid $black1;
		max-width: 100%;
		width: 100%;
		margin-bottom: 1rem;

		td,th {
			padding: 5px;
			color: $dark9;
			border: 1px solid $black1;
		}
		th {
			text-align: center;
		}
		td {

		}
	}
	h4 {
		font-family: $mont;
		font-weight: 600;
		font-size: 1.4rem;
		color: $dark9;
		margin: 1.4rem auto 0.6rem;
	}
}
.register-form {
	margin: 20px auto;
	padding: 10px 20px;
	background-color: $dark05;

	h2 {
		padding-left: 10px;

		strong:before {
			left: 10px;
		}
	}
	h4 {
		font-family: $mont;
		font-size: 0.85rem;
		font-weight: 600;
		padding: 5px 10px;
		color: $dark7;
	}
	.custom-control-label {
		color: $dark9;
		font-size: 0.85rem;
		margin-top: 20px;

		a {
			color: $main;
			text-decoration: underline;
		}
	}
	.custom-control-label:before {
		@include box-shadow(inset 0 0 0 1px $main);
	}
	.bottom-buttons {
		margin-top: 20px;
		padding: 30px 0;
		border-top: 1px solid $black1;

		.btn+.btn {
			margin-left: 10px;
		}
	}
	.profile-image {
		padding: 10px 20px;

		.uni-image {
			max-width: 80%;
			margin-left: 10%;
			margin-bottom: 10px;
		}
		.btn+.btn {
			margin-left: 10px;
		}
	}
	.check-image {
		padding: 0 20px 10px;

		.uni-image {
			max-width: 200px;
			margin: 0 auto 10px;
		}
	}
	.cheque-text {
		font-size: 0.75rem;
		color: $dark7;
		margin: 10px auto 0;
	}
	.header-image {
		margin: -20px -20px 20px;
	}
}
.nio-tab {
	margin: 20px auto;

	.nav-item+.nav-item {
		margin-left: 5px;
	}
	.nav-link {
		background-color: $white;
		height: 120px;
		position: relative;
		border-radius: 20px;
		@include transition(0.2s ease-out);

		img {
			opacity: 0.7
		}
		strong {
			color: $dark7;
			font-family: $mont;
		}
		&:hover {
			@include box-shadow(inset 0 0 0 3px $main);
		}
		&:before {
			position: absolute;
			content: '';
			width: 0; 
		  height: 0; 
		  border-left: 10px solid transparent;
		  border-right: 10px solid transparent;
		  border-top: 10px solid $main;
		  visibility: hidden;
		  bottom: -5px;
		  @include transition(0.2s ease-out);
		  opacity: 0;
		}
	}
	.nav-link.active {
		padding: 20px 10px;
		background-color: $white;
		@include box-shadow(inset 0 0 0 3px $main);

		img {
			opacity: 1;
		}
		strong {
			color: $main;
		}
		&:before {
			opacity: 1;
			visibility: visible;
		  bottom: -10px;
		}
	}
	img {
		max-width: 110px;
		max-height: 50px;
		margin-bottom: 10px;
	}
}
.payment-content {

	.info-message {
		padding: 20px;

		
		p {
			margin:0;
			color: $dark7;
		}
	}
	.header-message {
		background-color: $white;
		padding: 20px;
		@include box-shadow(inset 0 0 0 3px $main);

		img {
			max-width: 80px;
			margin-right: 20px;
		}
	}
	.payment-message {
		background-color: $main;
		border-bottom-right-radius: 20px;
		padding: 20px;

		span {
			display: block;
			padding-left: 10px;
			margin-bottom: 5px;
			font-size: 0.75rem;
			color: $white;
		}
		img {
			@include box-shadow(0 0 0 3px $white);
			border-radius: 50%;
		}
	}
	.warning-message {
		margin: 20px auto;

		p {
			display: inline-block;
			padding: 20px 30px;
			border-radius: 40px;
			font-size: 1rem;
			text-transform: uppercase;
			line-height: 20px;
			color: $danger;
			background-color: $white;
			margin: auto;
			@include box-shadow(inset 0 0 0 3px $danger);
		}
	}
	.swiper-container {
		padding: 0 ;

		.swiper-slide {
			text-align: center;
		}
		img {
			border-radius: 20px;
			max-width: 100%;
		}
		.swiper-button {
			background: none;
			font-size: 1.4rem;
			text-align: center;
			width: 44px;
			height: 44px;
			padding: 0;
			line-height: 44px;
			border-radius: 50%;
			color: $white;
			background-color: $main;

			.fa {
				padding-top: 12px;
			}
		}
		.swiper-pagination {
			position: relative;
			margin-top: 20px;

			.swiper-pagination-bullet {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				opacity: 0.5;
				background-color: $main;
			}
			.swiper-pagination-bullet+.swiper-pagination-bullet {
				margin-left: 5px;
			}
			.swiper-pagination-bullet-active {
				background-color: $main;
				position: relative;
				opacity: 1;

				&:before {
					width: 9px;
					height: 9px;
					top: 3px;
					left: 3px;
					position: absolute;
					content: '';
					background-color: $white;
					border-radius: 50%;
				}
			}
		}
	}
}
.olympiad-header {
	background-color: $main;
	padding: 40px;
	margin: 20px auto;

	.form-group {
		margin: auto;

		label {
			padding-left: 10px;
			color: $white;
		}
		.gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons {
			color: $main;
		}
		.gj-datepicker-bootstrap [role=right-icon] button {
			border: none;
			background-color: $white;
		}
	}
}
.nio-collapse {
	margin-bottom: 20px;

	&.olympiad-collapse {

		.card-header .btn {
			background-color: $dark05;
		}
	}
	.card {
		border: none;
		background-color: transparent;
		margin-bottom: 5px;
	}
	.card-header {
		padding: 0;
		background-color: transparent;
		border: none;
		margin: 0 !important;

		.btn:hover, button[aria-expanded="true"] {
			background-color: $main !important;

			p, .title {
				color: $white;
			}
		}

		p {
			margin: auto;
			font-size: 0.75rem;
			color: $dark7;
		}
		.title {
			font-size: 1rem;
			color: $dark9;
		}
		.btn {
			display: block;
			width: 100%;
			border-radius: 0;
			text-align: left;
			border-top-left-radius: 20px !important;
    	border-bottom-right-radius: 20px !important;
		}
	}
	.single {
		position: relative;

		input[type="radio"] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
		input:checked ~ label {
			background-color: $main;

			span {
				color: $white;
			}
		}
		label {
			padding: 10px;
			width: 100%;
			text-align: center;
			background-color: $dark05;
			@include box-shadow(inset 0 0 0 1px $dark1);

			.price {
				background-color: $white;
				margin-left: 10px;
				border-radius: 20px;
				padding: 5px 10px;
				@include box-shadow(inset 0 0 0 1px $black1);
			}
			span {
				display: block;
				color: $dark7;
			}
			small {
				color: $dark7;
			}
			strong {
				color: $main;
				font-size: 1rem;
			}
		}
	}
	.button-container {
		margin: 10px auto 0;
		text-align: center;

		.btn+.btn {
			margin-left: 10px;
		}
	}
}
.top-list-container {

	.nav {
		margin-bottom: 20px;
		background-color: $main;
		padding: 40px;

		li+li {
			margin-left: 20px;
		}
		a {
			font-family: $mont;
			text-transform: uppercase;
			font-weight: 700;
			background-color: $white3;
			border-radius: 20px;
			padding: 5px 20px;
			line-height: 30px;
			color: $white;
			text-align: center;
			@include box-shadow(inset 0 0 0 1px $white5);
		}
		.active {
			background-color: $white;
			color: $main;
		}
	}
	ol {
	  list-style: none;
	  counter-reset: nio-counter;
	  padding: 0;
	}
	ol li {
	  counter-increment: nio-counter;
	  position: relative;
	  width: 25%;
	  padding: 10px;
	}
	ol li::before {
	  content: counter(nio-counter) "";
	  position: absolute;
	  top: 15px;
	  left: 15px;
	  width: 30px;
	  height: 30px;
	  line-height: 30px;
	  text-align: center;
	  background-color: $white;
	  @include box-shadow(inset 0 0 0 1px $black1);
	  color: $dark7;
	  font-weight: 600;
	  border-radius: 50%;
	  font-family: $mont;
	}
	ol li:nth-child(1) {

		.single {
			background-color: $gold;

			.name, .score {
				color: $dark !important;
			}
		}
		&::before {
			color: $gold;
		}
	}
	ol li:nth-child(2) {

		.single {
			background-color: $silver;
		}
		&::before {
			color: $silver;
		}
	}
	ol li:nth-child(3) {

		.single {
			background-color: $bronze;
		}
		&::before {
			color: $bronze;
		}
	}
	ol li:nth-child(1), ol li:nth-child(2), ol li:nth-child(3) {

		.single {

			.name, .score {
				color: $white;
			}
		}
		&::before {
			font-size: 1rem;
		}
	}
	.single {
		background-color: $dark05;
		padding: 30px;
		text-align: center;

		&:hover {
			@include box-shadow(inset 0 0 0 1px $dark1);
		}
		.name {
			margin: 0 auto 5px;
			padding-bottom: 5px;
			border-bottom: 1px solid $black1;
			line-height: 20px;
			height: 60px;
			display: flex;
			flex-direction: column !important;
			align-items: center !important;
			justify-content: center !important;

			strong {
				font-size: 1rem;
				display: block;
			}
			span {
				display: block;
			}
		}
		.score {
			font-size: 1rem;
			font-family: $mont;
			font-weight: 700;
			line-height: 20px;
		}
		.btn {
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: 20px;
			font-size: 0.75rem;
		}
		small {
			text-transform: uppercase;
			margin-right: 5px;
			font-weight: 700;
		}
	}
	.school-score {

		ol li {
			width: 33.333%;
		}
		.single {
			padding-bottom: 10px;
		}
	}
}
#score-modal {

	h2 {
		padding-left: 10px;

		strong:before {
			left: 10px;
		}
	}
	table {

		tbody tr {
			border-bottom: 1px solid $white;
		}
		tbody tr:nth-child(1) {
			background-color: $gold;
		}
		tbody tr:nth-child(2) {
			background-color: $silver;
			color: $white;
		}
		tbody tr:nth-child(3) {
			background-color: $bronze;
			color: $white;
		}
	}
	.modal-body {
		padding: 10px 20px;
	}
}
.table-add-nio {
	padding: 10px;
	@include box-shadow(inset 0 0 0 1px $dark1);
	margin-bottom: 20px;

	td {
		vertical-align: middle;
		color: $dark;
	}
}
.table-cheque {

	img {
		max-width: 100px;
		max-height: 100px;
		@include box-shadow(0 0 0 1px $black1);
	}
	.label {
		display: inline-block;
		padding: 5px 10px;
		line-height: 20px;
		border-bottom: 2px solid $main;
		color: $main;
		font-size: 0.75rem;
		font-weight: 700;
		text-transform: uppercase;

		&.label-green {
			color: $green;
			border-bottom: 2px solid $green;
		}
		&.label-red {
			color: $danger;
			border-bottom: 2px solid $danger;
		}
	}
}
.table-responsive.border-radius {
	overflow-x: auto;
}
.payment-help-container {
	padding: 20px 0 40px;

	h4 {
		color: $dark9;
		font-size: 1.2rem;
		font-weight: 700;
	}
	.single {
		background-color: $dark05;
		padding: 20px 20px 0;
		margin-bottom: 20px;

		&:hover {
			background-color: $main;
			color: $white;

			h4, strong {
				color: $white;	
			}
			.image img {

				@include transform(scale(1));
			}
		}
	}
	.image {
		height: 200px;
		background-color: $white;
		margin: 0 0 20px;

		img {
			max-width: 90%;
			@include transition(0.2s ease-out);
			@include transform(scale(0.9));
		}
	}
	.warning {
		background-color: $warning;
		text-align: center;
		padding: 10px 20px;
		color: $white;
		border-radius: 20px;
	}
	strong {
		display: block;
		color: $dark;
	}
}
.help-container {
	padding: 20px 0;

	ol {
	  list-style: none;
	  counter-reset: nio-counter;
	  padding: 0;
	  margin: 20px auto;
	}
	ol li {
	  counter-increment: nio-counter;
	  position: relative;
	  padding: 0 0 0 35px;
	}
	ol li::before {
	  content: counter(nio-counter) "";
	  position: absolute;
	  top: 0	;
	  left: 0;
	  width: 30px;
	  padding-bottom: 10px;
	  text-align: center;
	  color: $dark7;
	  font-weight: 600;
	  border-radius: 50%;
	  font-family: $mont;
	}
	ol li::after {
		position: absolute;
		content: '';
		width: 20px;
		height: 3px;
		border-radius: 2px;
		background-color: $dark1;
		top: 20px;
		left: 0;
	}
	a {
		color: $main;
		text-decoration: underline;
	}
	p {
		margin-bottom: 5px;
		text-align: justify;
	}
	li {

		.question {
			margin-bottom: 5px;
			font-size: 1rem;
			color: $dark7;
		}
		&+li {
			margin-top: 30px;
		}
	}
}
.contact-container {
	margin-bottom: 20px;

	.contact-form {
		background-color: $dark05;
		padding: 30px 20px;
		width: 100%;
		margin: 20px auto;
	}
	.contact-info {
		margin: 20px auto;

		dt {
			color: $dark7;
		}
		dd {	
			font-size: 1rem;
			color: $dark;
		}
		a {
			color: $main;
			text-decoration: underline;
		}
		.help-text {
			margin: auto;
			font-size: .75rem;
			color: $dark7;
		}
	}
}
.certificate-container {

	.single {
		padding: 10px;
		@include box-shadow(inset 0 0 0 1px $black1);
		@include transition(0.2s ease-out);
		margin: 10px auto;
		background-color: $white;

		&:hover {
			@include box-shadow(inset 0 0 0 3px $main);
		}
	}
	.button-container {

		.btn {
			min-width: 80%;
		}
		.btn+.btn {
			margin: 10px 0 0 0;
		}
	}
	.uni-image {
		
		margin-bottom: 10px;

		&:before {
			padding-bottom: 100%;
		}
		span {
			background-size: contain;
		}
	}
	.empty-message {
		background-color: $white;
		height: 150px;
		width: 80%;
		margin-left: 10%;
		padding: 40px;

		p {
			color: $dark3;
			font-weight: 700;
			font-size: 1.6rem;
			margin: auto;
		}
	}
	.card-header button {
		background-color: $white;
		@include box-shadow(inset 0 0 0 1px $black1);
	}
}
.select-year {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $black1;

	a {
		display: block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		border-radius: 50%;
		color: $dark7;
		background-color: $white;
		text-align: center;
	}
	li+li {
		margin-left: 10px;
	}
	.active a, a:hover {
		background-color: $main;
		color: $white;
	}
}
.results-container {

	.single-result {
		background-color: $white;
		padding: 10px;
		@include box-shadow(inset 0 0 0 1px $black1);
		margin: 10px auto;

		.name {
			width: 100%;
			height: 50px;
			line-height: 20px;
			font-size: 1rem;
			overflow: hidden;
			text-align: center;

			strong {
				font-size: 0.85rem;
				line-height: 10px;
				display: block;
				color: $dark;
			}
		}
		p {
			margin: 0;
		}
		.score {
			text-transform: uppercase;
			text-align: center;
			font-size: 1rem;
			border-top: 1px solid $black1;
			padding: 5px 0 10px;
			display: block;
			line-height: 20px;

			strong {
				font-size: 1.2rem;
				color: $dark;
			}
		}
		&:hover {
			@include box-shadow(inset 0 0 0 3px $main);
			@include transition(0.2s ease-out);

			.name {
				color: $main;
			}
		}
	}
	.certificate-action {
		background-color: $dark05;
		padding: 10px 5px;
		margin: 10px auto 0;

		p {
			margin: 0 auto 5px;
			font-size: 0.75rem;
			color: $dark7;
		}
	}
}
#add-modal {

	.modal-body {

	}
	form {
		background-color: $dark05;
		padding: 30px 20px 20px;
	}
}
#language-modal {

	h4 {
		font-size: 1.2rem;
		border-bottom: 1px solid $black1;
		padding-bottom: 10px;

		span {
			text-transform: uppercase;
			font-size: 0.85rem;
			padding-bottom: 10px;
			color: $dark7;
		}
		strong {
			color: $dark9;
			display: block;
		}
	}
	p {
		color: $dark5;

		strong {
			color: $main;
		}
	}
	.single {
		position: relative;

		&+.single {
			margin-left: 10px;
		}

	}
	input[type="radio"] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	input:checked ~ label {
		background-color: $main;

		span {
			color: $white;
		}
	}
	label {
		width: 150px;
		padding: 30px 10px;
		text-align: center;
		@include box-shadow(inset 0 0 0 1px $dark1);

		span {
			padding-top: 10px;
			display: block;
			text-transform: uppercase;
			font-family: $mont;
			font-size: 0.75rem;
			font-weight: 700;
		}
		img {
			@include box-shadow(0 0 0 1px $black1);
		}
	}
}
.olympiad-container {

	h4 {
		font-family: $mont;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 5px 10px;
    color: $dark7;
	}
}
.big-result-header {
	background-color: $dark05;
	padding: 20px;

	.single {
		padding: 20px 10px;
		background-color: $white;

		.uni-image:before {
			padding-bottom: 100%;
		}
		.name {
			margin: 0;
			height: 100%;
			color: $dark9;
		}
		.rank {
			margin: 10px 0 0;
			padding: 5px;
			border-bottom: 1px solid $black1;
			color: $dark7;
			font-size: 0.75rem;
			text-align: center;
		}
		.work {
			padding: 5px;
			margin: 0;
		}
	}
	.tab-content {
		background-color: $white;
	}
	.nav-item {

		.active, a:hover {
			background-color: $white;
			color: $main;
		}
		a {
			color: $dark7;
			line-height: 20px;
			border: none;
			padding: 10px 15px;
		}
		span {
			display: block;
			line-height: 20px;
			padding: 10px 15px;
			font-weight: 700;
			color: $dark5;
			font-size: 0.75rem;
			text-transform: uppercase;
		}
	}
}
.table-results-big {

	.medal {
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-weight: 700;
		font-family: $mont;
		border-radius: 50%;
		

		&.bronze, &.silver, &.gold {
			@include box-shadow(inset 0 0 0 1px $dark3);
		}
		&.bronze {
			background-color: $bronze;
			color: $white;
		}
		&.silver {
			background-color: $silver;
			color: $white;
		}
		&.gold {
			background-color: $gold;
			color: $dark9;
		}
	}
}
.live-test {

	.answer-list {

		.number-answer {
			padding: 10px;
			@include box-shadow(0 0 0 1px $black1);
			border-radius: 20px;
			margin: 10px auto;

			p {
				margin: 0 0 10px !important;
				color: $dark7;
				display: block;
			}
		}
	}
	h4 {
		font-family: $mont;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 10px 0;
    color: $dark7;
	}
	.test-numbers {
		display: inline-block;
		padding: 5px 20px;
		color: $dark7;
		text-transform: uppercase;
		font-size: 0.75rem;

		strong {
			font-size: 0.9rem;
			color: $main;
		}
	}
	.test-short-list {
		background-color: $dark05;
		padding: 20px;
		margin: 20px auto;

		ul  {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid $black1;
		}
		ul li {
			padding: 5px;
			width: 20%;
		}
		ul a {
			display: block;
			width: 100%;
			text-align: center;
			padding: 5px 5px 10px;
			background-color: $dark05;
			@include box-shadow(inset 0 0 0 1px $black1);
			color: $dark7;
			border-radius: 2px;
			position: relative;

			&:before {
				position: absolute;
				bottom: -4px;
				font-size: .65rem;
				color: $white;
				line-height: 17px;
				width: 17px;
				height: 17px;
				left: 50%;
				border-radius: 50%;
				@include transform(translateX(-50%));
				text-align: center;
			}
		}
		ul strong {

		}
		.done a {
			@include box-shadow(inset 0 0 0 2px $main3);
			color: $main;

			&:before {
				content: "\f00c";
				font-family: "FontAwesome";
				background-color: $main;
			}
		}
		.active a, a:hover {
			@include box-shadow(inset 0 0 0 2px $green);
			color: $green;
		}
		.fail a {
			@include box-shadow(inset 0 0 0 2px $danger);
			color: $danger;

			&:before {
				content: "\f00d";
				font-family: "FontAwesome";
				background-color: $danger;
			}
		}
		.good a {
			@include box-shadow(inset 0 0 0 2px $green);
			color: $green;

			&:before {
				content: "\f00c";
				font-family: "FontAwesome";
				background-color: $green;
			}
		}
		.timer {
	    margin: 10px auto 0;
	    font-size: 1rem;
	    
	    span {
	      font-weight: 700;
	      display: inline-block;
	      background-color: $main;
	      color: $white;
	      padding: 5px 10px;
	      border-radius: 5px;
	    }
	  }
	}
	.test-single {
		margin: 20px auto;
		@include box-shadow(inset 0 0 0 1px $black1);
		padding: 20px;

		h4 {
			border-bottom: 1px solid $black1;
			padding-bottom: 10px;
			margin-bottom: 10px;
			line-height: 25px;

			strong {
				background-color: $dark05;
				padding: 2px 5px;
				border-radius: 2px;
				font-size: 0.85rem;
    		margin-right: 10px;
			}

		}
		.select-answer {
			display: block;
			margin-top: 5px;
			

			small {
				padding: 2px 5px;
				background-color: $dark3;
				border-radius: 2px;
				color: $white;
				font-weight: 700;
			}
		}
		.form-check {
			padding: 0;
			position: static;
		}
		li {
			position: relative;
		}
		li+li {
			margin-top: 5px;
		}
		li:hover label {
			background-color: $dark05;
		}
		
		label.form-check-label {
			padding: 10px 10px 10px 20px;
			display: block;
			font-size: 1rem;
			line-height: 30px;
			border-radius: 2px;
			border-radius: 25px;

			&:before {
				width: 30px;
				height: 30px;
				content: '';
				position: absolute;
				@include box-shadow(inset 0 0 0 2px $black3);
				border-radius: 50%;
				top: 50%;
				left: 10px;
				@include transform(translateY(-50%));
			}
			&:after {
				width: 30px;
				height: 30px;
				content: "\f00c";
				font-family: "FontAwesome";
				position: absolute;
				text-align: center;
				top: 50%;
				left: 10px;
				@include transform(translateY(-50%));
				opacity: 0;
				visibility: hidden;
				background-color: $main;
				border-radius: 50%;
			}
		}
		input[type="radio"], input[type="checkbox"] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
		input[type="radio"]:checked ~ label, input[type="checkbox"]:checked ~ label {
			background-color: $main;
			color: $white;

			&:before {
				@include box-shadow(inset 0 0 0 2px $white);
			}
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
		&.test-cross {

			label:after {
				content: "\f00d";
			}
		}
		ol {
		  list-style: none;
		  counter-reset: nio-counter;
		  padding: 0;
		  margin: 20px auto;
		}
		ol li {
		  counter-increment: nio-counter;
		  position: relative;
		  padding: 5px 5px 5px 50px;
		  background-color: $dark05;
		  font-size: 1rem;
		  border-radius: 20px;
		  border: 5px solid $white;
		}
		ol li::before {
		  content: counter(nio-counter, upper-latin) "";
		  position: absolute;
		  top: 50%;
		  left: 10px;
		  width: 30px;
		  height: 30px;
		  @include box-shadow(0 0 0 2px $dark1);
		  line-height: 30px;
		  text-align: center;
		  color: $dark7;
		  font-weight: 600;
		  border-radius: 50%;
		  font-family: $mont;
		  @include transform(translateY(-50%));
		  background-color: $white;
		}
		.cross-form {

			.form-group {
				width: 100%;
				padding: 10px;
				margin: auto;

			}
			p {
				margin: auto;
			}
			.help-text {
				color: $dark9;
				font-size: 0.85rem;

				span {
					font-size: 0.75rem;
					text-transform: uppercase;
					font-family: $mont;
					font-weight: 700;
				}
				strong {
					background-color: $dark05;
					display: block;
					padding: 2px 5px;
					border-radius: 2px;

					&+strong {
						margin-top: 5px;
					}
					&:hover {
						background-color: $white;
						@include box-shadow(0 0 0 1px $black3);
					}
				}
			}
			.good {
				background-color: $green;

				p {
					color: $white;
				}
			}
			.fail {
				background-color: $danger;

				p {
					color: $white;
				}
				label.form-check-label:after {
					background-color: $danger;
				}
			}
		}
	}
	.test-action {
		margin: 20px auto 40px;
	}
	&.test-result {

		input[type="radio"], input[type="checkbox"] {
			display: none;
		}
		input[type="radio"]:checked ~ label, input[type="checkbox"]:checked ~ label {
			background-color: transparent;
			color: $dark9;

			&:before {
				@include box-shadow(inset 0 0 0 2px $white);
			}
			&:after {
				opacity: 0;
				visibility: hidden;
			}
		}
		li.good label {
			background-color: $green;
			color: $white;

			&:before {
				width: 30px;
				height: 30px;
				content: '';
				position: absolute;
				@include box-shadow(inset 0 0 0 2px $white);
			}
			&:after {
				content: "\f00c";
				opacity: 1;
				visibility: visible;
			}
			&.form-check-label:after {
				background-color: $green;
			}
		}
		li.fail label {
			background-color: $danger;
			color: $white;

			&:before {
				width: 30px;
				height: 30px;
				content: '';
				position: absolute;
				@include box-shadow(inset 0 0 0 2px $white);
			}
			&:after {
				content: "\f00d";
				opacity: 1;
				visibility: visible;
			}
			&.form-check-label:after {
				background-color: $danger;
			}
		}
	}
	.image-cross {

		ul, ol {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		li {
			width: 50%;
			margin: auto;
			padding: 10px 10px 50px 10px !important;

			&:before {
				top: auto !important;
				bottom: 10px;
    		left: 50% !important;
    		@include transform(translate(-50%, 0) !important) ;
			}
			.form-check {
				@include box-shadow(0 0 0 1px $black1);
				border-radius: 25px;
			}
			label.form-check-label {
				padding: 10px 10px 40px 10px !important;

				&:before, &:after {
					top: auto !important;
    			left: 50% !important;
    			bottom: 10px;
    			@include transform(translate(-50%, 0) !important) ;
				}
			}
		}
		img {
			margin: 5%;
			max-width: 90%;
		}
	}
	.image-cross-real {

		ol li {
			background-color: transparent;
			padding: 10px;
			margin: 0;

			&:before {
				left: 20px;
			}
		}
		.single-cross {
			background-color: $dark05;
			border-top-left-radius: 20px;
			border-bottom-right-radius: 20px;
			padding: 10px 10px 10px 50px;

			img {

			}
			.form-group {
				padding: 10px 0;
			}
		}
	}	
}
@media (max-width: 1024px) {

	.news-list .single {

		.title {
			margin-top: 10px;
		}
		.info {
			height: 150px;
		}
	}
	.top-list-container  {

		.single .name {
			display: flex;
			flex-direction: column !important;
			align-items: center !important;
			justify-content: center !important;
		}
		.region-score {

			.single .name {
				height: 40px;
				flex-direction: row !important;
			}
			.single {
				padding-bottom: 60px;
			}
		}
		.area-score {

			.single {
				padding-bottom: 60px;
			}
			.single .name {
				height: 80px;
			}
		}
		.school-score {

			ol li {
				width: 50%;
			}
			.single {
				padding-bottom: 10px;
			}
		}
	}
}
@media (max-width: 768px) {

	.logo-container .logo {
		height: 40px;
	}
	.top-slide {
		
		&:after {
			padding-bottom: 45%;
			display: block;
			content: '';
		}
	}
	.bottom-slide {
		
		&:after {
			padding-bottom: 75%;
			display: block;
			content: '';
		}
	}
	.footer .single {
		margin: 5px auto;
		padding: 0 20px;

		&+ .single {
			margin: auto;
		}
	}
	.news-container .single {
		margin: 20px auto;
	}
	.testomonial-container {

		.info {
			width: 70%;
			margin-left: 15%;
			text-align: center;
		}
		.text {
			text-align: center;
		}
	}
	.bottom-text {
		padding: 20px 0;

		.logo {
			text-align: center;
			width: 100%;
			margin-bottom: 20px;
		}
		.text {
			margin-left: 5%;
			width: 90%;
			text-align: center;
		}
	}
	.mobile-button, .mobile-profile-button {
		width: 40px;
		height: 40px;
		border-radius: 5px;
		text-align: center;
		line-height: 40px;
		color: $white;
		font-size: 1.2rem;

		&:active, &:focus {
			color: $white;
		}
	}
	.mobile-button {
		background-color: $green;

		&:active, &:focus {
			color: $white;
		}
	}
	.mobile-profile-button {
		background-color: $main;
		margin-right: 10px;

		&:active, &:focus {
			color: $white;
		}
	}
	.wrap {
		@include transition(0.2s ease-out);
		position: relative;
		left: 0;
		
		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $black7;
			z-index: 2;
			visibility: hidden;
			opacity: 0;
			@include transition(0.2s ease-out);
		}
		.menu-container {
			opacity: 0;
			visibility: hidden;
			@include transition(0.2s ease-out);
			position: fixed;
			top: 0;
			right: 0;
			width: 260px;
			height: 100%;
			overflow-y: auto;
			@include box-shadow(-3px 0 5px $black3);
			z-index: 0;

			ul {
				display: block !important;
			}
		}
		.mobile-button {
			z-index: 5;

			.fa {
				@include transition(0.2s ease-out);
				line-height: 40px;
			}
			.fa-times {
				display: none;
			}
			.fa-navicon {
				display: block;
			}
		}
		.mobile-nav-top {
			text-align: center;
			padding: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid $white3;
			visibility: hidden;
			opacity: 0;


			a {
				color: $white9;
			}
		}
	}
	.slide-container {
		padding: 0;
	}
	.wrap.activated {
		left: -260px;
		overflow: hidden;

		&:before {
			opacity: 1;
			visibility: visible;
		}
		.menu-container {
			opacity: 1;
			visibility: visible;
		}
		.mobile-button {
			position: fixed;
			top: 40px;
			right: 270px;
			background-color: $danger;

			.fa {
				@include transition(0.2s ease-out);
			}
			.fa-times {
				display: block;
			}
			.fa-navicon {
				display: none;
			}
		}
		.mobile-nav-top {
			display: block;
			visibility: visible;
			opacity: 1;
			a {
				padding: 5px 0 5px 5px;
			}
		}
		.mobile-profile-button {
			z-index: 1;
			margin-right: 0;
		}
	}
	.wrap {

		.logged-left-menu {
			opacity: 0;
			visibility: hidden;
			@include transition(0.2s ease-out);
			position: fixed;
			top: 0;
			right: 0;
			width: 260px;
			height: 100%;
			overflow-y: auto;
			@include box-shadow(-3px 0 5px $black3);
			z-index: 5;
			margin-top: 0;
			border-radius: 0;
		}
		.mobile-profile-button {
			z-index: 5;

			.fa {
				@include transition(0.2s ease-out);
				line-height: 40px;
			}
			.fa-times {
				display: none;
			}
			.fa-user {
				display: block;
			}
		}
	}
	.wrap.activate-profile {
		left: -260px;
		overflow: hidden;

		.mobile-button {
			z-index: 1;
		}
		.logged-left-menu {
			opacity: 1;
			visibility: visible;
		}
		&:before {
			opacity: 1;
			visibility: visible;
		}
		.mobile-profile-button {
			margin-right: 0;
			z-index: 5;
			position: fixed;
			top: 40px;
			right: 270px;
			background-color: $danger;

			.fa {
				@include transition(0.2s ease-out);
				line-height: 40px;
			}
			.fa-times {
				display: block;
			}
			.fa-user {
				display: none;
			}
		}
	}
	.olympiad-score-container .single {
		padding: 10px;

		.text {
			height: 100px;
		}
	}
	.news-list .news-list-padding {
		padding: 5px 0;
		border: none;
	}
	.news-list .single {

		.info {
			height: 140px;
		}
		.text {
			display: none;
		}
	}
	.mobile-user {
		border-top: 1px solid $black1;
		padding: 5px 20px;
		margin-bottom: 10px;

		.btn-block+.btn-block {
			margin: 0 0 0 10px;
		}
	}
	.inner-content {
		padding: 0 2.5% 20px;
	}
	.nav  {

		.nav-item {
			width: 50%;
			margin: 10px 0;
		}		
	}
	.payment-content .header-message .info-message img {
		margin: 0 0 20px;
	}
	.olympiad-header .form-group {
		margin-bottom: 20px;
	}
	.olympiad-container {

		.btn-green.btn-big {
			margin-bottom: 20px;
		}
		.card-body {
			padding: 20px 0;
		}
	}
	.top-list-container  {

		.nav {
			padding: 20px 10px;

			li+li {
				margin-left: 5px;
			}
			a {
				padding: 5px 10px;
			}
		}
		.single .name {
			display: flex;
			flex-direction: column !important;
			align-items: center !important;
			justify-content: center !important;
		}
		.region-score, .area-score {

			li {
				width: 33.3333%;
			}
		}
		.region-score {

			.single .name {
				height: 40px;
				flex-direction: row !important;
			}
			.single {
				padding-bottom: 40px;
			}
		}
		.area-score {

			.single {
				padding-bottom: 40px;
			}
			.single .name {
				height: 80px;
			}
		}
		.school-score {

			ol li {
				width: 50%;
			}
			.single {
				padding-bottom: 10px;
			}
		}
	}
	.left-menu .social-login {
		border: none;

		ul {
			background-color: $white1;
			padding: 5px;
			border-radius: 25px;
			@include box-shadow(inset 0 0 0 1px $white3);
		}
	}
	.big-result-header {

		.nav .nav-item {
			width: auto;
			margin: 0;
		}
	}
}
@media (max-width: 576px) { 
	.top-list-container  {

		.nav {
			padding: 20px 10px;

			li+li {
				margin-left: 5px;
			}
			a {
				padding: 5px 10px;
			}
		}
		.single .name {
			display: flex;
			flex-direction: column !important;
			align-items: center !important;
			justify-content: center !important;
		}
		.region-score, .area-score {

			li {
				width: 50%;
			}
		}
		.region-score {

			.single .name {
				height: 40px;
				flex-direction: row !important;
			}
			.single {
				padding: 40px 10px 60px;
			}
		}
		.area-score {

			.single {
				padding: 40px 10px 60px;
			}
			.single .name {
				height: 80px;
			}
		}
		.school-score {

			ol li {
				width: 100%;
			}
			.single {
				padding: 40px 20px 10px;
			}
		}
	}
	.register-form {

		.custom-control {
			width: 50%;
			margin: auto;

		}
	}
	.payment-help-container .single {
		height: auto;
	}
	.register-form .custom-control {
		width: 100%;
	}
	.big-result-header {

		.nav .nav-item {
			width: auto;
			margin: 0;

			&:first-child {
				display: block;
				width: 100%;
				text-align: center;

				span {
					font-size: 1rem;
				}
			}
		}
	}
	.live-test .test-short-list li {
		width: 20%;
	}
	.live-test {

		.image-cross {
			
			li {
				width: 100%;
			}
		}
	}
}