$mont: 'Montserrat', sans-serif;
$fira: 'Fira Sans', sans-serif;

$dark05: rgba(38, 50, 56, 0.05);
$dark1: rgba(38, 50, 56, 0.1);
$dark2: rgba(38, 50, 56, 0.2);
$dark3: rgba(38, 50, 56, 0.3);
$dark4: rgba(38, 50, 56, 0.4);
$dark5: rgba(38, 50, 56, 0.5);
$dark6: rgba(38, 50, 56, 0.6);
$dark7: rgba(38, 50, 56, 0.7);
$dark8: rgba(38, 50, 56, 0.8);
$dark9: rgba(38, 50, 56, 0.9);
$dark: rgba(38, 50, 56, 1);

$gray05: rgba(73, 75, 87, 0.05);
$gray1: rgba(73, 75, 87, 0.1);
$gray2: rgba(73, 75, 87, 0.2);
$gray3: rgba(73, 75, 87, 0.3);
$gray4: rgba(73, 75, 87, 0.4);
$gray5: rgba(73, 75, 87, 0.5);
$gray6: rgba(73, 75, 87, 0.6);
$gray7: rgba(73, 75, 87, 0.7);
$gray8: rgba(73, 75, 87, 0.8);
$gray9: rgba(73, 75, 87, 0.9);
$gray: rgba(73, 75, 87, 1);

$main1: rgba(0, 188, 212, 0.1);
$main2: rgba(0, 188, 212, 0.2);
$main3: rgba(0, 188, 212, 0.3);
$main4: rgba(0, 188, 212, 0.4);
$main5: rgba(0, 188, 212, 0.5);
$main6: rgba(0, 188, 212, 0.6);
$main7: rgba(0, 188, 212, 0.7);
$main8: rgba(0, 188, 212, 0.8);
$main9: rgba(0, 188, 212, 0.9);
$main: rgba(0, 188, 212, 1);

$green1: rgba(139, 195, 74, 0.1);
$green2: rgba(139, 195, 74, 0.2);
$green3: rgba(139, 195, 74, 0.3);
$green4: rgba(139, 195, 74, 0.4);
$green5: rgba(139, 195, 74, 0.5);
$green6: rgba(139, 195, 74, 0.6);
$green7: rgba(139, 195, 74, 0.7);
$green8: rgba(139, 195, 74, 0.8);
$green9: rgba(139, 195, 74, 0.9);
$green: rgba(139, 195, 74, 1);

$warning1: rgba(255,155,0,0.1);
$warning2: rgba(255,155,0,0.2);
$warning3: rgba(255,155,0,0.3);
$warning4: rgba(255,155,0,0.4);
$warning5: rgba(255,155,0,0.5);
$warning6: rgba(255,155,0,0.6);
$warning7: rgba(255,155,0,0.7);
$warning8: rgba(255,155,0,0.8);
$warning9: rgba(255,155,0,0.9);
$warning: rgba(255,155,0,1);

$success1: rgba(76,175,80,0.1);
$success2: rgba(76,175,80,0.2);
$success3: rgba(76,175,80,0.3);
$success4: rgba(76,175,80,0.4);
$success5: rgba(76,175,80,0.5);
$success6: rgba(76,175,80,0.6);
$success7: rgba(76,175,80,0.7);
$success8: rgba(76,175,80,0.8);
$success9: rgba(76,175,80,0.9);
$success: rgba(76,175,80,1);

$info1: rgba(0,122,255,0.1);
$info2: rgba(0,122,255,0.2);
$info3: rgba(0,122,255,0.3);
$info4: rgba(0,122,255,0.4);
$info5: rgba(0,122,255,0.5);
$info6: rgba(0,122,255,0.6);
$info7: rgba(0,122,255,0.7);
$info8: rgba(0,122,255,0.8);
$info9: rgba(0,122,255,0.9);
$info: rgba(0,122,255,1);

//Color Black
$black05: rgba(0,0,0,0.05);
$black1: rgba(0,0,0,0.1);
$black2: rgba(0,0,0,0.2);
$black3: rgba(0,0,0,0.3);
$black4: rgba(0,0,0,0.4);
$black5: rgba(0,0,0,0.5);
$black6: rgba(0,0,0,0.6);
$black7: rgba(0,0,0,0.7);
$black8: rgba(0,0,0,0.8);
$black9: rgba(0,0,0,0.9);
$black: rgba(0,0,0,1);

//Color White
$white1: rgba(255,255,255,0.1);
$white2: rgba(255,255,255,0.2);
$white3: rgba(255,255,255,0.3);
$white4: rgba(255,255,255,0.4);
$white5: rgba(255,255,255,0.5);
$white6: rgba(255,255,255,0.6);
$white7: rgba(255,255,255,0.7);
$white8: rgba(255,255,255,0.8);
$white9: rgba(255,255,255,0.9);
$white: rgba(255,255,255,1);

//Color socials
$facebook9: rgba(59,89,153 ,0.9);
$facebook: rgba(59,89,153 ,1);
$youtube: rgba(229,45,39 ,1);
$instagram: rgba(63,114,155 ,1);
$twitter: rgba(85,172,238 ,1);
$linkedin: rgba(0,119,181 ,1);
$google9: rgba(221,75,57 ,0.9);
$google: rgba(221,75,57 ,1);
$tumblr: rgba(52,70,93 ,1);
$vk: rgba(76,117,163 ,1);
$mailru: rgba(22,141,226 ,1);

//Material-color
$danger1: rgba(244,67,54,0.1);
$danger2: rgba(244,67,54,0.2);
$danger3: rgba(244,67,54,0.3);
$danger4: rgba(244,67,54,0.4);
$danger5: rgba(244,67,54,0.5);
$danger6: rgba(244,67,54,0.6);
$danger7: rgba(244,67,54,0.7);
$danger8: rgba(244,67,54,0.8);
$danger9: rgba(244,67,54,0.9);
$danger: rgba(244,67,54,1);

//Color socials
$red: rgba(255,31,25,1);
$pink: rgba(233,30,99,1);
$purple: rgba(120,104,255,1);
$indigo: rgba(63,81,181,1);
$cyan: rgba(0,188,212,1);
$lime: rgba(205,220,57,1);
$yellow: rgba(255,235,59,1);
$orange: rgba(255,152,0,1);
$brown: rgba(121,85,72,1);
$gold: rgba(255,193,7,1);
$silver: rgba(158,158,158,1);
$bronze: rgba(230,81,0,1);


@mixin transform($translate) {
  -webkit-transform: $translate;
  -moz-transform: $translate;
  -ms-transform: $translate;
  -o-transform: $translate;
  transform: $translate;
}
@mixin box-shadow($bshadow) {
  -webkit-box-shadow: $bshadow;
  -moz-box-shadow: $bshadow;
  -ms-box-shadow: $bshadow;
  -o-box-shadow: $bshadow;
  box-shadow: $bshadow;
}
@mixin box-shadow-double($bshadow1, $bshadow2) {
  -webkit-box-shadow: $bshadow1, $bshadow2;
  -moz-box-shadow: $bshadow1, $bshadow2;
  -ms-box-shadow: $bshadow1, $bshadow2;
  -o-box-shadow: $bshadow1, $bshadow2;
  box-shadow: $bshadow1, $bshadow2;
}
@mixin text-shadow($tshadow) {
  -webkit-text-shadow: $tshadow;
  -moz-text-shadow: $tshadow;
  -ms-text-shadow: $tshadow;
  -o-text-shadow: $tshadow;
  text-shadow: $tshadow;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin filter($filter) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -ms-filter: $filter;
  -o-filter: $filter;
  filter: $filter;
}
@mixin gradient($from, $to) {
  background: -webkit-linear-gradient($from, $to);
  background: -moz-linear-gradient($from, $to);
  background: -ms-linear-gradient($from, $to);
  background: -o-linear-gradient($from, $to);
  background: linear-gradient($from, $to);
}
@mixin multi-gradient($deg, $multi1, $multi2, $multi3, $multi4) {
  background: -webkit-linear-gradient($deg, $multi1, $multi2, $multi3, $multi4);
  background: -moz-linear-gradient($deg, $multi1, $multi2, $multi3, $multi4);
  background: -ms-linear-gradient($deg, $multi1, $multi2, $multi3, $multi4);
  background: -o-linear-gradient($deg, $multi1, $multi2, $multi3, $multi4);
  background: linear-gradient($deg, $multi1, $multi2, $multi3, $multi4);
}
@mixin deg-gradient($deg, $from, $to) {
  background: -webkit-linear-gradient($deg, $from, $to);
  background: -moz-linear-gradient($deg, $from, $to);
  background: -ms-linear-gradient($deg, $from, $to);
  background: -o-linear-gradient($deg, $from, $to);
  background: linear-gradient($deg, $from, $to);
}
@mixin three-gradient($deg, $from, $mid, $to) {
  background: -webkit-linear-gradient($deg, $from, $mid, $to);
  background: -moz-linear-gradient($deg, $from, $mid, $to);
  background: -ms-linear-gradient($deg, $from, $mid, $to);
  background: -o-linear-gradient($deg, $from, $mid, $to);
  background: linear-gradient($deg, $from, $mid, $to);
}
@mixin blend($blend-mode) {
  background-blend-mode: $blend-mode;
  -o-background-blend-mode: $blend-mode;
  -ms-background-blend-mode: $blend-mode;
  -moz-background-blend-mode: $blend-mode;
  -webkit-background-blend-mode: $blend-mode;
}
@mixin calc($width, $percent) {
  #{$width}: calc(#{$percent});
  #{$width}: -o-calc(#{$percent});
  #{$width}: -ms-calc(#{$percent});
  #{$width}: -moz-calc(#{$percent});
  #{$width}: -webkit-calc(#{$percent});
}
@mixin backface($visibility) {
  backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
  -ms-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -webkit-backface-visibility: $visibility;
}
.nopad {
  padding-right: 0;
  padding-left: 0;
}
.pad5 {
  padding-right: 5px;
  padding-left: 5px;
}
.pad10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pad20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.pad5left {
  padding-left: 5px;
  padding-right: 0;
}
.pad5right {
  padding-left: 0;
  padding-right: 5px;
}
.pad10left {
  padding-right: 0;
  padding-left: 10px;
}
.pad10right {
  padding-left: 0;
  padding-right: 10px;
}
.norow {
  margin: auto;
}
.row5 {
  margin-left: -5px;
  margin-right: -5px;
}
.row10 {
  margin-left: -10px;
  margin-right: -10px;
}
.row20 {
  margin-left: -20px;
  margin-right: -20px;
}
.row-left {
  margin-right: 0;
}
.row-right {
  margin-left: 0;
}
.img-responsive, .list-inline, .list-unstyled {
  margin: auto;
}
.list-inline li {
  padding: 0;
}
.v-mid:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: '';
}
.clr:after {
  clear: both;
  content: '';
  display: table;
}
a:hover {
  text-decoration: none;
}
.border-radius {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.form-control, .custom-select {
  border-radius: 20px;
  font-size: 0.85rem;
  height: 40px;
  padding: 5px 5px 5px 20px;
  border: none;
}
textarea.form-control {
  padding: 10px 20px;
}
.btn {
  padding: 10px 20px;
  line-height: 20px;
  font-size: 0.85rem;
  border-radius: 20px;
  border: none;
}
.btn-secondary {

  &.btn-small {
    padding: 5px 10px;
  }
}
.btn-green {
  color: $white;
  background-color: $green;
  @include box-shadow(inset 0 0 0 1px $black1);

  &:hover {
    background-color: $white;
    color: $green;
    @include box-shadow(inset 0 0 0 2px $green);
  }
  &.btn-big {
    font-size: 1rem;
    padding: 10px 40px;
    @include box-shadow(0 0 0 3px $white);
    min-width: 200px;
  }
  &.btn-small {
    padding: 5px 10px;
  }
}
.btn-outline {
  color: $white;
  @include box-shadow(inset 0 0 0 3px $white);

  &:hover {
    background-color: $white;
    color: $main;
    @include box-shadow(0 3px 5px $black3);
  }
}
.btn-blue {
  color: $white;
  background-color: $main;
  @include box-shadow(inset 0 0 0 1px $black1);

  &:hover {
    background-color: $white;
    color: $main;
    @include box-shadow(inset 0 0 0 2px $main);
  }
}
.btn-link {
  padding: 10px 0;
  color: $main;
  text-decoration: underline;
}
.custom-control-label {
  color: $white;
  margin-bottom: 20px;
  margin-left: 10px;

  &:before {
    border-radius: 50% !important;
    border: none;
    top: 0;
  }
  &:after {
    top: 0;
  }
}
.btn-red {
  padding: 10px 15px;
  background-color: $danger;
  color: $white;
  @include box-shadow(inset 0 0 0 1px $black1);

  &:hover {
    color: $danger;
    @include box-shadow(inset 0 0 0 2px $danger);
    background-color: white;
  }
}
.btn-block+.btn-block {
  margin-top: 10px;
}
h2 {
  font-family: $mont;
  color: $black9;
  font-size: 0.85rem;
  text-transform: uppercase;
  position: relative;
  padding: 10px 20px;
  margin: 10px auto;

  strong:before {
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 3px;
    border-radius: 2px;
    background-color: $main;
    content: '';
    width: 100px;
  }
  &.center {
    text-align: center;

    strong:before {
      left: 50%;
      margin-left: -50px;
    }
  }
  &.white {
    color: $white;

    strong:before {
      background-color: $white;
    }
  }
  .timer {
    margin: 10px auto 0;
    
    span {
      font-weight: 700;
      display: inline-block;
      background-color: $main;
      color: $white;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}
h4.title {
  font-family: $mont;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 5px 10px;
  color: $dark7;
}
.section {
  padding: 10px 0;
  margin-top: 20px;

  &.section-gray {
    background-color: $dark05;
  }
  &.section-blue {
    background-color: $main;
  }
}
.uni-image {
  position: relative;

  &:before {
    content: '';
    padding-bottom: 75%;
    display: block;
  }
  span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@import 'style';
